<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="authorization-form-wrapper">
    <label for="new-password" class="form-label">
      <input id="new-password"
             class="form-input"
             name="current-password"
             required
             autocomplete="current-password"
             [type]="!passwordVisible ? 'password' : 'text'"
             placeholder="New Password*"
             formControlName="password">
      <span class="error-message" *ngIf="form.get('password')?.errors && form.get('password')?.touched">This is a required field</span>
      <span class="view-icon">
          <img *ngIf="!passwordVisible" (click)="changePasswordVisibility()" src="assets/images/visiblePassword.svg" alt="VisiblePassword" width="27" height="17">
          <img *ngIf="passwordVisible" (click)="changePasswordVisibility()" src="assets/images/invisiblePassword.png" alt="Invisible Password" width="29" height="26">
       </span>
    </label>
    <label for="confirm-new-password" class="form-label">
      <input id="confirm-new-password"
             class="form-input"
             name="confirm-new-password"
             required
             autocomplete="current-password"
             [type]="!rePasswordVisible ? 'password' : 'text'"
             placeholder="Confirm New Password*"
             formControlName="rePassword">
      <span class="error-message" *ngIf="form.get('rePassword')?.errors?.required && form.get('rePassword')?.touched">The Confirm New Password field is required.</span>
      <span class="error-message" *ngIf="form?.errors?.notSame  && form.get('rePassword')?.touched && !form.get('rePassword')?.errors?.required">Passwords are not the same</span>
      <span class="view-icon">
          <img *ngIf="!rePasswordVisible" (click)="changeRePasswordVisibility()" src="assets/images/visiblePassword.svg" alt="VisiblePassword" width="27" height="17">
          <img *ngIf="rePasswordVisible" (click)="changeRePasswordVisibility()" src="assets/images/invisiblePassword.png" alt="Invisible Password" width="29" height="26">
       </span>
    </label>
  </div>
  <div class="flex-container-center">
    <button type="submit" [disabled]="form.invalid" class="settings-form-button btn-for-auth-modals">Change password</button>
  </div>
</form>
