<!--================ Header Area Start =================-->
<app-header> </app-header>
<!--================ Header Area End =================-->

<!--================ Not Found Area Start =================-->
<section class="not-found-wrapper">
  <div class="container">
    <h3 class="not-found-message text-center">Oops, Something went wrong</h3>
    <picture>
      <img src="assets/images/not-found.png" alt="Not Found" width="1360" height="921">
    </picture>
  </div>
</section>
<!--================ Not Found Area End =================-->
