/*Message Wrapper*/
@import "src/assets/css/variables";

.message_history_wrapper {
  height: 911px;
  background: #F7F8FF;
  border-radius: 10px;
  padding: 20px 46px 48px 11px;

  & > .flex-container {
    height: 100%;

    .flex-item {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
    }
  }

  .message_history_title {
    font: $type-light normal $type-base $Roboto-sans;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #26BC00;
  }

  .search-box {
    margin: 16px 10px 52px;
    position: relative;

    .search-chat-user-list {
      width: 100%;
      height: 45px;
      padding: 0 24px 0 34px;
      background: $clr-ntrl-min;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border: 0;

      &::-webkit-input-placeholder {
        font: $type-regular normal $type-small $Segoe-UI-sans;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #C6C6C6;
      }
    }

    .search-box-icon {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translate(-16px, -50%);
    }
  }

  .chat {
    flex: 1;

    .chat-content {
      flex: 1;
      width: 100%;
    }

    .message-content-wrapper {
      min-height: 728px;
      background-color: $clr-ntrl-min;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
    }

    .chat-history {
      height: calc(100% - 100px);
      flex: 1;
    }

    .chat-header {
      height: 92px;
      border-radius: 15px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      background: $clr-ntrl-min;

      .flex-container-justify-start {
        grid-gap: 15px;
        padding: 0 20px;
        height: 100%;
      }

      .writer-image {
        width: 84px;
        height: 82px;
        border-radius: 50%;
        overflow: hidden;
      }

      .writer-name {
        font: $type-bold normal $type-medium-size $Segoe-UI-sans;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: $clr-ntrl-max;
      }
    }

    .online-chat-wrapper {
      position: relative;
      height: 100%;
      margin-top: 15px;
      padding: 15px 19px 60px 90px;
      background: $clr-ntrl-min;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
      border-radius: 15px;

      .chatting-time {
        margin-bottom: 20px;
        font: $type-bold normal $type-medium-size $Segoe-UI-sans;
        text-align: center;
        line-height: 20px;
        color: rgba(84, 84, 84, 0.26);
      }


      .received-message, .sending-message {
        grid-gap: 10px;

        margin-bottom: 16px;

        &-text {
          display: flex;
          align-items: center;
          height: 42px;
          padding: 0 22px;
          border-radius: 20px 20px 20px 0;
          background: $clr-ntrl-min;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
          text-align: left;
          font: $type-light normal $type-medium-size $Segoe-UI-sans;
          line-height: 20px;
          letter-spacing: 0.05em;
          color: $clr-ntrl-max;
        }

        &-time {
          font: $type-bold normal $type-medium-size $Segoe-UI-sans;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.26);
        }
      }

      .sending-message {

        .received-message-text {
          background: linear-gradient(0deg, #EFF1FF, #EFF1FF), #EFF1FF;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
          border-radius: 20px 20px 0 20px;
        }
      }

      .chat-wrapper {
        height: 100%;

        .message-content {
          height: calc(100% - 114px);
          overflow: auto;
        }

        .send-message-wrapper {
          position: absolute;
          bottom: 60px;
          left: 83px;
          width: calc(100% - 112px);
          display: flex;
          align-items: center;
          justify-content: space-between;
          grid-gap: 34px;

          input {
            height: 54px;
            width: 100%;
            padding: 0 32px;
            border-radius: 26px;
            border: 0;
            background: $clr-ntrl-min;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);;
          }

          img {
            width: 35px;
          }
        }
      }
    }
  }
}
