<div class="message_history_wrapper">
  <div class="flex-container">
    <div class="flex-item">
      <h3 class="message_history_title">Messages history</h3>
      <div class="search-box">
        <input type="text" placeholder="Search" class="search-chat-user-list">
        <span class="search-box-icon">
              <img src="assets/images/searchIcon.png" alt="Search Icon" width="26" height="24">
            </span>
      </div>
      <ul class="message-users-list">
        <li class="message-users-list__item isActive">
          <picture class="user-image-wrapper">
            <img src="assets/images/messageUser.png"
                 alt="User Pic"
                 width="80"
                 height="80"
            >
          </picture>
          <div class="message-info-wrapper">
            <h3 class="user-name">Ann Smith</h3>
            <p class="user-message">Okey</p>
          </div>
          <div class="isNewMessage">
            <span class="message-count">1</span>
          </div>
        </li>
        <li class="message-users-list__item">
          <picture class="user-image-wrapper">
            <img src="assets/images/messageUser.png"
                 alt="User Pic"
                 width="80"
                 height="80"
            >
          </picture>
          <div class="message-info-wrapper">
            <h3 class="user-name">Ann Smith</h3>
            <p class="user-message"></p>
          </div>
        </li>
      </ul>
    </div>
    <div class="flex-item chat">
      <div class="chat-header">
        <div class="flex-container-justify-start">
          <div class="writer-image">
            <img src="assets/images/messageUser.png" alt="Writer">
          </div>
          <h2 class="writer-name">Ann Smith</h2>
        </div>
      </div>
      <div class="chat-history">
        <!--            <div class="without-messages">-->
        <!--              <h2>Your Messages</h2>-->
        <!--              <img src="assets/images/paper-plane.png" alt="Paper Plane" width="101" height="101">-->
        <!--            </div>-->
        <div class="online-chat-wrapper">
          <h4 class="chatting-time">16.03.2021</h4>
          <div class="chat-wrapper">
            <div class="message-content">
              <div class="received-message flex-container-justify-start">
                <h2 class="received-message-text">
                  Hello ))
                </h2>
                <span class="received-message-time">
                   14:25
                  </span>
              </div>
              <div class="received-message flex-container-justify-start">
                <h2 class="received-message-text">
                  Hello ))
                </h2>
                <span class="received-message-time">
                   14:25
                  </span>
              </div>
              <div class="sending-message flex-container-justify-end">
                  <span class="received-message-time">
                   14:25
                  </span>
                <h2 class="received-message-text">
                  Yes, of course dear.
                </h2>
              </div>
              <div class="received-message flex-container-justify-start">
                <h2 class="received-message-text">
                  Hello ))
                </h2>
                <span class="received-message-time">
                   14:25
                  </span>
              </div>
              <div class="received-message flex-container-justify-start">
                <h2 class="received-message-text">
                  Hello ))
                </h2>
                <span class="received-message-time">
                   14:25
                  </span>
              </div>
              <div class="sending-message flex-container-justify-end">
                  <span class="received-message-time">
                   14:25
                  </span>
                <h2 class="received-message-text">
                  Yes, of course dear.
                </h2>
              </div> <div class="received-message flex-container-justify-start">
              <h2 class="received-message-text">
                Hello ))
              </h2>
              <span class="received-message-time">
                   14:25
                  </span>
            </div>
              <div class="received-message flex-container-justify-start">
                <h2 class="received-message-text">
                  Hello ))
                </h2>
                <span class="received-message-time">
                   14:25
                  </span>
              </div>
              <div class="sending-message flex-container-justify-end">
                  <span class="received-message-time">
                   14:25
                  </span>
                <h2 class="received-message-text">
                  Yes, of course dear.
                </h2>
              </div> <div class="received-message flex-container-justify-start">
              <h2 class="received-message-text">
                Hello ))
              </h2>
              <span class="received-message-time">
                   14:25
                  </span>
            </div>
              <div class="received-message flex-container-justify-start">
                <h2 class="received-message-text">
                  Hello ))
                </h2>
                <span class="received-message-time">
                   14:25
                  </span>
              </div>
              <div class="sending-message flex-container-justify-end">
                  <span class="received-message-time">
                   14:25
                  </span>
                <h2 class="received-message-text">
                  Yes, of course dear.
                </h2>
              </div> <div class="received-message flex-container-justify-start">
              <h2 class="received-message-text">
                Hello ))
              </h2>
              <span class="received-message-time">
                   14:25
                  </span>
            </div>
              <div class="received-message flex-container-justify-start">
                <h2 class="received-message-text">
                  Hello ))
                </h2>
                <span class="received-message-time">
                   14:25
                  </span>
              </div>
              <div class="sending-message flex-container-justify-end">
                  <span class="received-message-time">
                   14:25
                  </span>
                <h2 class="received-message-text">
                  Yes, of course dear.
                </h2>
              </div> <div class="received-message flex-container-justify-start">
              <h2 class="received-message-text">
                Hello ))
              </h2>
              <span class="received-message-time">
                   14:25
                  </span>
            </div>
              <div class="received-message flex-container-justify-start">
                <h2 class="received-message-text">
                  Hello ))
                </h2>
                <span class="received-message-time">
                   14:25
                  </span>
              </div>
              <div class="sending-message flex-container-justify-end">
                  <span class="received-message-time">
                   14:25
                  </span>
                <h2 class="received-message-text">
                  Yes, of course dear.
                </h2>
              </div> <div class="received-message flex-container-justify-start">
              <h2 class="received-message-text">
                Hello ))
              </h2>
              <span class="received-message-time">
                   14:25
                  </span>
            </div>
              <div class="received-message flex-container-justify-start">
                <h2 class="received-message-text">
                  Hello ))
                </h2>
                <span class="received-message-time">
                   14:25
                  </span>
              </div>
              <div class="sending-message flex-container-justify-end">
                  <span class="received-message-time">
                   14:25
                  </span>
                <h2 class="received-message-text">
                  Yes, of course dear.
                </h2>
              </div> <div class="received-message flex-container-justify-start">
              <h2 class="received-message-text">
                Hello ))
              </h2>
              <span class="received-message-time">
                   14:25
                  </span>
            </div>
              <div class="received-message flex-container-justify-start">
                <h2 class="received-message-text">
                  Hello ))
                </h2>
                <span class="received-message-time">
                   14:25
                  </span>
              </div>
              <div class="sending-message flex-container-justify-end">
                  <span class="received-message-time">
                   14:25
                  </span>
                <h2 class="received-message-text">
                  Yes, of course dear.
                </h2>
              </div>
            </div>
            <div class="send-message-wrapper">
              <input type="text" placeholder="write a message...">
              <img src="assets/images/sendMessage.png"
                   alt="Send Message Icon"
                   width="34"
                   height="35"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
