.margin-left-onLogged {
  margin-left: 40px;
}

.date-picker-wrapper {
  width: 100%;
  flex-direction: column;
}

.register-step-form {
  position: relative;

  .remove-icon-wrapper {
    position: absolute;
    top: -34px;
    left: 5px;
    padding: 8px;
  }
}
