.margin-left-onLogged {
  margin-left: 40px;
}

.min-width {
  width: 70%;
  max-width: 418px;

}

.date-picker-wrapper {
  width: 100%;
  flex-direction: column;
}

.register-step-form {
  position: relative;

  .remove-icon-wrapper {
    position: absolute;
    top: -34px;
    left: 5px;
    padding: 8px;
  }
}

@media screen and (max-width: 600px) {
  .margin-left-onLogged {
    margin-left: 0;
  }

  .min-width-certificates-wrapper {
    width: 100%;
  }

  .min-width {
    width: 100%;
  }
}
