<div class="register-confirmation-wrapper">
  <p class="register-confirmation-text">
    Dear applicant, we would like to inform you that your application will be reviewed by the Sophist Support Team. You
    will be interviewed if necessary. The details of the interview will be sent in an additional email. If the
    information you provide is sufficient of registration, you will again receive a registration email to the email
    address you provided when submitting your application.
  </p>
  <p class="register-confirmation-text margin-top">Please pay attention to your inbox. The Sophist Team.</p>
  <img class="register-confirmation-pic" src="assets/images/registerModal.png" alt="Register Modal Image" width="415"
       height="286">
  <div (click)="submit.emit()" class="flex-container-center">
    <button type="button" class="
    register-confirmation-btn
    flex-container-center">
      Submit
    </button>
  </div>
</div>
