.gender {
  margin-bottom: 20px;
  position: relative;
}

.double-select {
  > div {
    position: relative;
    width: 100%;
  }
}

.button-wrapper {
  .next-btn, .sophist-btn, .previous-btn {
    color: black;
  }
}
