<form [formGroup]="form">
  <div class="d-flex personal-info-wrapper wrapper-for-contact">
    <ul class="flex-item-for-info address-form">
      <li class="form-item-with-notification">
        <h3 class="form-item-label">Primary email*</h3>
        <label for="email" class="form-label">
          <input id="email"
                 class="form-input"
                 autocomplete="username"
                 type="email"
                 placeholder=""
                 formControlName="email"
          >
          <span class="error-message" *ngIf="form.get('email')?.errors?.required && form.get('email')?.touched">Please enter your email address</span>
          <span class="error-message" *ngIf="form.get('email')?.errors?.pattern && form.get('email')?.touched">Please provide a valid email address</span>
          <span class="form-item-notification">Visible on the public profile</span>
        </label>
      </li>
      <li class="form-item-with-notification">
        <h3 class="form-item-label">Mobile phone*</h3>
        <div class="d-flex position-relative">
          <div class="form-label phone-number-label form-label--min-width w-25">
            <app-select [disable]="form.disabled" [list]="countries$ | async" [label]="'+374'" [keyName]="'numCodeForView'"
                        formControlName="mobileCode"></app-select>
          </div>
          <label for="phone-number" class="form-label phone-number-label phone-number-label-input">
            <input id="phone-number" class="form-input" autocomplete="phone-number" type="tel"
                   placeholder="Phone number*"
                   formControlName="mobile">
          </label>
          <span class="error-message"
                *ngIf="form.get('phoneCode')?.errors?.required && form.get('phoneCode')?.touched || form.get('mobile')?.errors?.required && form.get('mobile')?.touched">This is a required field</span>
          <span class="form-item-notification">Visible on the public profile</span>
        </div>
      </li>
      <li class="form-item-with-notification">
        <h3 class="form-item-label">User Name*</h3>
        <div class="d-flex position-relative">
          <label for="user-name" class="form-label">
            <input id="user-name" class="form-input" type="text" placeholder="user name*"
                   formControlName="userName">
            <span class="error-message" *ngIf="form.get('userName')?.errors && form.get('userName')?.touched">Please fill in your last name</span>
          </label>
          <span class="form-item-notification">Visible on the public profile</span>
        </div>
      </li>
      <li class="form-item-with-notification">
        <h3 class="form-item-label">Preferred Time Zone*</h3>
        <div class="d-flex position-relative">
          <div class="p-relative form-label">
            <app-select [disable]="form.disabled" [label]="'time zone*'" formControlName="preferredTimeZone" [list]="timeZones$ | async" [keyName]="'displayName'"></app-select>
            <span class="error-message" *ngIf="form.get('preferredTimeZone')?.errors && form.get('preferredTimeZone')?.touched">Please specify month of your  birth</span>
          </div>
        </div>
      </li>
    </ul>
    <div class="flex-item-for-info" formGroupName="userAddress">
      <ul class="address-form address-form">
        <li class="form-item-with-notification">
          <h3 class="form-item-label">Country*</h3>
          <label for="country" class="form-label">
            <app-select
              [label]="'country*'"
              id="country"
              [keyName]="'nameLowerCase'"
              [list]="countries$ | async"
              formControlName="countryId"
              [disable]="form.disabled">
            </app-select>
            <span class="form-item-notification">Not visible on the public profile</span>
            <span class="error-message block"
                  *ngIf="userAddress.get('countryId')?.errors?.required && userAddress.get('countryId')?.touched">This is a required field </span>
          </label>
        </li>
        <li class="form-item-with-notification">
          <h3 class="form-item-label">City*</h3>
          <label for="city" class="form-label">
            <input id="city" class="form-input" type="text" placeholder="*city"
                   formControlName="city">
            <span class="form-item-notification">Not visible on the public profile</span>
            <span class="error-message"
                  *ngIf="userAddress.get('city')?.errors?.required && userAddress.get('city')?.touched">This is a required field</span>
          </label>
        </li>
        <li class="form-item-with-notification">
          <h3 class="form-item-label">Street Number*</h3>
          <label for="streetNumber" class="form-label">
            <input id="streetNumber" class="form-input" autocomplete="streetNumber" type="text"
                   placeholder="Street Number*" formControlName="streetNumber">
            <span class="form-item-notification">Not visible on the public profile</span>
            <span class="error-message block"
                  *ngIf="userAddress.get('streetNumber')?.errors?.required && userAddress.get('streetNumber')?.touched"> This is a required field</span>
          </label>
        </li>
        <li class="form-item-with-notification">
          <h3 class="form-item-label">Street Name*</h3>
          <label for="streetName" class="form-label">
            <input id="streetName" class="form-input" autocomplete="streetName" type="text"
                   placeholder="Street Name*" formControlName="streetName">
            <span class="form-item-notification">Not visible on the public profile</span>
            <span class="error-message block"
                  *ngIf="userAddress.get('streetName')?.errors?.required && userAddress.get('streetName')?.touched">This is a required field</span>
          </label>
        </li>
        <li class="form-item-with-notification">
          <h3 class="form-item-label">Zip Code*</h3>
          <label for="zipCode" class="form-label">
            <input id="zipCode" class="form-input" autocomplete="zipCode"
                   placeholder="*Zip Code" formControlName="zipCode">
            <span class="form-item-notification">Not visible on the public profile</span>
            <span class="error-message block"
                  *ngIf="userAddress.get('zipCode')?.errors?.required && userAddress.get('zipCode')?.touched">This is a required field</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</form>
<div class="flex-container-center grid-gap-for-buttons">
  <button class="settings-form-button settings-form-button__with-border button-border--blue" (click)="form.enable()">
    Edit
  </button>
  <button class="settings-form-button" (click)="onSubmit()" [disabled]="form.disabled">Update Information</button>
</div>
<app-confirm-password
  (close)="isOpenPasswordModal = false"
  (updated)="form.disable()"
  *ngIf="isOpenPasswordModal"
  [body]="form.value">
</app-confirm-password>
