<!--<app-login-header></app-login-header>-->
<main class="user-profile-wrapper">
  <div class="profile-gradient"></div>
  <div class="profile-container">
    <section class="profile-main-info-wrapper">
      <div class="file-upload-wrapper">
        <div class="upload-image-box">
          <div class="image-upload-wrap">
            <div class="drag-text">
              <img src="assets/images/photo-camera%201.png" alt="Upload Photo"
                   width="33" height="33">
            </div>
            <!--            <img src="" alt="Upload Photo">-->
          </div>
        </div>
      </div>
      <div class="profile-cards">
        <h2 class="profile-cards__Info--title">Ann Smith </h2>
      </div>
    </section>
    <section class="profile-buttons">
      <button class="profile-buttons--item" (click)="activeTab = 'PROFILE'">
        <img src="assets/images/profile.png"
             alt="Profile"
             width="55"
             height="55">
        profile
      </button>
      <button class="profile-buttons--item" (click)="activeTab = 'START_LESSON'">
        <img src="assets/images/online-learning.png"
             alt="Start Lesson"
             width="55"
             height="55">
        Start Lesson
      </button>
      <button class="profile-buttons--item" (click)="activeTab ='MESSAGES'">
        <img src="assets/images/message.png" alt="Messages" width="51" height="50">
        Messages
      </button>
      <button class="profile-buttons--item" (click)="activeTab='PAYMENTS'">
        <img src="assets/images/cashless-payment.png" alt="payments" width="48" height="48">
        Payments
      </button>
      <button class="profile-buttons--item" (click)="activeTab='LESSON_HISTORY'">
        <img src="assets/images/lessonHistory.png" alt="Messages" width="51" height="51">
        Lesson history
      </button>
      <button class="profile-buttons--item" (click)="activeTab='FIND_TUTOR'">
        <img src="assets/images/lessonHistory.png" alt="Messages" width="51" height="51">
        Find Tutor
      </button>
    </section>
      <div [ngSwitch]="activeTab">
        <app-profile-info *ngSwitchCase="'PROFILE'"></app-profile-info>
        <app-message-dashboard *ngSwitchCase="'MESSAGES'"></app-message-dashboard>
        <app-payment-dashboard *ngSwitchCase="'PAYMENTS'"></app-payment-dashboard>
        <app-lesson-history-dashboard *ngSwitchCase="'LESSON_HISTORY'"></app-lesson-history-dashboard>
      </div>
  </div>
</main>





