@import "src/assets/css/variables";

.tutors-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 87px;
  text-align: center;

  .tutors-wrapper__item-logo-wrapper {
    position: relative;
    width: 220px;
    height: 220px;
    padding: 20px;
    margin: 0 auto 20px;
    border: 1px solid $secondary-brand-color;
    border-radius: $border-radius-circle;

    .tutor-pic {
      border-radius: $border-radius-circle;
    }

    .message-tutor {
      position: absolute;
      right: 16px;
      bottom: 6px;
    }
  }

  .tutors-wrapper__item-info-name {
    margin: 0;
    font: $type-regular normal $type-base $Roboto-sans;
  }
}
