<app-header></app-header>
<main class="user-profile-wrapper">
  <div class="profile-gradient"></div>
  <div class="profile-container">
    <section class="profile-main-info-wrapper">
      <div class="file-upload-wrapper">
        <div class="upload-image-box">
          <div class="image-upload-wrap">
            <div *ngIf="!profileInfo?.photo;then emptyImage else studentPhoto"></div>
            <ng-template #emptyImage>
              <div class="drag-text">
                <img src="assets/images/photo-camera%201.png" alt="Upload Photo"
                     width="33" height="33">
              </div>
              </ng-template>
            <ng-template #studentPhoto>
              <img [src]="profileInfo?.photo" alt="student photo">
            </ng-template>
          </div>
        </div>
      </div>
      <div class="profile-cards">
        <h2 class="profile-cards__Info--title">{{profileInfo?.fullName}}</h2>
      </div>
    </section>
    <section class="profile-buttons">
      <button class="profile-buttons--item flex-container-center" (click)="activeTab = 'PROFILE'"
              [ngClass]="{ 'active':activeTab==='PROFILE'}">
        <img src="assets/images/profile.png"
             alt="Profile"
             width="55"
             height="55">
        profile
      </button>
      <button class="profile-buttons--item flex-container-center" (click)="activeTab = 'START_LESSON'"
              [ngClass]="{ 'active':activeTab==='START_LESSON'}">
        <img src="assets/images/online-learning.png"
             alt="Start Lesson"
             width="55"
             height="55">
        Start Lesson
      </button>
      <button class="profile-buttons--item flex-container-center" (click)="activeTab ='MESSAGES'"
              [ngClass]="{ 'active':activeTab==='MESSAGES'}">
        <img src="assets/images/message.png" alt="Messages" width="51" height="50">
        Messages
      </button>
      <button class="profile-buttons--item flex-container-center" (click)="activeTab='PAYMENTS'"
              [ngClass]="{ 'active':activeTab==='PAYMENTS'}">
        <img src="assets/images/cashless-payment.png" alt="payments" width="48" height="48">
        Payments
      </button>
      <button class="profile-buttons--item flex-container-center" (click)="activeTab='LESSON_HISTORY'"
              [ngClass]="{ 'active':activeTab==='LESSON_HISTORY'}">
        <img src="assets/images/lessonHistory.png" alt="Messages" width="51" height="51">
        Lesson history
      </button>
      <button class="profile-buttons--item flex-container-center" (click)="activeTab='FIND_TUTOR'"
              [ngClass]="{ 'active':activeTab==='FIND_TUTOR'}">
        <img src="assets/images/search-tab.png" alt="Messages" width="53" height="53">
        Find Tutor
      </button>
    </section>
      <div [ngSwitch]="activeTab">
        <app-profile-info *ngSwitchCase="'PROFILE'" [wrapUp]="profileInfo?.wrapUp"></app-profile-info>
        <app-start-lesson *ngSwitchCase="'START_LESSON'" [title]="''" [userType]="'student'"></app-start-lesson>
        <app-message-dashboard *ngSwitchCase="'MESSAGES'"></app-message-dashboard>
        <app-payment-dashboard *ngSwitchCase="'PAYMENTS'"></app-payment-dashboard>
        <app-lesson-history *ngSwitchCase="'LESSON_HISTORY'"></app-lesson-history>
        <app-search-tutor *ngSwitchCase="'FIND_TUTOR'" [isOnStudentPage]="true"></app-search-tutor>
      </div>
  </div>
</main>





