<section class="blue-bg">
  <ul class="count-wrapper flex-container-justify-start">
    <li class="align-self-start">
      <h2 class="section-subtitle">Lesson information</h2>
    </li>
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Hours Tutored</h2>
      <h6 class="count-wrapper__item--info">75</h6>
    </li>
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Amount Earned</h2>
      <h6 class="count-wrapper__item--info">$0,00</h6>
    </li>
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Amount Paid</h2>
      <h6 class="count-wrapper__item--info">$0,00</h6>
    </li>
  </ul>
  <button class="settings-form-button">lesson history</button>

  <div class="profile-table-wrapper">
    <div class="profile-table-filter-container calendar-wrapper">
      <form class="
      flex-container-justify-start
      calendar-datepicker-wrappers" [formGroup]="form">
        <div class="date-picker-wrapper-for-calendar">
          <h2 class="date-picker-label">From</h2>
          <mat-form-field appearance="fill" class="date-range-wrapper
                  custom-date-range-wrapper">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>
                <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <input matInput
                   [matDatepicker]="picker" formControlName="from"
                   (click)="picker.open()"
                   placeholder="MM/dd/yyyy*"
            >
          </mat-form-field>
        </div>
        <div class="date-picker-wrapper-for-calendar">
          <h2 class="date-picker-label">To </h2>
          <mat-form-field appearance="fill" class="date-range-wrapper
                  custom-date-range-wrapper">
            <mat-datepicker-toggle matSuffix [for]="picker1">
              <mat-icon matDatepickerToggleIcon>
                <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <input matInput [matDatepicker]="picker1" formControlName="to"
                   (click)="picker1.open()"
                   placeholder="MM/dd/yyyy*"
            >
          </mat-form-field>
        </div>
        <button class="btn-add-less flex-container-center">Filter</button>
      </form>
      <ul class="total-info">
        <li class="flex-container-justify-start">
          <h2 class="total-info__label"> Total Time </h2>
          <span class="total-info__info">15,50 hours </span>
        </li>
        <li class="flex-container-justify-start">
          <h2 class="total-info__label"> Total Earned </h2>
          <span class="total-info__info">$205,00 </span>
        </li>
      </ul>
    </div>
    <div class="profile-table-container">
      <table>
        <thead>
        <tr>
          <th>
            <h3 class="thead-title">Lesson Date</h3>
          </th>
          <th>
            <h3 class="thead-title">Lesson Duration</h3>
          </th>
          <th>
            <h3 class="thead-title">Student</h3>
          </th>
          <th>
            <h3 class="thead-title">Subject</h3>
          </th>
          <th>
            <h3 class="thead-title">Hourly Rate</h3>
          </th>
          <th>
            <h3 class="thead-title">Pay</h3>
          </th>
          <th>
            <h3 class="thead-title">Earned</h3>
          </th>
          <th>
            <h3 class="thead-title">Payment Date</h3>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <h4 class="tbody-info flex-container-center">01.01.2020</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">11:30 AM</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">
              <a href="" class="student-name link">Melanie K.</a>
              Atlanta, GA
            </h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">Linguistics</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">$5,00</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">75%</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">$30,00</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">
              <a href="#" class="link">
                01.01.2020
              </a>
            </h4>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="tbody-info flex-container-center">01.01.2020</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">11:30 AM</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">
              <a href="" class="student-name link">Melanie K.</a>
              Atlanta, GA
            </h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">Linguistics</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">$5,00</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">75%</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">$30,00</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">
              <a href="#" class="link">
                01.01.2020
              </a>
            </h4>
          </td>
        </tr>
        <tr>
          <td>
            <h4 class="tbody-info flex-container-center">01.01.2020</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">11:30 AM</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">
              <a href="" class="student-name link">Melanie K.</a>
              Atlanta, GA
            </h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">Linguistics</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">$5,00</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">75%</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">$30,00</h4>
          </td>
          <td>
            <h4 class="tbody-info flex-container-center">
              <a href="#" class="link">
                01.01.2020
              </a>
            </h4>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


