<div class="cancel-lesson-modal-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <h3 class="main-question">Write the reason for cancelling the lesson.*</h3>
      <label for="cancel-reason" class="form-label form-label--flex-container">
                <textarea id="cancel-reason"
                          class="form-textarea" type="text"
                          rows="5" cols="3"
                          placeholder="write a lesson cancellation reason."
                          formControlName="cancelationDescription">
                </textarea>
        <span class="error-message" *ngIf="form.get('cancelationDescription')?.errors && form.get('cancelationDescription')?.touched">This is a required field</span>
      </label>
    </div>
    <div>
      <h3 class="main-question">Cancellation fee.*</h3>
      <label for="cancellation-fee" class="form-label form-label--flex-container">
        <input id="cancellation-fee"
               class="form-input" type="number"
               placeholder="%"
               formControlName="cancelationFee"/>
        <span class="error-message" *ngIf="form.get('cancelationFee')?.errors && form.get('cancelationFee')?.touched">This is a required field</span>
      </label>
    </div>
    <p class="form-item-notification">Please indicate the cancellation fee amount that will be charged from student.</p>
    <p class="form-item-notification">The fee must be between 0 and 100%.</p>
    <div class="flex-container-center">
      <button type="submit" class="settings-form-button settings-form-button__with-border button-border--green">Save</button>
    </div>
  </form>
</div>
