<form [formGroup]="form">
  <fieldset class="register-form">
    <legend class="form-legend">Tutoring Preferences/Employment history</legend>
    <div class="question-list">
      <ol>
        <li class="question-list__item">
          <h3 class="main-question">Have you ever been a tutor?</h3>
          <div class="checkboxes-wrapper-flex checkboxes-wrapper-flex-with-min-width">
            <mat-radio-group name="everTutored" class="everTutored" formControlName="everTutored">
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <ol>
            <li class="nested" *ngIf="form.get('everTutored')?.value">
              <h3 class="main-question">1.1 How many years of experience do you have as a tutor? </h3>
              <div class="checkboxes-wrapper-flex checkboxes-wrapper-flex-with-min-width">
                <mat-radio-group name="everTutored" class="everTutored" formControlName="experienceYears">
                  <mat-radio-button [value]="item.id" *ngFor="let item of (tutorExperiences$ | async)">{{item.description}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </li>
          </ol>
        </li>
        <li class="question-list__item">
          <h3 class="main-question">Have you ever tutored online?</h3>
          <div class="checkboxes-wrapper-flex checkboxes-wrapper-flex-with-min-width">
            <mat-radio-group name="everTutoredOnline" class="everTutoredOnline" formControlName="everTutoredOnline">
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <ol>
            <li class="nested" *ngIf="form.get('everTutoredOnline')?.value">
              <h3 class="main-question">2.1 Please choose all that apply</h3>
              <div class="checkboxes-wrapper-flex checkboxes-wrapper-flex-with-min-width">
                <mat-radio-group name="everTutored" class="everTutored" formControlName="onlineTutoringVariant">
                  <mat-radio-button [value]="'Online platforms'">Online platforms</mat-radio-button>
                  <mat-radio-button [value]="'Other'">Other</mat-radio-button>
                  <input type="text" placeholder="Enter the option" *ngIf="form.get('onlineTutoringVariant')?.value === 'Other'">
                </mat-radio-group>
              </div>
            </li>
          </ol>
        </li>
        <li class="question-list__item">
          <h3 class="main-question">Which type of students do you like to tutor?</h3>
          <h5 class="sub-question">You can choose more than one value</h5>
          <div class="checkboxes-wrapper-flex">
            <mat-checkbox class="example-margin" *ngFor="let item of (studentLevels$ | async)" formControlName="linkTutorAndStudentTypes"
                          [checked]="true">
              {{item.description}}
            </mat-checkbox>
          </div>
        </li>
        <li class="question-list__item">
          <h3 class="main-question">How many hours per week do you currently
            tutor?</h3>
          <div class="checkboxes-wrapper-flex">
            <mat-radio-group name="hoursPerWeekCurrently" formControlName="hoursPerWeekCurrently">
              <mat-radio-button [value]="item.id" class="hoursPerWeekForTutor"
                                *ngFor="let item of hoursPerWeekForTutor$ | async">{{item.description}}</mat-radio-button>
            </mat-radio-group>
          </div>
        </li>
        <li class="question-list__item">
          <h3 class="main-question">Please select a suitable day of the week for the
            interview. (US Pacific
            Standard Time)</h3>
          <div class="flex-container-justify-start date-picker-container" formArrayName="interview"  *ngFor="let item of interview.controls; let i = index">
            <div [formGroupName]="i" class="d-flex align-items-center gap-3">
              <i class="fas fa-plus" (click)="addInterview()" *ngIf="i === 0"></i>
              <div class="selectWrapper">
                <app-select [label]="'*year of birth'" [list]="daysOfWeek$ | async" [keyName]="'name'" formControlName="dayOfWeek"></app-select>
                <span class="error-message" *ngIf="interview.controls[i]?.get('dayOfWeek')?.errors && interview.controls[i]?.get('dayOfWeek')?.touched">Please specify year of your birth</span>
              </div>
              <div class="selectWrapper">
                <app-select [label]="'*year of birth'" [list]="hoursOfDay$ | async" [keyName]="'time'" formControlName="startOfRange"></app-select>
                <span class="error-message" *ngIf="interview.controls[i]?.get('startOfRange')?.errors && interview.controls[i]?.get('startOfRange')?.touched">Please specify year of your birth</span>
              </div>
              <div class="selectWrapper">
                <app-select [label]="'*year of birth'" [list]="hoursOfDay$ | async" [keyName]="'time'" formControlName="endOfRange"></app-select>
                <span class="error-message" *ngIf="interview.controls[i]?.get('endOfRange')?.errors && interview.controls[i]?.get('endOfRange')?.touched">Please specify year of your birth</span>
              </div>
            </div>

          </div>
        </li>
        <li class="question-list__item">
          <h3 class="main-question">Would you also like to be considered for an
            instructor’s position if one
            becomes available?</h3>
          <div class="checkboxes-wrapper-flex checkboxes-wrapper-flex-with-min-width">
            <mat-radio-group name="wantToBeInstructor" class="everTutoredOnline" formControlName="wantToBeInstructor">
              <mat-radio-button [value]="true">Yes</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="form.get('wantToBeInstructor')?.value === true" >
            <h3>Please list work history, starting from the most recent institution/school.</h3>
            <div formArrayName="workHistory" *ngFor="let item of workHistory.controls; let i = index">
              <div  [formGroupName]="i" >
                <div class="d-flex">
                  <i class="fas fa-plus" (click)="addWorkHistory()" *ngIf="i == workHistory.controls.length-1 "></i>
                  <input type="text" formControlName="schoolOrInstitutionName">
                </div>
                <div class="d-flex">
                  <div class="date-picker-wrapper">
                    <h2 class="date-picker-label">From </h2>
                    <mat-form-field appearance="fill">
                      <input matInput [matDatepicker]="picker" (click)="picker.open()" formControlName="startYear"
                             [readonly]="true">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-label>*mm/dd/yyyy</mat-label>
                    </mat-form-field>
                    <!--                <span class="error-message" *ngIf="item.get('date')?.errors && item.get('date')?.touched">This is a required field</span>-->
                  </div>
                  <div class="date-picker-wrapper">
                    <h2 class="date-picker-label">From </h2>
                    <mat-form-field appearance="fill">
                      <input matInput [matDatepicker]="picker1" (click)="picker1.open()" formControlName="endYear"
                             [readonly]="true">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                      <mat-label>*mm/dd/yyyy</mat-label>
                    </mat-form-field>
                    <!--                <span class="error-message" *ngIf="item.get('date')?.errors && item.get('date')?.touched">This is a required field</span>-->
                  </div>
                  <div>
                    <label for="curent"></label>
                    <input type="checkbox" id="curent" formControlName="current">
                  </div>
                </div>
              </div>

            </div>

          </div>
        </li>
      </ol>
    </div>

    <div class="flex-container-start register-step-form row no-gutter">
      <div class="flex-item col-md-5" formArrayName="professionalReferencesForInstructor"  *ngFor="let item of professionalReferencesForInstructor.controls; let i = index">
        <div  [formGroupName]="i">

          <h2 class="form-title"> Professional reference 1 </h2>
          <label for="first-name" class="form-label">
            <input id="first-name" class="form-input" type="text"
                   placeholder="*first name"
                   formControlName="name">
            <span class="error-message" *ngIf="professionalReferencesForInstructor.controls[i]?.get('name')?.errors && professionalReferencesForInstructor.controls[i]?.get('name')?.touched">Please fill in your first name</span>
          </label>

          <label for="last-name" class="form-label">
            <input id="last-name" class="form-input" type="text"
                   placeholder="*last name"
                   formControlName="lastName">
            <span class="error-message" *ngIf="professionalReferencesForInstructor.controls[i]?.get('lastName')?.errors && professionalReferencesForInstructor.controls[i]?.get('lastName')?.touched">Please fill in your last name</span>
          </label>

          <label for="email" class="form-label">
            <input id="email" class="form-input" autocomplete="username" type="email"
                   placeholder="*email address"
                  formControlName="emailAddress">
            <span class="error-message" *ngIf="professionalReferencesForInstructor.controls[i]?.get('emailAddress')?.errors && professionalReferencesForInstructor.controls[i]?.get('emailAddress')?.touched">Please enter your email address</span>
          </label>

          <label for="phone-number" class="form-label phone-number-label">
<!--                                    <span class="phone-region">-->
<!--                                        <img class="flag" src="assets/images/armenia.png" alt="Armenia Flag" width="39"-->
<!--                                             height="26">-->
<!--                                        <span class="phone-code">-->
<!--                                            +374-->
<!--                                            <img src="assets/images/arrowDown.png" alt="arrow down" width="11"-->
<!--                                                 height="9">-->
<!--                                        </span>-->
<!--                                    </span>-->
            <input id="phone-number" class="form-input" autocomplete="phone-number"
                   type="tel"
                   placeholder="*Phone number"
                  formControlName="mobilePhone">
            <span class="error-message" *ngIf="professionalReferencesForInstructor.get('mobilePhone')?.errors && professionalReferencesForInstructor.get('mobilePhone')?.touched">Please enter your email address</span>
          </label>
        </div>
      </div>
      <button (click)="addProfessionalReferencesForInstructor()">add</button>

    </div>
  </fieldset>
</form>
<div class="flex-container-center button-wrapper">
  <a type="submit" class="btn flex-container-center previous-btn" (click)="back.emit()">PREVIOUS</a>
  <a type="submit" class="btn flex-container-center next-btn" (click)="onSubmit()">NEXT</a>
</div>
