<div class="margin-left-space">
  <form [formGroup]="form">
    <fieldset class="register-form">
      <legend class="form-legend">Tutoring Preferences/Employment History</legend>
      <div class="question-list">
        <ol>
          <li class="question-list__item">
            <h3 class="main-question">Have you ever been a tutor?</h3>
            <div class="checkboxes-wrapper-flex checkboxes-wrapper-flex-with-min-width">
              <mat-radio-group name="everTutored" class="everTutored" formControlName="everTutored">
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
              <span class="error-message" *ngIf="form.get('everTutored')?.errors && form.get('everTutored')?.touched">This is a required field</span>
            </div>
            <ol>
              <li class="nested" *ngIf="form.get('everTutored')?.value">
                <h3 class="main-question">1.1 How many years of experience do you have as a tutor? </h3>
                <div class="checkboxes-wrapper-flex checkboxes-wrapper-flex-with-min-width">
                  <mat-radio-group name="experienceYears" class="everTutored" formControlName="experienceYears">
                    <mat-radio-button [value]="item.id"
                                      *ngFor="let item of (tutorExperiences$ | async)">{{item.description}}
                    </mat-radio-button>
                  </mat-radio-group>
                  <span class="error-message"
                        *ngIf="form.get('experienceYears')?.errors && form.get('experienceYears')?.touched">This is a required field</span>
                </div>
              </li>
            </ol>
          </li>
          <li class="question-list__item">
            <h3 class="main-question">Have you ever tutored online?</h3>
            <div class="checkboxes-wrapper-flex checkboxes-wrapper-flex-with-min-width">
              <mat-radio-group name="everTutoredOnline" class="everTutoredOnline" formControlName="everTutoredOnline">
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
              <span class="error-message"
                    *ngIf="form.get('everTutoredOnline')?.errors && form.get('everTutoredOnline')?.touched">This is a required field</span>
            </div>
            <ol>
              <li class="nested" *ngIf="form.get('everTutoredOnline')?.value">
                <h3 class="main-question">2.1 Please choose all that apply</h3>
                <div>
                  <div class="checkboxes-wrapper-flex grid-1-template checkboxes-wrapper-flex-with-min-width">
                    <mat-radio-group name="allToApply " class="allToApply" formControlName="allToApply">
                      <mat-radio-button [value]="true">Online platforms</mat-radio-button>
                      <mat-radio-button [value]="false">Other</mat-radio-button>
                    </mat-radio-group>
                    <span class="error-message"
                          *ngIf="form.get('everTutoredOnline')?.errors && form.get('everTutoredOnline')?.touched">This is a required field</span>
                  </div>
                  <div class="checkboxes-wrapper-flex checkboxes-wrapper-flex-with-min-width">
                    <input type="text"
                           formControlName="onlineTutoringVariant"
                           placeholder="Enter the option"
                           class="form-input">
                    <span class="error-message"
                          *ngIf="form.get('onlineTutoringVariant')?.errors && form.get('onlineTutoringVariant')?.touched">This is a required field</span>
                  </div>
                </div>
              </li>
            </ol>
          </li>
          <li class="question-list__item">
            <h3 class="main-question">Which type of students do you like to tutor?</h3>
            <h5 class="sub-question">(You can choose more than one value)</h5>
            <div class="grid-3-template">
              <mat-checkbox class="checkbox-wrapper" *ngFor="let item of studentLevels"
                            [checked]="item.checked" (change)="selectStudentType($event, item)">
                {{item.description}}
              </mat-checkbox>
              <span class="error-message"
                    *ngIf="form.get('linkTutorAndStudentTypes')?.errors && form.get('linkTutorAndStudentTypes')?.touched">This is a required field</span>
            </div>
          </li>
          <li class="question-list__item">
            <h3 class="main-question">How many hours per week do you currently tutor?</h3>
            <div class="grid-3-template">
              <mat-radio-group name="hoursPe  rWeekCurrently" formControlName="hoursPerWeekCurrently">
                <mat-radio-button [value]="item.id" class="hoursPerWeekForTutor"
                                  *ngFor="let item of hoursPerWeekForTutor$ | async">{{item.description}}</mat-radio-button>
              </mat-radio-group>
              <span class="error-message"
                    *ngIf="form.get('hoursPerWeekCurrently')?.errors && form.get('hoursPerWeekCurrently')?.touched">This is a required field</span>
            </div>
          </li>
          <li class="question-list__item">
            <h3 class="main-question">Please select a suitable day of the week for the interview. (US Pacific Standard
              Time)</h3>
            <div class="flex-container-justify-start flex-wrap">
              <ng-container *ngFor="let item of interview.controls; let i = index">
                <div formArrayName="interview">
                  <div [formGroupName]="i" class="d-flex align-items-center selectRow gap-3 grid-gap-10">
                    <div class="selectWrapper">
                      <app-select [label]="'Days of week*'" [list]="daysOfWeek$ | async" [keyName]="'name'"
                                  formControlName="dayOfWeek"></app-select>
                      <span class="error-message"
                            *ngIf="interview.controls[i]?.get('dayOfWeek')?.errors && interview.controls[i]?.get('dayOfWeek')?.touched">This is a required field</span>
                    </div>
                    <div class="selectWrapper">
                      <app-select [label]="'Hours of day*'" [list]="hoursOfDay$ | async" [keyName]="'time'"
                                  formControlName="startOfRange"></app-select>
                      <span class="error-message"
                            *ngIf="interview.controls[i]?.get('startOfRange')?.errors && interview.controls[i]?.get('startOfRange')?.touched">This is a required field</span>
                    </div>
                    <div class="selectWrapper">
                      <app-select [label]="'Hours of day*'" [list]="hoursOfDay$ | async" [keyName]="'time'"
                                  formControlName="endOfRange"></app-select>
                      <span class="error-message"
                            *ngIf="interview.controls[i]?.get('endOfRange')?.errors && interview.controls[i]?.get('endOfRange')?.touched">This is a required field</span>
                    </div>
                    <div class="flex-container grid-gap-for-icons">
                      <div class="recycle-bin-wrapper" (click)="removeInterview(item)" *ngIf="i > 0">
                        <img src="./assets/images/recycleBin.png" alt="recycle byn" class="trashIcon">
                      </div>
                      <i class="fas fa-plus" (click)="addInterview()" *ngIf="i == interview.controls.length-1"></i>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </li>
          <li class="question-list__item">
            <h3 class="main-question">Would you also like to be considered for an
              instructor’s position if one
              becomes available?</h3>
            <div class="checkboxes-wrapper-flex checkboxes-wrapper-flex-with-min-width">
              <mat-radio-group name="wantToBeInstructor" class="everTutoredOnline" formControlName="wantToBeInstructor">
                <mat-radio-button [value]="true">Yes</mat-radio-button>
                <mat-radio-button [value]="false">No</mat-radio-button>
              </mat-radio-group>
              <span class="error-message"
                    *ngIf="form.get('wantToBeInstructor')?.errors && form.get('wantToBeInstructor')?.touched">This is a required field</span>
            </div>
            <div *ngIf="form.get('wantToBeInstructor')?.value === true">
              <h3 class="warning-title">Please list work history, starting from the most recent institution/school.</h3>
              <div class="flex-container-justify-start grid-gap-space flex-wrap">
                <ng-container *ngFor="let item of workHistory.controls; let i = index">
                  <div formArrayName="workHistory">
                    <div [formGroupName]="i" class="d-flex selectRow flex-wrap mb-20">
                      <div class="nested-form-item grid-gap-10 mb-0">
                        <div class="form-label-nested-content">
                          <input type="text"
                                 formControlName="schoolOrInstitutionName"
                                 class="form-input"
                                 placeholder="name of the Institution/school*"
                          >
                          <span class="error-message"
                                *ngIf="workHistory.controls[i]?.get('schoolOrInstitutionName')?.errors && workHistory.controls[i]?.get('schoolOrInstitutionName')?.touched">This is a required field</span>
                        </div>
                      </div>
                      <div class="d-flex align-items-end grid-gap-10">
                        <div class="date-picker-wrapper-for-calendar position-relative">
                          <h2 class="date-picker-label">From</h2>
                          <mat-form-field appearance="fill" class="date-range-wrapper
                  custom-date-range-wrapper">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                              <mat-icon matDatepickerToggleIcon>
                                <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
                              </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <input matInput [matDatepicker]="picker"
                                   (click)="picker.open()"
                                   formControlName="startYear"
                                   [readonly]="true"
                                   placeholder="mm/dd/yyyy*"
                            >
                          </mat-form-field>
                          <span class="error-message"
                                *ngIf="workHistory.controls[i]?.get('startYear')?.errors && workHistory.controls[i]?.get('startYear')?.touched">This is a required field</span>
                        </div>
                        <div class="date-picker-wrapper-for-calendar position-relative">
                          <h2 class="date-picker-label">To </h2>
                          <mat-form-field appearance="fill" class="date-range-wrapper
                  custom-date-range-wrapper">
                            <mat-datepicker-toggle matSuffix [for]="picker1">
                              <mat-icon matDatepickerToggleIcon>
                                <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
                              </mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <input matInput [matDatepicker]="picker1" (click)="picker1.open()" formControlName="endYear"
                                   [readonly]="true" placeholder="*mm/dd/yyyy">
                          </mat-form-field>
                          <span class="error-message"
                                *ngIf="workHistory.controls[i]?.get('endYear')?.errors && workHistory.controls[i]?.get('endYear')?.touched">This is a required field</span>
                        </div>
                        <div class="p-relative">
                          <mat-checkbox class="checkbox-wrapper" formControlName="current">
                            current
                          </mat-checkbox>
                          <span class="error-message"
                                *ngIf="workHistory.controls[i]?.get('current')?.errors && workHistory.controls[i]?.get('current')?.touched">This is a required field</span>
                        </div>
                      </div>
                      <div class="flex-container grid-gap-for-icons">
                        <i class="fas fa-plus" (click)="addWorkHistory()"
                           *ngIf="i == workHistory.controls.length-1"></i>
                        <div class="recycle-bin-wrapper" (click)="removeWorkHistory(item)" *ngIf="i > 0">
                          <img src="./assets/images/recycleBin.png" alt="recycle byn" class="trashIcon">
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
            <h3 class="warning-title">We would require a minimum of two professional references, please enter the
              information below.</h3>
          </li>
        </ol>
      </div>

      <div class="flex-container-start register-step-form row no-gutter">
        <div class="flex-item col-md-6" formArrayName="professionalReferencesForInstructor"
             *ngFor="let item of professionalReferencesForInstructor?.controls; let i = index">
          <div [formGroupName]="i">
            <div class="">
              <div class="flex-container justify-content-between mb-20">
                <h2 class="form-title m-0">Professional reference 1</h2>
                <div class="recycle-bin-wrapper"
                     (click)="removeReferencesForInstructor(item)"
                     *ngIf="i > 1">
                  <img src="./assets/images/recycleBin.png" alt="recycle byn" class="trashIcon">
                </div>
              </div>
              <label for="first-name" class="form-label">
                <input id="first-name" class="form-input" type="text"
                       placeholder="First Name*"
                       formControlName="name">
                <span class="error-message"
                      *ngIf="professionalReferencesForInstructor.controls[i]?.get('name')?.errors && professionalReferencesForInstructor.controls[i]?.get('name')?.touched">This is a required field</span>
              </label>
              <label for="last-name" class="form-label">
                <input id="last-name" class="form-input" type="text"
                       placeholder="Last Name*"
                       formControlName="lastName">
                <span class="error-message"
                      *ngIf="professionalReferencesForInstructor.controls[i]?.get('lastName')?.errors && professionalReferencesForInstructor.controls[i]?.get('lastName')?.touched">This is a required field</span>
              </label>
              <label for="email" class="form-label">
                <input id="email" class="form-input" autocomplete="username" type="email"
                       placeholder="Email Address*"
                       formControlName="emailAddress">
                <span class="error-message"
                      *ngIf="professionalReferencesForInstructor.controls[i]?.get('emailAddress')?.errors?.required && professionalReferencesForInstructor.controls[i]?.get('emailAddress')?.touched">This is a required field</span>
                <span class="error-message"
                      *ngIf="professionalReferencesForInstructor.controls[i]?.get('emailAddress')?.errors?.pattern && professionalReferencesForInstructor.controls[i]?.get('emailAddress')?.touched">Please provide a valid email address</span>
              </label>
              <div class="tutor-contact wrapper-for-contact">
                <div class="d-flex position-relative">
                  <div class="form-label phone-number-label form-label--min-width w-25">
                    <app-select [list]="phoneCods$ | async" [label]="'+374'" [keyName]="'phoneCode'"
                                [optionName]="'iso3'"
                                formControlName="numberId"></app-select>
                    <span class="error-message"
                          *ngIf="professionalReferencesForInstructor.controls[i]?.get('numberId')?.errors && professionalReferencesForInstructor.controls[i]?.get('numberId')?.touched">This is a required field</span>
                  </div>
                  <label for="phone-number" class="form-label phone-number-label phone-number-label-input">
                    <input id="phone-number" class="form-input" autocomplete="phone-number"
                           type="tel"
                           placeholder="Phone Number*"
                           formControlName="mobilePhone">
                    <span class="error-message"
                          *ngIf="professionalReferencesForInstructor.controls[i]?.get('mobilePhone')?.errors && professionalReferencesForInstructor.controls[i]?.get('mobilePhone')?.touched">This is a required field</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button (click)="addProfessionalReferencesForInstructor()" class="add flex-container-center">+ Add more</button>
      </div>
    </fieldset>
  </form>
  <div class="flex-container-center button-wrapper">
    <a type="button" class="sophist-btn flex-container-center previous-btn" (click)="previousStep()">PREVIOUS</a>
    <a type="submit" class="sophist-btn flex-container-center next-btn" (click)="onSubmit()">NEXT</a>
  </div>
</div>
