<div class="login-wrapper">
  <p class="error-notification">
    {{errorMessage}}
  </p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="email" class="form-label">
      <input id="email"
             class="form-input"
             name="email"
             required
             autocomplete="email"
             type="email"
             placeholder="email address*"
             formControlName="email">
      <span class="error-message" *ngIf="form.get('email')?.errors?.required && form.get('email')?.touched">This Field Required</span>
      <span class="error-message" *ngIf="form.get('email')?.errors?.pattern && form.get('email')?.touched">Please provide a valid email address</span>
    </label>
    <label for="password" class="form-label">
      <input id="password"
             class="form-input"
             name="current-password"
             required
             autocomplete="current-password"
             [type]="passwordType"
             placeholder="password*"
             formControlName="password">
      <span class="error-message" *ngIf="form.get('password')?.errors && form.get('password')?.touched">This Field Required</span>
      <span class="view-icon" (click)="togglePasswordVisibility()">
        <img src="assets/images/visiblePassword.svg" *ngIf="passwordType ==='password'" alt="VisiblePassword" width="27" height="17">
        <img src="assets/images/invisiblePassword.png" alt="Invisible Password" *ngIf="passwordType ==='text'" width="29" height="26">
    </span>
    </label>
    <a href="#" class="forgot-pass-link">Forget your password?</a>
    <div class="flex-container-center">
      <button class="login-btn flex-container-center">Login</button>
    </div>

    <div class="flex-container-justify-start register-btn-wrapper">
      <a [routerLink]="'tutor/signUp'" class="register-btn flex-container-center">Apply to become a tutor</a>
      <a [routerLink]="'student/signUp'" class="register-btn flex-container-center">Create a student account</a>
    </div>
  </form>
</div>
