<div class="login-wrapper">
  <label for="email" class="form-label">
    <input id="email"
           class="form-input"
           name="email"
           required
           autocomplete="email"
           type="email"
           placeholder="*email address"
           formControlName="emailAddress">
    <span class="error-message">This Field Required</span>
  </label>
  <label for="password" class="form-label">
    <input id="password"
           class="form-input"
           name="current-password"
           required
           autocomplete="current-password"
           type="password"
           placeholder="*email address"
           formControlName="currentPassword">
    <span class="error-message"></span>
    <span class="view-icon">
      <img src="assets/images/" alt="">
    </span>
  </label>
  <a href="#" class="forgot-pass-link">Forget your password?</a>
  <div class="flex-container-center">
    <button class="login-btn flex-container-center">Login</button>
  </div>

  <div class="flex-container-justify-start register-btn-wrapper">
    <a href="#" class="register-btn flex-container-center">Apply to become a tutor</a>
    <a href="#" class="register-btn flex-container-center">Create a student account</a>
  </div>
</div>
