<section class="blue-bg">
  <ul class="count-wrapper flex-container-center" *ngIf="userRole === 'tutor' && (total$ | async) as total">
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Total earnings</h2>
      <h6 class="count-wrapper__item--info">{{total.totalEarnings | currency}}</h6>
    </li>
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Amount paid</h2>
      <h6 class="count-wrapper__item--info">{{total.amountPaid | currency}}</h6>
    </li>
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Amount owed</h2>
      <h6 class="count-wrapper__item--info">{{total.amountOwed | currency}}</h6>
    </li>
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Pay percent</h2>
      <h6 class="count-wrapper__item--info">{{total.payPercent | currency}}</h6>
    </li>
  </ul>
  <button class="settings-form-button" (click)="getLastPayment()">Payment history</button>
  <div class="profile-table-wrapper">
    <div *ngIf="(lastPayments$ | async) as lastPayment">
      <h2 class="section-subtitle" *ngIf="lastPayment?.length">Recent payment.</h2>
      <div class="profile-table-container min-width-table" *ngIf="lastPayment?.length">
        <table>
          <thead>
          <tr>
            <th>
              <h3 class="thead-title">Date</h3>
            </th>
            <th>
              <h3 class="thead-title">Amount</h3>
            </th>
            <th>
              <h3 class="thead-title">Number of lesson</h3>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let payment of lastPayment">
            <td>
              <h4 class="tbody-info flex-container-center">{{payment.chargeDate | date : 'MMM d, y'}}</h4>
            </td>
            <td>
              <h4 class="tbody-info flex-container-center">{{payment.amount | currency}}</h4>
            </td>
            <td>
              <h4 class="tbody-info flex-container-center">
                {{payment.sessionsCount}}
              </h4>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="profile-table__items">
      <h2 class="section-subtitle">Recent history.</h2>
      <div class="profile-table-filter-container calendar-wrapper">
        <div class="flex-container payment-filter">
          <form class="flex-container-justify-start calendar-datepicker-wrappers" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="date-picker-wrapper-for-calendar">
              <h2 class="date-picker-label">From</h2>
              <mat-form-field appearance="fill"
                              class="date-range-wrapper
                  custom-date-range-wrapper">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>
                    <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
                  </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <input matInput
                       [matDatepicker]="picker" formControlName="from"
                       (click)="picker.open()"
                       placeholder="MM/dd/yyyy*"
                >
              </mat-form-field>
            </div>
            <div class="date-picker-wrapper-for-calendar">
              <h2 class="date-picker-label">To </h2>
              <mat-form-field appearance="fill" class="date-range-wrapper
                  custom-date-range-wrapper">
                <mat-datepicker-toggle matSuffix [for]="picker1">
                  <mat-icon matDatepickerToggleIcon>
                    <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
                  </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <input matInput [matDatepicker]="picker1" formControlName="to"
                       (click)="picker1.open()"
                       placeholder="MM/dd/yyyy*"
                >
              </mat-form-field>
            </div>
            <button class="btn-add-less flex-container-center">Filter</button>
          </form>
          <div class="flex-container-center" *ngIf="false">
            <img src="assets/images/printer.png" alt="Printer" width="35" height="35">
            <button class="settings-form-button print-btn">Print Selected</button>
          </div>
        </div>
        <ul class="total-info" *ngIf="(paymentHistory$ | async) as paymentHistory">
          <li class="flex-container-justify-start">
            <h2 class="total-info__label"> Total Payments </h2>
            <span class="total-info__info">{{paymentHistory.totalPayments}}</span>
          </li>
          <li class="flex-container-justify-start">
            <h2 class="total-info__label"> Total Paid </h2>
            <span class="total-info__info">{{paymentHistory.totalAmount}}</span>
          </li>
        </ul>
      </div>
      <div class="profile-table-container" *ngIf="(paymentHistory$ | async) as paymentHistory">
        <table *ngIf="paymentHistory?.payments?.length">
          <thead>
          <tr>
            <th>
              <h3 class="thead-title">ID</h3>
            </th>
            <th>
              <h3 class="thead-title">Date </h3>
            </th>
            <th>
              <h3 class="thead-title">Payment type</h3>
            </th>
            <th>
              <h3 class="thead-title">Total </h3>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of paymentHistory.payments">
            <td>
              <h4 class="tbody-info flex-container-center">
                <button type="button" class="link">{{item.paymentId}}</button>
              </h4>
            </td>
            <td>
              <h4 class="tbody-info flex-container-center">{{item.date | date : 'shortDate'}}</h4>
            </td>
            <td>
              <h4 class="tbody-info flex-container-center">{{item.type}}</h4>
            </td>
            <td>
              <h4 class="tbody-info flex-container-center">{{item.amount | currency}}</h4>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
