<div class="blue-bg">
  <ul class="co-unt-wrapper">
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Total earnings</h2>
      <h6 class="count-wrapper__item--info">$0,00</h6>
    </li>
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Amount paid</h2>
      <h6 class="count-wrapper__item--info">$0,00</h6>
    </li>
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Amount owed</h2>
      <h6 class="count-wrapper__item--info">$0,00</h6>
    </li>
    <li class="count-wrapper__item">
      <h2 class="count-wrapper__item--label">Pay percent</h2>
      <h6 class="count-wrapper__item--info">$0,00</h6>
    </li>
  </ul>
  <button class="sophist-btn">Payment history</button>
  <div>
    <h2 class="section-subtitle">Recent payment.</h2>
    <div class="payment-table-wrapper">

    </div>
  </div>
</div>
