<!--================ Header Area Start =================-->
<app-header></app-header>
<!--================ Header Area End =================-->

<!--================ Section About Us Start ================-->
<section class="about-us__info">
  <div class="container">
    <h2 class="about_us__title"> About us </h2>
    <p class="about_us_description">
      One-to-one learning works. We’ve believed that from day one. But we also knew it would work better if it were
      accessible, affordable, and more convenient for everyone. So that’s what we’ve built—an easier way to connect
      people who need to know with the experts that can teach them. And we’ve changed the way people think about
      education in the process.
      One-to-one learning works. We’ve believed that from day one. But we also knew it would
      work better if it were accessible, affordable, and more convenient for everyone. So that’s what we’ve built—an
      easier way to connect people who need to know with the experts that can teach them. And we’ve changed the way
      people think about education in the process. One-to-one learning works. We’ve believed that from day one. But we
      also knew it would work better if it were accessible, affordable, and more convenient for everyone. So that’s what
      we’ve built—an easier way to connect people who need to know with the experts that can teach them. And we’ve
      changed the way people think about education in the process.<br>
      One-to-one learning works. We’ve believed that from day one. But we also knew it would work better if it were
      accessible, affordable, and more convenient for everyone. So that’s what we’ve built—an easier way to connect
      people who need to know with the experts that can teach them. And we’ve changed the way people think about
      education in the process.One-to-one learning works. We’ve believed that from day one. But we also knew it would
      work better if it were accessible, affordable, and more convenient for everyone. So that’s what we’ve built—an
      easier way to connect people who need to know with the experts that can teach them. And we’ve changed the way
      people think about education in the process.One-to-one learning works. We’ve believed that from day one. But we
      also knew it would work better if it were accessible, affordable, and more convenient for everyone. So that’s what
      we’ve built—an easier way to connect people who need to know with the experts that can teach them. And we’ve
      changed the way people think about education in the process. <br>
      One-to-one learning works. We’ve believed that from day one. But we also knew it would work better if it were
      accessible, affordable, and more convenient for everyone. So that’s what we’ve built—an easier way to connect
      people who need to know with the experts that can teach them. And we’ve changed the way people think about
      education in the process.One-to-one learning works. We’ve believed that from day one. But we also knew it would
      work better if it were accessible, affordable, and more convenient for everyone. So that’s what we’ve built—an
      easier way to connect people who need to know with the experts that can teach them.
    </p>
  </div>
  <div class="service-bg">
    <div class="container">
      <ul class="service-list flex-container">
        <li class="service-list__item">
          <img src="assets/images/quality.png" alt="Quality" width="106" height="142">
          <h4 class="service-list__item-title">quality</h4>
        </li>
        <li class="service-list__item">
          <img src="assets/images/reliability.png" alt="RELIABILITY" width="153" height="129">
          <h4 class="service-list__item-title">RELIABILITY</h4>
        </li>
        <li class="service-list__item">
          <img src="assets/images/knowledge.png" alt="KNOWLEDGE" width="135" height="135">
          <h4 class="service-list__item-title">KNOWLEDGE</h4>
        </li>
      </ul>
    </div>
  </div>
</section>

<main class="container page-wrapper">
  <!--================ Section About Us End ================-->

  <!--================ Section Our Team Start ================-->
  <section class="team about-us-team">
    <h2 class="team__title"> Our team </h2>
    <ul class="team-cards-list">
      <li class="team-cards-list__item">
        <figure>
          <div class="team-cards-list__item--image">
            <img src="assets/images/ourTeam/nelly.jpg"
                 alt="Tutor"
                 width="341"
                 height="512"
            >
          </div>
          <figcaption>
            <h2 class="team-cards-list__item--name">Nelly Marutyan </h2>
            <h3 class="team-cards-list__item--subject">
              Hello!
              My name is Nelly Maroutian. I am one of the co-founders of Sophist Inc. As the leader of the team, I
              promote inclusion, diversity, and work flexibility at Sophist. While creating our platform, I have teamed
              up with experts from around the world to bring the best experience to our tutors and students. In
              addition, our team has grown to represent women from around the world who bring in their professionalism,
              dedication, and strive for a better life.

              A bit about myself:

              I graduated from Armenian State Pedagogical University in 2006 obtaining a BA degree in English and
              Spanish. In 2007, I received my MA degree in General Linguistics and TESL Certificate.
              FLS International, Santa Monica Community College, and California State University Northridge are just
              some of the great places where I taught. Currently, I work on my Ph.D. at USC focusing on Syntax and
              language structure.

            </h3>
          </figcaption>
        </figure>
      </li>
      <li class="team-cards-list__item">
        <figure>
          <div class="team-cards-list__item--image">
            <img src="assets/images/ourTeam/tatevik.jpg"
                 alt="Tatevik"
                 width="384"
                 height="512"
            >
          </div>
          <figcaption>
            <h2 class="team-cards-list__item--name">Tatevik Hovhannisyan </h2>
            <h3 class="team-cards-list__item--subject">
              Hello!
              I am Tatev Hovhannisyan. I am one of the co-founders of Sophist. While teaching I have the opportunity to
              observe and implement different teaching methods that bring inclusivity, diversity, and harmony to the
              class. When working with a student individually, I focus more on their needs and preferences taking into
              account the possibilities we can employ and avenues we can explore. One of my dreams is to give every
              person the chance to learn the way they want, and thus I promote mobility and flexibility.
              A bit about myself:

              I earned my BA in Applied Linguistics, Translation, and Interpretation from Saint Petersburg State
              University, where I also did my MA in General Linguistics. When I moved to the United States, I decided to
              further my knowledge in Linguistics and applied to California State University Northridge earning my
              second MA in General Linguistics. In 2017, I went back to CSUN and got my TESL certificate.

              I had worked with giants like Kaplan International Los Angeles and University of Southern California
              before joining UCLA Extension’s IEP program where I still teach international students.
            </h3>
          </figcaption>
        </figure>
      </li>
      <li class="team-cards-list__item">
        <figure>
          <div class="team-cards-list__item--image">
            <img src="assets/images/ourTeam/zaidey.jpg"
                 alt="Zaidey"
                 width="341"
                 height="512"
            >
          </div>
          <figcaption>
            <h2 class="team-cards-list__item--name">Zaidey Fandey </h2>
            <h3 class="team-cards-list__item--subject">
              Hello everyone!

              I am Zaidey Fandey and at Sophist I am the Social Media Marketer. My work is to deliver up to date
              information to our social media subscribers about Sophist Inc. and keep the community updated about what
              we do. I create content for our Instagram, Facebook, Tweeter, etc. platforms and promote our product
              online. In collaboration with our marketing specialist, I come up with various ways to represent a more
              streamlined and targeted content. After joining the Sophist team, I have realized that I value my work
              flexibility and the amazing all-female team who understand where I come from.

              A bit about myself:
              I worked with schools like Kaplan International Los Angeles working with international students and
              promoting their social media pages. I am a Los Angeles native, and having absorbed the great vibes of this
              amazing city, I deliver the best I have learned: diversity and inclusion.
            </h3>
          </figcaption>
        </figure>
      </li>
      <li class="team-cards-list__item">
        <figure>
          <div class="team-cards-list__item--image">
            <img src="assets/images/ourTeam/marina.jpg"
                 alt="Marina Sahakyan"
                 width="388"
                 height="512"
            >
          </div>
          <figcaption>
            <h2 class="team-cards-list__item--name"> Marina Sahakyan </h2>
            <h3 class="team-cards-list__item--subject">
              Hi there!
              I am Marina Sahakyan. I am the Head of Accounting at Sophist Inc. I make sure that the financial
              transactions run smoothly at Sophist. It was an honor for me to join the team of driven women founders who
              want to change the world of education making it accessible to both teachers and students anywhere in the
              world.
              A bit about me:
              I graduated from Yerevan State University of Economics earning my MBA. I had worked as an accountant in
              several minor and major companies before attending the Accounting Certification Program at UCLA Extension.
            </h3>
          </figcaption>
        </figure>
      </li>
      <li class="team-cards-list__item">
        <figure>
          <div class="team-cards-list__item--image">
            <img src="assets/images/ourTeam/mason.jpg"
                 alt="Mason Crawford"
                 width="299"
                 height="299"
            >
          </div>
          <figcaption>
            <h2 class="team-cards-list__item--name"> Mason Crawford </h2>
            <h3 class="team-cards-list__item--subject">
              Great to meet you!
              I am Mason Crawford. I am the Marketing Coordinator for Sophist Inc. Currently my goal is to help Sophist
              build a foundation to grow and support the future education of an eager world full of students. I’m lucky
              to be a part of this fast growing company that is looking to change the way we tutor.
              A bit about me:
              I have my AS in Business Management and BS in Digital Marketing from Utah Valley University. Previously, I
              worked as the Assistant Director of Athletic Marketing for UVU. Additionally, I spent two years studying
              Accounting at Cabrillo College in Santa Cruz, CA and played water polo collegiately for the school.

            </h3>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section>
  <!--================ Section Our Team End ================-->

  <!--================ Section Site Participants Start ================-->
  <section class="team">
    <h2 class="team__title"> Our technical team </h2>
    <ul class="team-cards-list">
      <li class="team-cards-list__item">
        <figure>
          <div class="team-cards-list__item--image">
            <img src="assets/images/ourTeam/siranush.jpg"
                 alt="Siranush"
                 width="300"
                 height="512"
            >
          </div>
          <figcaption>
            <h2 class="team-cards-list__item--name">Siranush Tigranyan</h2>
            <h3 class="team-cards-list__item--subject">
              Hello!
              My name is Siranush Tigranyan. I was the Product Owner at Sophist. My job was to collaborate with Product
              Managers / Business Development specialists to gather the business concepts, requirements, and feature
              requests. My team and I monitored the platform and perfected it to serve the needs of our diverse users.
              A bit about myself:
              I graduated from Armenian State University of Economics with a major in Financing. Then, I earned my MBA
              from the Public Administration Academy of the Republic of Armenia.
            </h3>
          </figcaption>
        </figure>
      </li>
      <li class="team-cards-list__item">
        <figure>
          <div class="team-cards-list__item--image">
            <img src="assets/images/ourTeam/elida.jpg"
                 alt="Elida"
                 width="367"
                 height="512"
            >
          </div>
          <figcaption>
            <h2 class="team-cards-list__item--name"> Elida Maruqyan </h2>
            <h3 class="team-cards-list__item--subject">
              Hi there!
              My name is Elida Maruqyan. I was a Markup Specialist at Sophist. My job was to make a structure of the
              website according to design which front-end and back-end developers can use to make the full development
              process.

              A bit about myself:
              I graduated from Yerevan State University with a major in philology. Then, I got the qualification of
              front-end developer in Armenian Code Academy.
              I am currently teaching at aca as an html-css teacher․
            </h3>
          </figcaption>
        </figure>
      </li>
      <li class="team-cards-list__item">
        <figure>
          <div class="team-cards-list__item--image">
            <img src="assets/images/ourTeam/hasmik.jpg"
                 alt="Hasmik"
                 width="336"
                 height="512"
            >
          </div>
          <figcaption>
            <h2 class="team-cards-list__item--name">Hasmik Vardanyan </h2>
            <h3 class="team-cards-list__item--subject">
              My name is Hasmik Vardanyan. I was the Software Quality Assurance Engineer at Sophist.
              A bit about myself:
              I have a Bachelor's degree in Finance from the Armenian State University of Economics and an MBA degree
              from the American University of Armenia.
            </h3>
          </figcaption>
        </figure>
      </li>
      <li class="team-cards-list__item">
        <figure>
          <div class="team-cards-list__item--image">
            <img src="assets/images/ourTeam/emma.jpg"
                 alt="Emma"
                 width="502"
                 height="512"
            >
          </div>
          <figcaption>
            <h2 class="team-cards-list__item--name"> Emma Atoyan </h2>
            <h3 class="team-cards-list__item--subject">
              Hello!
              My name is Emma Atoyan. I was a UI/UX Designer Specialist at Sophist. My job was to create user-friendly
              interfaces that enable users to understand how to use complex technical products at the same time to make
              a product usable, enjoyable, and accessible.
              A bit about myself:
              I graduated from Yerevan State University with a major in Foreign Languages. Tօ combine my foreign
              language skills with design, I decided to study UI/UX design at Basic IT center.
            </h3>
          </figcaption>
        </figure>
      </li>
    </ul>
  </section>
  <!--================ Section Site Participants End ================-->
</main>
