<!--================ Section Tutor Sign Up First Step Area Start ================-->
<section class="tutor-sign-up-wrapper">
  <h3 class="group-title">Basic information</h3>
  <h5 class="group-subtitle">
    Please provide the following information so we can start composing your
    profile.</h5>
  <div class="tutor-sign-up-form-container">
    <form action="">
      <fieldset>
        <legend class="group-title group-title__bold text-center text-bold">
          Administrative details
        </legend>
        <ul class="tutor-sign-up-list">
          <li class="tutor-sign-up-list__item">
            <h3 class="main-question">Please choose your subject</h3>
            <div class="d-flex flex-container-justify-start gap-3
            grid-gap-10 date-picker-container">
              <div class="selectWrapper">
                <app-select
                  [label]="'*Category'"
                  [keyName]="'name'"
                  formControlName="category">
                </app-select>
                <span class="error-message">This is a required field</span>
              </div>
              <div class="selectWrapper">
                <app-select
                  [label]="'*Time'"
                  [keyName]="'time'"
                  formControlName="startOfRange">
                </app-select>
                <span class="error-message">This is a required field</span>
              </div>
              <div class="selectWrapper">
                <app-select
                  [label]="'*Time'"
                  [keyName]="'time'"
                  formControlName="endOfRange">
                </app-select>
                <span class="error-message">This is a required field</span>
              </div>
              <i class="fas fa-plus"></i>
            </div>
          </li>
          <li class="tutor-sign-up-list__item">
            <h3 class="main-question">Please enter hourly rate</h3>
            <label for="hourly-rate" class="form-label form-label--flex-container">
              <input id="hourly-rate" class="form-input" type="text"
                     placeholder="*the minimum hourly rate is $20"
                     value="">
              <span class="error-message">You cannot enter anything below $20</span>
            </label>
            <p class="input-notification">Please choose a default hourly rate.
              Sophist’s fee is 18% of this amount</p>
            <p class="form-item-notification">When choosing your rate, not only consider your level
              of experience, but also the cost
              of living in your area. Keep in mind that you can change your rate at any time and
              that
              you will have the ability to set online tutoring houry rates once you complete
              registration and are certified to tutor online.</p>
          </li>
          <li class="tutor-sign-up-list__item">
            <h3 class="main-question">Please choose Cancellation notice</h3>
            <div class="form-label">
              <div class="dropdown-menu-with-selected-icon">
                <app-select
                  [label]="'*Country'"
                  [keyName]="'name'"
                  formControlName="dayOfWeek">
                </app-select>
                <span class="error-message">Please fill in your last name</span>
              </div>
            </div>
            <p class="form-item-notification">You may wish to maintain a
              cancellation policy to guard against late notice of rescheduling or
              lesson cancellation. Please make sure to communicate this cancellation
              policy before you schedule a lesson with a student.</p>
          </li>
        </ul>
        <div class="address-wrapper">
          <h2 class="group-title group-title__bold group-title__m text-center text-bold">
            Your Address
          </h2>
          <ul class="address-form col-md-6 col-lg-6 col-xs-12 no-gutters">
            <li class="address-form__item">
              <div class="form-label">
                <app-select
                  [label]="'*Country'"
                  [keyName]="'name'"
                  formControlName="dayOfWeek">
                </app-select>
                <span class="form-item-notification">Visible on the public profile</span>
                <span class="error-message block">This Field is requires</span>
              </div>
            </li>
            <li class="address-form__item">
              <div>
                <label class="form-label label-for-security-number">Social Security Number*</label>
                <div class="form-input-container">
                  <div class="input-group-wrapper">
                    <input name="securityNumber" class="form-input" type="text" pattern="\d*" maxlength="1"
                           value="" formControlName="securityNumber">
                    <input name="securityNumber" class="form-input" type="text" pattern="\d*" maxlength="1"
                           value="" formControlName="securityNumber">
                    <input name="securityNumber" class="form-input" type="text" pattern="\d*" maxlength="1"
                           value="" formControlName="securityNumber">
                  </div>
                  <div class="input-group-wrapper">
                    <input name="securityNumber" class="form-input" type="text" pattern="\d*" maxlength="1"
                           value="" formControlName="securityNumber">
                    <input name="securityNumber" class="form-input" type="text" pattern="\d*" maxlength="1"
                           value="" formControlName="securityNumber">
                  </div>
                  <div class="input-group-wrapper">
                    <input name="securityNumber" class="form-input" type="text" pattern="\d*" maxlength="1"
                           value="" formControlName="securityNumber">
                    <input name="securityNumber" class="form-input" type="text" pattern="\d*" maxlength="1"
                           value="" formControlName="securityNumber">
                    <input name="securityNumber" class="form-input" type="text" pattern="\d*" maxlength="1"
                           value="" formControlName="securityNumber">
                    <input name="securityNumber" class="form-input" type="text" pattern="\d*" maxlength="1"
                           value="" formControlName="securityNumber">
                  </div>
                  <span class="form-item-notification">Visible on the public profile</span>
                </div>
              </div>
            </li>
            <li class="address-form__item">
              <label for="city" class="form-label">
                <input id="city" name="city" class="form-input" type="text" placeholder="*city"
                       value="">
                <span class="form-item-notification">Not visible on the public profile</span>
                <span class="error-message block">This Field is requires</span>
              </label>
            </li>
            <li class="address-form__item">
              <label for="street-number" class="form-label">
                <input id="street-number" name="street-number" class="form-input" type="text"
                       placeholder="*street number"
                       value="">
                <span class="form-item-notification">Not visible on the public profile</span>
                <span class="error-message block">This Field is requires</span>
              </label>
            </li>
            <li class="address-form__item">
              <label for="street-name" class="form-label">
                <input id="street-name" name="street-name" class="form-input" type="text"
                       placeholder="*street name"
                       value="">
                <span class="form-item-notification">Not visible on the public profile</span>
                <span class="error-message block">This Field is requires</span>
              </label>
            </li>
            <li class="address-form__item">
              <label for="zip-code" class="form-label">
                <input id="zip-code" name="zip-code" class="form-input" type="text"
                       placeholder="*zip-code"
                       value="">
                <span class="form-item-notification">Not visible on the public profile</span>
                <span class="error-message block">This Field is requires</span>
              </label>
            </li>
          </ul>
        </div>
      </fieldset>
    </form>
    <div class="flex-container-center button-wrapper button-wrapper__mt">
      <button class="sophist-btn flex-container-center" (click)="back.emit()">PREVIOUS</button>
      <button type="submit" class="sophist-btn flex-container-center next-btn" (click)="next.emit()">NEXT</button>
    </div>
  </div>
</section>
<!--================ Section Tutor Sign Up First Step Area End ================-->
