<!--================ Section Tutor Sign Up First Step Area Start ================-->
<section class="tutor-sign-up-wrapper">
  <h3 class="group-title">Basic information</h3>
  <h5 class="group-subtitle">
    Please provide the following information so we can start composing your
    profile.</h5>
  <div class="tutor-sign-up-form-container">
    <form [formGroup]="form">
      <fieldset>
        <legend class="group-title group-title__bold text-center text-bold">
          Administrative details
        </legend>
        <ul class="user-sign-up-list">
          <li class="user-sign-up-list__item">
            <h3 class="main-question">Please choose your subjects</h3>
            <div class="d-flex flex-wrap flex-container-justify-start gap-3
            grid-gap-10 date-picker-container">
              <ng-container *ngFor="let item of tutorSubjects.controls; let i = index">
                <div formArrayName="tutorSubjects">
                  <div [formGroupName]="i" class="d-flex selectRow">

                    <div class="selectWrapper">
                      <app-select
                        [label]="'Category*'"
                        [list]="categories$ | async"
                        [keyName]="'categoryName'"
                        (ngModelChange)="categoryChange($event, i)"
                        formControlName="categoryId"
                      >
                      </app-select>
                      <span class="error-message"
                            *ngIf="tutorSubjects.controls[i]?.get('categoryId')?.errors && tutorSubjects.controls[i]?.get('categoryId')?.touched">This is a required field</span>
                    </div>
                    <div class="selectWrapper">
                      <app-select
                        [label]="'Subject*'"
                        [list]="observables[i]?.subjects$ | async"
                        [keyName]="'subjectName'"
                        (ngModelChange)="subjectChange($event, i, tutorSubjects.controls[i])"
                        formControlName="subjectId"
                      >
                      </app-select>
                      <span class="error-message"
                            *ngIf="tutorSubjects.controls[i]?.get('subjectId')?.errors && tutorSubjects.controls[i]?.get('subjectId')?.touched">This is a required field</span>
                    </div>
                    <div class="selectWrapper">
                      <app-select
                        [label]="'Level*'"
                        [list]="observables[i]?.levels$ | async"
                        [keyName]="'level'"
                        [disable]="!(observables[i]?.levels$ | async)?.length"
                        formControlName="levelId"
                      >
                      </app-select>
                      <span class="error-message"
                            *ngIf="tutorSubjects.controls[i]?.get('levelId')?.errors && tutorSubjects.controls[i]?.get('levelId')?.touched">This is a required field</span>
                    </div>
                    <div class="flex-container grid-gap-for-icons">
                      <div class="recycle-bin-wrapper text-danger"
                           (click)="removeTutorSubjects(item)" *ngIf="i > 0">
                        <img src="./assets/images/recycleBin.png" alt="recycle byn" class="trashIcon">
                      </div>
                      <i class="fas fa-plus" (click)="addTutorSubjects()"
                         *ngIf="i == tutorSubjects.controls.length-1"></i>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </li>
          <li class="user-sign-up-list__item">
            <h3 class="main-question">Please enter hourly rate</h3>
            <label for="hourly-rate" class="form-label form-label--flex-container">
              <input id="hourly-rate" class="form-input" type="text"
                     placeholder="The minimum hourly rate is $20*"
                     formControlName="hourlyRate">
              <span class="error-message"
                    *ngIf="form.get('hourlyRate')?.errors?.min && form.get('hourlyRate')?.touched">You cannot enter anything below $20</span>
              <span class="error-message"
                    *ngIf="form.get('hourlyRate')?.errors?.required && form.get('hourlyRate')?.touched">This is a required field</span>
            </label>
            <p class="input-notification">Please choose a default hourly rate. Sophist’s platform fee is 18% of this
              amount. </p>
            <p class="form-item-notification">When choosing your rate, not only consider your level of experience and
              expertise, but also the cost of living in your area. Keep in mind that you can change your rate at any
              time and that you will have the ability to set online tutoring hourly rates once you complete registration
              and are certified to tutor online.</p>
          </li>
          <li class="user-sign-up-list__item">
            <h3 class="main-question">Please choose Cancellation notice</h3>
            <div class="form-label">
              <div class="dropdown-menu-with-selected-icon">
                <app-select
                  [label]="'None*'"
                  [list]="cancelationHours$ | async"
                  formControlName="cancellationId"
                >
                </app-select>
                <span class="error-message"
                      *ngIf="form.get('cancellationId')?.errors?.required && form.get('cancellationId')?.touched">This is a required field</span>
              </div>
            </div>
            <p class="form-item-notification">You may wish to maintain a
              cancellation policy to guard against late notice of rescheduling or
              lesson cancellation. Please make sure to communicate this cancellation
              policy before you schedule a lesson with a student.</p>
          </li>
        </ul>
        <div class="address-wrapper">
          <h2 class="group-title group-title__bold group-title__m text-center text-bold">
            Your Address
          </h2>
          <ul class="address-form col-md-6 col-lg-6 col-xs-12 no-gutters" formGroupName="userAddress">
            <li class="address-form__item">
              <div class="form-label">
                <app-select
                  [label]="'Country*'"
                  [list]="countries$ | async"
                  [keyName]="'nameLowerCase'"
                  formControlName="countryId"
                >
                </app-select>
                <span class="form-item-notification">Visible on the public profile</span>
                <span class="error-message block"
                      *ngIf="userAddress.get('countryId')?.errors?.required && userAddress.get('countryId')?.touched">This is a required field</span>
              </div>
            </li>
            <li class="address-form__item">
              <div *ngIf="userAddress.get('countryId')?.value === 226">
                <h3 class="label-text">Social Security Number*</h3>
                <label class="form-label label-for-security-number">
                  <input mask="000-00-0000" name="securityNumber" class="form-input" type="text"
                         formControlName="socialSecurityNumber" [innerHTML]="'123456789' | slice:0:3">
                  <span class="form-item-notification">Not visible on the public profile</span>
                  <span class="error-message block"
                        *ngIf="userAddress.get('socialSecurityNumber')?.errors?.required && userAddress.get('socialSecurityNumber')?.touched">This is a required field</span>
                </label>
              </div>
            </li>
            <li class="address-form__item">
              <label for="city" class="form-label">
                <input id="city" name="city" class="form-input" type="text" placeholder="City*"
                       formControlName="city">
                <span class="form-item-notification">Not visible on the public profile</span>
                <span class="error-message block"
                      *ngIf="userAddress.get('city')?.errors?.required && userAddress.get('city')?.touched">This is a required field</span>
              </label>
            </li>
            <li class="address-form__item">
              <label for="street-number" class="form-label">
                <input id="street-number" name="street-number" class="form-input" type="text"
                       placeholder="Street number*"
                       formControlName="streetNumber">
                <span class="form-item-notification">Not visible on the public profile</span>
                <span class="error-message block"
                      *ngIf="userAddress.get('streetNumber')?.errors?.required && userAddress.get('streetNumber')?.touched">This is a required field</span>
              </label>
            </li>
            <li class="address-form__item">
              <label for="street-name" class="form-label">
                <input id="street-name" name="street-name" class="form-input" type="text"
                       placeholder="Street name*"
                       formControlName="streetName">
                <span class="form-item-notification">Not visible on the public profile</span>
                <span class="error-message block"
                      *ngIf="userAddress.get('streetName')?.errors?.required && userAddress.get('streetName')?.touched">This is a required field</span>
              </label>
            </li>
            <li class="address-form__item">
              <label for="zip-code" class="form-label">
                <input id="zip-code" name="zip-code" class="form-input" type="text"
                       placeholder="Zip Code*"
                       formControlName="zipCode">
                <span class="form-item-notification">Not visible on the public profile</span>
                <span class="error-message block"
                      *ngIf="userAddress.get('zipCode')?.errors?.required && userAddress.get('zipCode')?.touched">This is a required field</span>
              </label>
            </li>
          </ul>
        </div>
      </fieldset>
    </form>
    <div class="flex-container-center button-wrapper button-wrapper__mt">
      <button type="submit" class="sophist-btn flex-container-center next-btn" (click)="onSubmit()">NEXT</button>
    </div>
  </div>
</section>
<!--================ Section Tutor Sign Up First Step Area End ================-->
