<div class="end-lesson-wrapper">
  <table class="end-lesson-table">
    <tbody>
    <!-- Student End Lesson fields-->
    <tr>
      <td>
        <h2 class="end-lesson-table-row-label">
          Review
        </h2>
      </td>
      <td>
        <div>
          <label for="review" class="form-label form-label--flex-container">
                <textarea id="review"
                          class="form-textarea" type="text"
                          rows="5" cols="3"
                          placeholder="start typing..."
                          formControlName="review">
                </textarea>
            <!--            <span class="error-message">This is a required field</span>-->
          </label>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <h2 class="end-lesson-table-row-label">
          Rate*
        </h2>
      </td>
      <td>
        <div>
          <fieldset class="star-rates">
            <star-rating checkedcolor="#FFC107" uncheckedcolor="#c2c2c2" size="24px"></star-rating>
          </fieldset>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="flex-container-center">
    <button class="end-lesson-btn">
      Ok
    </button>
  </div>
  <div class="modal-vector-image">
    <img src="assets/images/endLessonPic.png" alt="End Lesson" width="266" height="175">
  </div>
</div>
