<section class="calendar-wrapper min-width-certificates-wrapper">
  <div class="flex-container add-calendar-wrapper">
    <p class="calendar-warning">You can manage your lessons.</p>
    <button class="btn-add-less flex-container-center" (click)="onAddLesson.emit()">Add Lesson</button>
  </div>

  <form [formGroup]="form" (ngSubmit)="getSchedule()" class="flex-container-justify-start calendar-datepicker-wrappers">
    <div class="date-picker-wrapper-for-calendar">
      <h2 class="date-picker-label">From </h2>
      <mat-form-field appearance="fill"
                      class="date-range-wrapper
                  custom-date-range-wrapper">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>
            <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
          </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <input matInput
               [matDatepicker]="picker" formControlName="date"
               (click)="picker.open()"
               placeholder="*MM/dd/yyyy"
               (dateChange)="setSecondDate()"
        >
      </mat-form-field>
    </div>
    <div class="date-picker-wrapper-for-calendar">
      <h2 class="date-picker-label">To </h2>
      <mat-form-field appearance="fill" class="date-range-wrapper
                  custom-date-range-wrapper">
        <mat-datepicker-toggle matSuffix [for]="picker1">
          <mat-icon matDatepickerToggleIcon>
            <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
          </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <input matInput [matDatepicker]="picker1" formControlName="endDate"
               (click)="picker1.open()"
               placeholder="*MM/dd/yyyy"
        >
      </mat-form-field>
    </div>
    <button class="
     settings-form-button__with-border
     button-border--green
     flex-container-center" type="submit">
      Show
    </button>
  </form>

  <div class="calendar-content">
    <div class="tWrap">
      <div class="tWrap__head">
        <table>
          <thead>
          <tr>
            <th></th>
            <th *ngFor="let day of daysOfWeek$ | async"><h3 class="calendar-table-thead">{{day.shortName}}</h3></th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="tWrap__body">
        <table>
          <tbody>
          <tr *ngFor="let item of schedule">
            <td>{{item.hour?.time}}</td>
            <td *ngFor="let week of item.week">
              <span class="d-block" *ngIf="week?.thisSelectedDay?.startHour">
                {{week?.thisSelectedDay?.startHour}}-{{week?.thisSelectedDay?.endHour}}
              </span>
              <b>{{week?.thisSelectedDay?.subject}}</b>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
