<section class="rating-wrapper">
  <div class="profile-cards__details--rating">
    <fieldset class="star-rates">
      <div>
        <input id="rate2-star-0.5" class="star-input" type="radio" value="0.5" name="rate2">
        <label class="star-label" for="rate2-star-0.5" title="0.5"></label>
      </div>
      <div>
        <input id="rate2-star-1" class="star-input" type="radio" value="1" name="rate2">
        <label class="star-label full" for="rate2-star-1" title="1"></label>
      </div>
      <div>
        <input id="rate2-star-1.5" class="star-input" type="radio" value="1.5" name="rate2">
        <label class="star-label" for="rate2-star-1.5" title="1.5"></label>
      </div>
      <div>
        <input id="rate2-star-2" class="star-input" type="radio" value="2" name="rate2">
        <label class="star-label full" for="rate2-star-2" title="2"></label>
      </div>
      <div>
        <input id="rate2-star-2.5" class="star-input" type="radio" value="2.5" name="rate2">
        <label class="star-label full" for="rate2-star-2.5" title="2.5"></label>
      </div>
    </fieldset>
    <p class="star-rates-value">4.7 <span>(3 ratings)</span></p>
  </div>
  <div class="progress-container">
    <div class="flex-container-justify-start progress-container__item">
      <span class="star-value">5 star</span>
      <progress value="80" max="100"></progress>
      <span class="rate-count">(2)</span>
    </div>
    <div class="flex-container-justify-start progress-container__item">
      <span class="star-value">4 star</span>
      <progress value="70" max="100"></progress>
      <span class="rate-count">(1)</span>
    </div>
    <div class="flex-container-justify-start progress-container__item">
      <span class="star-value">3 star</span>
      <progress value="0" max="100"></progress>
      <span class="rate-count">(0)</span>
    </div>
    <div class="flex-container-justify-start progress-container__item">
      <span class="star-value">2 star</span>
      <progress value="0" max="100"></progress>
      <span class="rate-count">(0)</span>
    </div>
    <div class="flex-container-justify-start progress-container__item">
      <span class="star-value">2 star</span>
      <progress value="0" max="100"></progress>
      <span class="rate-count">(0)</span>
    </div>
  </div>
  <div class="rating-error-message">
    <p>Your students have the opportunity to rate each lesson on a scale of 1 to 5. These ratings help promote your
      profile and showcase your tutoring abilities to potential students, so be sure to encourage your students to leave
      a review after you submit their lesson.</p>
  </div>
</section>
