<section class="rating-wrapper">
  <div class="profile-cards__details--rating">
    <fieldset class="star-rates">
      <star-rating [value]="ratings.average" [totalstars]="5" checkedcolor="#FFC107" uncheckedcolor="#c2c2c2"
                   size="40px" [readonly]="true"></star-rating>
    </fieldset>
    <p class="star-rates-value">{{ratings?.average.toFixed(1)}} <span>({{ratings?.overallCount}})</span></p>
  </div>
  <div class="progress-container">
    <div class="flex-container-justify-start progress-container__item">
      <span class="star-value">5 stars</span>
      <progress [value]="ratings?.fiveLine * 100" max="100"></progress>
      <span class="rate-count">({{ratings?.fiveCount}})</span>
    </div>
    <div class="flex-container-justify-start progress-container__item">
      <span class="star-value">4 stars</span>
      <progress [value]="ratings?.fourLine * 100" max="100"></progress>
      <span class="rate-count">({{ratings?.fourCount}})</span>
    </div>
    <div class="flex-container-justify-start progress-container__item">
      <span class="star-value">3 stars</span>
      <progress [value]="ratings?.threeLine * 100" max="100"></progress>
      <span class="rate-count">({{ratings?.threeCount}})</span>
    </div>
    <div class="flex-container-justify-start progress-container__item">
      <span class="star-value">2 stars</span>
      <progress [value]="ratings?.twoLine * 100" max="100"></progress>
      <span class="rate-count">({{ratings?.twoCount}})</span>
    </div>
    <div class="flex-container-justify-start progress-container__item">
      <span class="star-value">1 star</span>
      <progress [value]="ratings?.oneLine * 100" max="100"></progress>
      <span class="rate-count">({{ratings?.oneCount}})</span>
    </div>
  </div>
  <div class="rating-notification-message">
    <p>Your students have the opportunity to rate each lesson on a scale of 1 to 5. A lesson can be rated within 14 days
      after it is submitted. These ratings help promote your profile and showcase your tutoring abilities to potential
      students, so be sure to encourage your students to leave a review after you submit their lesson.</p>
  </div>
</section>
