@import "src/assets/css/variables";

.confirm {
  &-dialog-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;
  }

  &-dialog-content {
    width: 647px;
    padding: 27px 40px 40px;
    background: $clr-ntrl-min;
    border: 1px solid #efe699;
    box-sizing: border-box;
    border-radius: 25px;
  }

  &-header {
    justify-content: space-between;

    span {
      cursor: pointer;
    }
  }

  &-content {
    &-title {
      flex: 1;
      margin: 0;
      font: $type-light normal $type-medium-size $Segoe-UI-sans;
      line-height: 24px;
      text-align: center;
      color: $clr-ntrl-max;
    }

    &-label {
      margin: 25px 0 40px;

      .form-input {
        width: 468px;
        margin: 0 auto;
      }
    }
  }

  &-modal-btn {
    margin: 0 auto;
    width: 163px;
    height: 43px;
    border: 1px solid #26BC00;
    box-sizing: border-box;
    border-radius: 10px;
    font: $type-bold normal $type-small $Segoe-UI-sans;
    line-height: 21px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    color: #26BC00;
    background-color: unset;
  }

}
