<div class="confirmPasswordWrapper flex-container-center">
  <div class="confirmPasswordContent">
    <div class="flex-container-center confirmation-header">
      <h3 class="confirm-content-title">
        Please enter your password
      </h3>
      <span class="material-icons align-self-end" (click)="close.emit()">close</span>
    </div>

    <form [formGroup]="form" (ngSubmit)="onConfirm()">
      <input type="password" formControlName="password">
      <button type="submit">confirm</button>
      <span *ngIf="form.get('password')?.errors?.required && form.get('password')?.touched">You must enter your current Sophist password.</span>
      <span *ngIf="isWrongPassword">Wrong password</span>
    </form>
  </div>
</div>
