<div class="confirmPasswordWrapper">
      <div class="confirmPasswordContent">
        <form [formGroup]="form" (ngSubmit)="onConfirm()">
          <span (click)="close.emit()">x</span>
          <input type="password" formControlName="password">
          <button type="submit">confirm</button>
          <span *ngIf="form.get('password')?.errors?.required && form.get('password')?.touched">You must enter your current Sophist password.</span>
          <span *ngIf="isWrongPassword">Wrong password</span>
        </form>
      </div>
</div>
