<div class="confirm-dialog-wrapper flex-container-center">
  <div class="confirm-dialog-content">
    <div class="flex-container-center confirm-header">
      <h3 class="confirm-content-title">Please enter your password</h3>
      <span class="material-icons" (click)="close.emit()">close</span>
    </div>
    <form [formGroup]="form" (ngSubmit)="onConfirm()">
      <label for="password" class="form-label confirm-content-label">
        <input type="password"
               formControlName="password"
               class="form-input"
               placeholder="Sophist password*" id="password">
        <span class="error-message" *ngIf="form.get('password')?.errors?.required && form.get('password')?.touched">You must enter your current Sophist password.</span>
        <span class="error-message" *ngIf="errorMessage">{{errorMessage}}</span>
      </label>
      <div class="flex-container-center">
        <button type="submit" class="confirm-modal-btn">confirm</button>
      </div>
    </form>
  </div>
</div>
