<div class="flex-container">
  <div class="flex-item flex-item-step-min-length">
    <div class="margin-left-space">
      <form class="register-form">
        <ul class="user-sign-up-list">
          <li class="user-sign-up-list__item">
            <h3 class="main-question">What subject(s) are you interested in?</h3>
            <div class="d-flex flex-container-justify-start gap-3
            grid-gap-10 date-picker-container">
              <div class="selectWrapper">
                <app-select
                  [label]="'*Category'"
                  [keyName]="'name'">
                </app-select>
                <span class="error-message">Please choose a subject</span>
              </div>
              <div class="selectWrapper">
                <app-select
                  [label]="'Subject'"
                  [keyName]="'subject'"
                  formControlName="startOfRange">
                </app-select>
              </div>
              <div class="selectWrapper">
                <app-select
                  [label]="'What level is this for?'"
                  [keyName]="'level'"
                  formControlName="endOfRange">
                </app-select>
              </div>
              <i class="fas fa-plus"></i>
            </div>
          </li>
          <li class="user-sign-up-list__item">
            <div class="mb-15">
              <h3 class="main-question mb-15">When are you available for lesson?</h3>
              <table id="customers">
                <thead>
                <tr>
                  <th></th>
                  <th>
                    <h2 class="table-head__title">Sun</h2>
                  </th>
                  <th>
                    <h2 class="table-head__title"> Mon </h2>
                  </th>
                  <th>
                    <h2 class="table-head__title">Tue </h2>
                  </th>
                  <th>
                    <h2 class="table-head__title">Wed</h2>
                  </th>
                  <th>
                    <h2 class="table-head__title">Thu</h2>
                  </th>
                  <th>
                    <h2 class="table-head__title">Fri</h2>
                  </th>
                  <th>
                    <h2 class="table-head__title">Sat</h2>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <h4 class="table-row__title"> Morning</h4>
                    <p class="table-row__description">Before noon </p>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4 class="table-row__title"> Afternoon</h4>
                    <p class="table-row__description">12-5 pm </p>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4 class="table-row__title"> Evening</h4>
                    <p class="table-row__description">After 5 pm </p>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                  <td>
                    <div class="table-checkbox-wrapper">
                      <mat-checkbox></mat-checkbox>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="checkboxes-wrapper">
              <mat-checkbox>
                Anytime (I’m flixable)
              </mat-checkbox>
            </div>
          </li>
          <li class="user-sign-up-list__item select-wrapper-min-width">
            <h3 class="main-question">How many tutoring sessions do you think you will need?</h3>
            <div class="fixed-width form-label">
              <app-select [label]="'*select'"></app-select>
            </div>
          </li>
        </ul>
        <div class="flex-container-center button-wrapper button-wrapper__mt">
          <button class="sophist-btn flex-container-center" (click)="back.emit()">PREVIOUS</button>
          <button type="submit" class="sophist-btn flex-container-center next-btn" (click)="next.emit()">NEXT</button>
        </div>
      </form>
    </div>
  </div>
  <div class="flex-item">
    <img src="assets/images/studentRegister.png"
         alt="Register illustration"
         width="100"
         height="100">
  </div>
</div>
