/* Start Button style */
.sophist-btn {
  width: 140px;
  height: 50px;
  font-size: $type-small;
  font-weight: $type-semi-bold;
  text-transform: uppercase;
  background: rgba(255, 193, 7, 0.05);
  color: black !important;
  border: 1px solid #FFE699;
  box-sizing: border-box;
  border-radius: $border-radius-base;
  cursor: pointer;


  &:focus {
    box-shadow: none;
    color: $clr-ntrl-max;
    background-color: rgba(255, 193, 7, 0.05);
    border-color: #FFE699;
  }

  &:active {
    box-shadow: none;
    color: $clr-ntrl-max;
    background-color: rgba(255, 193, 7, 0.05);
    border-color: #FFE699;
  }

  &:hover {
    box-shadow: none;
    color: $clr-ntrl-max;
    background-color: rgba(255, 193, 7, 0.05);
    border-color: #FFE699;
  }
}

.button-wrapper {
  margin-top: 30px;
  grid-gap: 65px;
}

/* End Button style */
