<ul class="message-users-list">
  <li class="message-users-list__item isActive">
    <picture class="user-image-wrapper">
      <img src="assets/images/messageUser.png"
           alt="User Pic"
           width="80"
           height="80"
      >
    </picture>
    <div class="message-info-wrapper">
      <h3 class="user-name">Ann Smith</h3>
      <p class="user-message">Okey</p>
    </div>
    <div class="isNewMessage">
      <span class="message-count">1</span>
    </div>
  </li>
  <li class="message-users-list__item">
    <picture class="user-image-wrapper">
      <img src="assets/images/messageUser.png"
           alt="User Pic"
           width="80"
           height="80"
      >
    </picture>
    <div class="message-info-wrapper">
      <h3 class="user-name">Ann Smith</h3>
      <p class="user-message"></p>
    </div>
  </li>
</ul>
