.margin-left-onLogged {
  margin-left: 40px;
}

.register-step-form {
  grid-gap: 24px 84px;

  .flex-item {
    width: 100%;
  }
}

.register-form {
  position: relative;
  padding-top: 35px;
  margin-top: 35px;
  border-top: 1px solid #ccc;

  &:first-child {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .remove-icon-wrapper {
    position: absolute;
    top: -34px;
    left: 5px;
    padding: 8px;
  }
}

.subjects-form-wrapper {
  max-width: 418px;
  //.add {
  //  margin-top: -40px;
  //}
}

.subjects-form {

  .formArray {
    padding: 35px 0;
    border-top: 1px solid #c4c4c4;

    &:first-child {
      border: 0;
    }
  }

  .checkboxes-wrapper {
    label {
      margin-bottom: 0;
    }
  }
}

.multiple-form {

  .formArray {
    padding: 35px 0;
    border-top: 1px solid #c4c4c4;

    &:first-child {
      border: 0;
    }
  }
}
