<!--================ Section Tutor Sign Up Third Step Area Start ================-->
<section class="tutor-sign-up-wrapper">
  <form [formGroup]="form">
    <fieldset>
      <legend class="group-title group-title__bold text-center text-bold">
        Terms for Tutoring
      </legend>
      <ul class="user-sign-up-list">
        <li class="user-sign-up-list__item">
          <h3 class="terms-title">Agreement and Terms for Tutoring</h3>
          <p class="terms-description">The agreement on this page is a binding legal contract. By proceeding with
            registration, this legal Agreement is entered into between Wyzant, Inc. (“the
            Company”) and you (the Tutor).
          </p>
          <ul class="terms-list">
            <li class="terms-list__item">
              <div class="checkboxes-wrapper-flex">
                <mat-checkbox class="checkbox-wrapper" #agree>
                </mat-checkbox>
                <p class="terms-list__item-text">
                  I voluntarily agree to be bound by all terms provided in the above
                  Independent Tutor Agreement as of today’s date. I understand that I may
                  refuse to conduct this transaction with Wyzant by electronic means.
                </p>
              </div>
            </li>
            <li class="terms-list__item">
              <div class="checkboxes-wrapper-flex">
                <mat-checkbox class="checkbox-wrapper" #termsAndCondition>
                </mat-checkbox>
                <p class="terms-list__item-text">
                  I have read and agree to the <a href="#" class="terms-link">
                  Terms and Condition.</a>
                </p>
              </div>
            </li>
            <li class="terms-list__item">
              <div class="checkboxes-wrapper-flex">
                <mat-checkbox class="checkbox-wrapper" #security>
                  <p class="terms-list__item-text">
                    I have a valid Social Security number, I am authorized to work and I am at
                    least 18 years of age or older.
                  </p>
                </mat-checkbox>
              </div>
            </li>
          </ul>
          <h3 class="terms-notify">The following is your digital signature. Please use your legal name.</h3>
        </li>
        <li class="user-sign-up-list__item flex-container-start">
          <div class="flex-container-start grid-gap-30">
            <label for="legal-first-name" class="form-label">
              <input id="legal-first-name" class="form-input" type="text"
                     placeholder="*legal first name"
                     formControlName="legalFirstName">
              <span class="error-message" *ngIf="form.get('legalFirstName')?.errors && form.get('legalFirstName')?.touched">This is a required field</span>
            </label>
            <label for="legal-last-name" class="form-label">
              <input id="legal-last-name" class="form-input" type="text"
                     placeholder="*legal last name"
                     formControlName="legalLastName">
              <span class="error-message" *ngIf="form.get('legalLastName')?.errors && form.get('legalLastName')?.touched" >This is a required field</span>
            </label>
          </div>
        </li>
      </ul>
    </fieldset>
    <div class="tutor-sign-up-image">
      <img src="assets/images/tutor-sign-up.png" alt="Tutor Sign Up"
           width="275"
           height="279">
    </div>
  </form>
  <div class="flex-container-center button-wrapper col-md-12 col-lg-12 col-xs-12">
    <button class="sophist-btn flex-container-center" (click)="previousStep()">PREVIOUS</button>
    <button class="sophist-btn flex-container-center" [disabled]="!agree.checked || !termsAndCondition.checked || !security.checked" (click)="onSubmit()" >NEXT</button>
  </div>
</section>
<!--================ Section Tutor Sign Up Third Step Area End ================-->
