<div class="">
  <h3 class="tutor-settings-page-title">Payment Method</h3>
  <p class="tutor-settings-page-notification form-item-notification">
    Please be informed that in case of providing a non- US dollar account/card, the amount will be transferred to the
    appropriate account at the exchange rate set by your bank for the respective currency.
  </p>

  <button class="settings-form-button"
          *ngIf="(tutorPaymentExistence$ | async); else addPaymentButton"
          (click)="showUConfirmPassword = true"
  >Update Payment Method </button>
  <ng-template  #addPaymentButton>
    <button class="settings-form-button" (click)="addPayment()">Add Payment Method</button>
  </ng-template>
</div>

<app-confirm-password
  [actionType]="'updateTutorPayment'"
  *ngIf="showUConfirmPassword"
  (close)="showUConfirmPassword = false"
  (confirm)="updatePayment($event)"
  #confirmPasswordComponent
></app-confirm-password>

