<div class="end-lesson-wrapper">
  <table class="end-lesson-table">
    <tbody>
    <tr>
      <td>
        <h2 class="end-lesson-table-row-label">
          Lesson duration*
        </h2>
      </td>
      <td>
        <form [formGroup]="form">
          <label for="lesson-duration" class="form-label">
            <input id="lesson-duration"
                   class="form-input"
                   name="lesson-duration"
                   required
                   autocomplete="lessonDuration"
                   type="number"
                   placeholder="minutes"
                   formControlName="durationInMinutes">
<!--            <span class="error-message">This is a required field</span>-->
          </label>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="flex-container-center">
    <button class="end-lesson-btn" [disabled]="form.invalid" (click)="endLesson()">
      Ok
    </button>
  </div>
  <div class="modal-vector-image">
    <img src="assets/images/endLessonPic.png" alt="End Lesson" width="266" height="175">
  </div>
</div>
