<!--================ Header Area Start =================-->
<app-header></app-header>
<!--================ Header Area Start =================-->

<main class="contact-wrapper">
  <section class="main-contact-info-wrapper">
    <div class="contact-info">
      <h2 class="contact-info-title">
        Contacts
        <span class="liner"></span>
      </h2>
      <ul class="contact-info-list">
        <li class="contact-info-list__item">
        <span class="contact-info-list__item-cycle">
          <img
            src="assets/images/phone.svg"
            alt="Phone"
            width="25"
            height="25"
          >
        </span>
          <p class="contact-info-list__item-text">+998 874 56 45 84</p>
        </li>
        <li class="contact-info-list__item">
         <span class="contact-info-list__item-cycle">
        <img
          src="assets/images/messageIcon.svg"
          alt="Message"
          width="48"
          height="48"
        >
         </span>
          <p class="contact-info-list__item-text">email.address@gmail.com</p>
        </li>
        <li class="contact-info-list__item">
        <span class="contact-info-list__item-cycle">
          <img
            src="assets/images/location.svg"
            alt="Location"
            width="24"
            height="30"
          >
        </span>
          <p class="contact-info-list__item-text">Address</p>
        </li>
      </ul>
    </div>
    <div class="contact-info">
      <h2 class="contact-info-title">
        Links
        <span class="liner"></span>
      </h2>
      <ul class="social-links">
        <li class="social-links__item">
          <img
            src="assets/images/face.svg"
            alt="Facebook"
            width="22"
            height="41"
          >
        </li>
        <li class="social-links__item">
          <img
            src="assets/images/twitter.svg"
            alt="Twitter"
            width="42"
            height="39"
          >
        </li>
        <li class="social-links__item">
          <img
            src="assets/images/instagram.svg"
            alt="Instagram"
            width="41"
            height="41"
          >
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="contact-map">
      <img
        src="assets/images/map.png"
        alt="Map"
        width="1117"
        height="671"
      >
    </div>
  </section>
</main>
