<div class="grid-container">
  <app-register-header></app-register-header>
  <main class="content-wrapper">
    <!--================ Section Register Form First Step Area Start ================-->
    <section class="register-form-wrapper">
      <h2 class="register-form-wrapper__title">
        Tutor application form
      </h2>
      <app-steps [stepNumber]="(stepNumber$ | async) || 1" [stepCount]="5"></app-steps>
      <div class="flex-container-start">
        <div class="flex-item col-md-6 col-xs-12 col-lg-7">
          <router-outlet></router-outlet>
        </div>
        <div class="flex-item col-md-6 col-xs-12 col-lg-4">
          <img src="assets/images/illustration.png"
               alt="Register illustration"
               width="677"
               height="571">
        </div>
      </div>
    </section>
    <!--================ Section Register Form First Step Area End ================-->
  </main>
</div>
