<div class="grid-container">
  <app-register-header></app-register-header>
  <main class="content-wrapper">
    <!--================ Section Register Form First Step Area Start ================-->
    <section class="register-form-wrapper">
      <h2 class="register-form-wrapper__title">
        Tutor application form
      </h2>
      <app-steps [stepNumber]="stepNumber" [stepCount]="5"></app-steps>
      <div class="flex-container-start">
        <div class="flex-item">
          <ng-container [ngSwitch]="stepNumber">
            <app-step-one *ngSwitchCase="1" (next)="changeStepNumber('FORWARD')"></app-step-one>
            <app-second-step *ngSwitchCase="2" (back)="changeStepNumber('BACK')"
                             (next)="changeStepNumber('FORWARD')"></app-second-step>
            <app-third-step *ngSwitchCase="3" (back)="changeStepNumber('BACK')"
                            (next)="changeStepNumber('FORWARD')"></app-third-step>
            <app-fourth-step *ngSwitchCase="4" (back)="changeStepNumber('BACK')"
                             (next)="changeStepNumber('FORWARD')"></app-fourth-step>
            <app-fifth-step *ngSwitchCase="5" (back)="changeStepNumber('BACK')"></app-fifth-step>
          </ng-container>
        </div>
        <div class="flex-item col-md-6 col-xs-12 col-lg-4">
          <img src="assets/images/illustration.png"
               alt="Register illustration"
               width="100"
               height="100">
        </div>
      </div>
    </section>
    <!--================ Section Register Form First Step Area End ================-->
  </main>
</div>
