<div class="header-container page-wrapper">
  <header class="header-wrapper flex-container">
    <a [routerLink]="''" class="header-logo-link">
      <img class="header-logo" src="assets/images/logo.png" alt="Sophist Logo" width="240" height="181">
    </a>
    <nav class="header-nav">
      <div *ngIf="((isLoggedIn$ | async) && user); then loggedUser else notLoggedUser ; else notLoggedUser"></div>
      <ng-template #notLoggedUser>
        <ul class="header-list flex-container-center">
          <li class="header-list__item flex-container-center header-list__item--active"><a [routerLink]="['./about']">About us</a></li>
          <li class="header-list__item flex-container-center" (click)="openLogin.emit()"><a>Log in</a></li>
          <li class="header-list__item header-list__item--border flex-container-center" (click)="openRegister.emit()"><a>Register now</a></li>
        </ul>
      </ng-template>
      <ng-template #loggedUser>
        <ul class="header-list flex-container-center">
          <li class="header-list__item flex-container-center header-list__item--active"><a href="">About us</a></li>
          <li class="header-list__item flex-container-center" appClickOutside
              (clickOutside)="isOpenNestedDropdown = false">
            <div class="flex-container-center" *ngIf="user">
              <div class="user-pic">
                <img [src]="user?.photo" alt="UserPic" width="80" height="80">
              </div>
              <h2 class="user-name flex-container-center" (click)="isOpenNestedDropdown = !isOpenNestedDropdown">
                <span>{{user.fullName}}</span>
                <img src="assets/images/dropdown.png" alt="Drop Down" width="22" height="12">
              </h2>
            </div>
            <ul class="nested-dropdown" *ngIf="isOpenNestedDropdown">
              <li class="nested-dropdown__item" (click)="navigateToSettings()">
                <p>Settings</p>
                <img src="assets/images/settings.svg" alt="Settings">
              </li>
              <li class="nested-dropdown__item" (click)="navigateToProfile()">
                <p>Profile</p>
                <img src="assets/images/account.png" alt="Profile">
              </li>
              <li class="nested-dropdown__item" (click)="signOut()">
                <p (click)="signOut()">Log out</p>
                <img src="assets/images/logout.svg" alt="Log Out">
              </li>
            </ul>
          </li>
        </ul>
      </ng-template>

    </nav>
  </header>
</div>


<!--<a [routerLink]="'student/signUp'">signup as student</a>-->
<!--<a [routerLink]="'tutor/signUp'">signup as teacher</a>-->
<!--<a [routerLink]="'tutor/profileDetails'">teacher detail</a>-->
<!--<a [routerLink]="'tutor/settings'">teacher settings</a>-->
<!--<a [routerLink]="'student/settings'">student settings</a>-->
<!--<a [routerLink]="'searchTutor'">search tutor</a>-->
<!--<a [routerLink]="'tutor/profile'">tutor profile</a>-->
<!--<a [routerLink]="'student/profile'">Student profile</a>-->
