<header class="header-wrapper flex-container">
  <a [routerLink]="''" class="header-logo-link">
    <img class="header-logo" src="assets/images/logo.png" alt="Sophist Logo" width="100" height="100">
  </a>
  <nav class="header-nav">
    <ul class="header-list flex-container-center">
      <li class="header-list__item flex-container-center header-list__item--active"><a href="">About us</a></li>
      <li class="header-list__item flex-container-center"><a href="">Log in</a></li>
      <li class="header-list__item flex-container-center"><a href="">Register now</a></li>
    </ul>
  </nav>
</header>


<!--<a [routerLink]="'student/signUp'">signup as student</a>-->
<!--<a [routerLink]="'tutor/signUp'">signup as teacher</a>-->
<!--<a [routerLink]="'tutor/profileDetails'">teacher detail</a>-->
<!--<a [routerLink]="'tutor/settings'">teacher settings</a>-->
<!--<a [routerLink]="'student/settings'">student settings</a>-->
<!--<a [routerLink]="'searchTutor'">search tutor</a>-->
<!--<a [routerLink]="'tutor/profile'">tutor profile</a>-->
<!--<a [routerLink]="'student/profile'">Student profile</a>-->
