@import "src/assets/css/variables";

.jobs {

  &-wrapper {
    margin: 14px 0 200px;
  }

  &-list {

    &__item {
      margin-bottom: 20px;

      .search-cards-item {
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 30px 30px 30px 70px;
        border-radius: $border-radius-base;
        background-color: $clr-ntrl-min;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.18);

        &-for-image {
          border: 1px solid #C4C4C4;
          width: 115px;
          height: 115px;
          flex: 0 0 115px;
        }

        .profile-cards__Info {
          width: 68%;
          max-width: 68%;
        }
      }

      .nested-form-wrapper {
        grid-gap: 42px;
        flex-wrap: wrap;
      }

      .collapsed-info {
        display: inline-flex;
        width: 90%;
        margin: 0;
      }

      .collapsed-info-form-container {
        grid-gap: 35px;
        flex-wrap: wrap;
      }

      .form-label-text {
        margin-bottom: 9px;
        font: $type-regular normal $type-medium-size $Roboto-sans;
        color: $clr-ntrl-max;
      }

      .availability-wrapper {
        display: flex;
        flex-wrap: wrap;
        //flex-direction: column;
        grid-gap: 5px;

        label {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .jobs-list__item .search-cards-item {
    padding: 24px;
  }

  .blue-bg {
    padding: 14px;
  }

  .jobs-list__item .availability-wrapper label {
    width: 100%;
  }
}
