<div class="grid-container">
  <app-register-header></app-register-header>
  <main class="content-wrapper">
    <!--================ Section Register Form First Step Area Start ================-->
    <section class="register-form-wrapper">
      <h2 class="register-form-wrapper__title">
        student registration FORm
      </h2>
      <app-steps [stepNumber]="(stepNumber$ | async) || 1" [stepCount]="5"></app-steps>
      <router-outlet></router-outlet>
    </section>
    <!--================ Section Register Form First Step Area End ================-->
  </main>
</div>
