.tutor-settings-nested-page {
  padding-top: 10px;

  .grid-gap-space {
    position: relative;
    max-width: 100%;
    grid-gap: 34px 42px;

    .form-label {
      flex: 1 1 363px;
      max-width: 363px;
    }
  }

  .grid-gap-for-icons {
    position: absolute;
    right: 92px;
    bottom: 0;
  }
}
