<div class="tutor-settings-nested-page subjects-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="tutor-settings-nested-page__form">
    <div class="flex-container-justify-start grid-gap-space">
      <ng-container formArrayName="formArray" *ngFor="let item of formArray.controls; let i = index">
        <div [formGroupName]="i" class="d-flex selectRow">
          <div class="form-label fixed-width">
            <app-select
              [label]="'*Category'"
              [keyName]="'categoryName'"
              formControlName="categoryId"
              [list]="categories$ | async"
              (ngModelChange)="categoryChange($event, i)"
            ></app-select>
          </div>
          <div class="form-label fixed-width">
            <app-select
              [label]="'*Subject'"
              [keyName]="'subjectName'"
              [list]="observables[i]?.subjects$ | async"
              formControlName="subjectId"
              (ngModelChange)="subjectChange($event, i, formArray.controls[i])"
            ></app-select>
          </div>
          <div class="form-label fixed-width">
            <app-select
              [label]="'*Level'"
              [list]="observables[i]?.levels$ | async"
              [keyName]="'level'"
              formControlName="levelId"
            ></app-select>
          </div>
          <div class="flex-container grid-gap-for-icons">
            <div class="recycle-bin-wrapper" *ngIf="i > 0">
              <img src="./assets/images/recycleBin.png" (click)="removeForm(item)" alt="Recycle Byn">
            </div>
            <i class="fas fa-plus" (click)="addNewForm()" *ngIf="i === formArray.controls.length - 1 "></i>
          </div>
        </div>
      </ng-container>
    </div>
    <button class="settings-form-button" type="submit">Update information</button>
  </form>
</div>
