<section class="profile-section">
  <h2 class="profile-section__title">
    Wrap up your profile
    <hr/>
  </h2>
  <div class="nested-info">
    <p class="profile-section__description">
      As a former college math professor, you might expect that I always liked math. However, my passion for
      mathematics actually began when I was in 11th grade. As a homeschooled student, I had a flexible schedule
      which allowed me to take Algebra II at my local community college. I had an amazing professor who made me
      realize how fun math is.
    </p>
    <button class="read-more">Read more</button>
  </div>
</section>
<section class="profile-section">
  <h2 class="profile-section__title">
    Subjects
    <hr/>
  </h2>
  <div class="nested-info without-side-padding">
    <div class="flex-container-justify-start grid-gap-54 grid-wrapper">
      <div class="flex-item large-mr">
        <div class="profile-section-subItems">
          <h2 class="profile-section--subtitle">Category</h2>
          <p class="profile-section--subDescription">
            Languages
          </p>
        </div>
        <div class="profile-section-subItems">
          <h2 class="profile-section--subtitle">Subject</h2>
          <p class="profile-section--subDescription">
            Polish
          </p>
        </div>
        <div class="profile-section-subItems">
          <h2 class="profile-section--subtitle">Level</h2>
          <p class="profile-section--subDescription">
            Intermediate
          </p>
        </div>
      </div>
      <div class="flex-item">
        <div class="profile-section-subItems">
          <h2 class="profile-section--subtitle">Category</h2>
          <p class="profile-section--subDescription">
            Natural Sciences
          </p>
        </div>
        <div class="profile-section-subItems">
          <h2 class="profile-section--subtitle">Subject</h2>
          <p class="profile-section--subDescription">
            Biology
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="profile-section">
  <h2 class="profile-section__title">
    My Tutors
    <hr/>
  </h2>
  <div class="nested-info without-side-padding">
    <ul class="tutors-wrapper">
      <li class="tutors-wrapper__item">
        <figure class="tutors-wrapper__item-info">
          <div class="tutors-wrapper__item-logo-wrapper">
            <img src="assets/images/messageUser.png" class="tutor-pic" alt="Tutor image" width="80" height="80">
            <!--                  <div class="message-tutor">-->
            <!--                    <img src="assets/images/message.png" alt="Message Icon" width="51" height="50">-->
            <!--                  </div>-->
          </div>
          <figcaption>
            <h2 class="tutors-wrapper__item-info-name">
              Danielle M.
            </h2>
          </figcaption>
        </figure>
      </li>
      <li class="tutors-wrapper__item">
        <figure class="tutors-wrapper__item-info">
          <div class="tutors-wrapper__item-logo-wrapper">
            <img src="assets/images/messageUser.png" class="tutor-pic" alt="Tutor image" width="80" height="80">
            <!--                  <div class="message-tutor">-->
            <!--                    <img src="assets/images/message.png" alt="Message Icon" width="51" height="50">-->
            <!--                  </div>-->
          </div>
          <figcaption>
            <h2 class="tutors-wrapper__item-info-name">
              Danielle M.
            </h2>
          </figcaption>
        </figure>
      </li>
      <li class="tutors-wrapper__item">
        <figure class="tutors-wrapper__item-info">
          <div class="tutors-wrapper__item-logo-wrapper">
            <img src="assets/images/messageUser.png" class="tutor-pic" alt="Tutor image" width="80" height="80">
            <!--                  <div class="message-tutor">-->
            <!--                    <img src="assets/images/message.png" alt="Message Icon" width="51" height="50">-->
            <!--                  </div>-->
          </div>
          <figcaption>
            <h2 class="tutors-wrapper__item-info-name">
              Danielle M.
            </h2>
          </figcaption>
        </figure>
      </li>
      <li class="tutors-wrapper__item">
        <figure class="tutors-wrapper__item-info">
          <div class="tutors-wrapper__item-logo-wrapper">
            <img src="assets/images/messageUser.png" class="tutor-pic" alt="Tutor image" width="80" height="80">
            <!--                  <div class="message-tutor">-->
            <!--                    <img src="assets/images/message.png" alt="Message Icon" width="51" height="50">-->
            <!--                  </div>-->
          </div>
          <figcaption>
            <h2 class="tutors-wrapper__item-info-name">
              Danielle M.
            </h2>
          </figcaption>
        </figure>
      </li>
      <li class="tutors-wrapper__item">
        <figure class="tutors-wrapper__item-info">
          <div class="tutors-wrapper__item-logo-wrapper">
            <img src="assets/images/messageUser.png" class="tutor-pic" alt="Tutor image" width="80" height="80">
            <!--                  <div class="message-tutor">-->
            <!--                    <img src="assets/images/message.png" alt="Message Icon" width="51" height="50">-->
            <!--                  </div>-->
          </div>
          <figcaption>
            <h2 class="tutors-wrapper__item-info-name">
              Danielle M.
            </h2>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>
