<!--================ Header Area Start =================-->
<app-header (openLogin)="isOpenLogin = true" (openRegister)="isOpenRegistration = true"></app-header>
<!--    <ul>-->
<!--      <li (click)="isOpenLogin = true">login</li>-->
<!--      <li (click)="isOpenResetPassword = true">reset password</li>-->
<!--      <li (click)="isOpenChangePassword = true">change password</li>-->
<!--      <li (click)="isOpenMessageModal = true">message modal</li>-->
<!--    </ul>-->
<!--================ Header Area End =================-->
<main class="container page-wrapper">

  <!--================ Section Hero Start ================-->
  <section class="hero border-bottom">
    <div class="hero-content flex-wrap-content">
      <div class="hero-content-text text-center">
        <h2 class="content__title circle-vector move-in-left">
          Grow your career <br> with quality education</h2>
        <div class="content__desc">
          <h3 class="move-in-left-slowly">
            Private lessons with an expert instructor of your choice.
          </h3>
          <h3 class="move-in-left-slowly">
            Decide how much you pay and who you want to work with. The choice is yours.
          </h3>
        </div>
        <div class="flex-container-center hero-content-link-wrapper" *ngIf="!(isLoggedIn$ | async)">
          <a class="hero-content__link register-btn flex-container-center" [routerLink]="'searchTutor'">Browse the
            tutors</a>
          <a class="hero-content__link register-btn flex-container-center" [routerLink]="'student/signUp'">Create a
            student account</a>
          <a class="hero-content__link register-btn flex-container-center" [routerLink]="'tutor/signUp'">Apply to become
            a tutor</a>
        </div>
      </div>
      <div class="hero-content-img move-in-right">
        <img src="assets/images/distance-education.gif" alt="education gif" width="640" height="640">
      </div>
    </div>
  </section>
  <!--================ Section Hero End ================-->

  <!--================ Section Subjects Slider Start ================-->
  <section class="subjects-slider-wrapper border-bottom">
    <h3 class="subjects-slider-wrapper__title">You can learn</h3>
    <ul class="subjects-slider-list flex-container">
      <carousel
        [height]="246"
        [cellsToShow]="5"
        [overflowCellsLimit]="1"
        [loop]="true">
        <li class="subjects-slider-list__item" *ngFor="let subject of subjects; let i = index">
          <h4 class="subjects-slider-list__item--title">{{subject.name}}</h4>
          <img class="subjects-slider-list__item--img" src="{{subject.path}}" width="91" height="91" alt="Math"/>
        </li>
      </carousel>
    </ul>
  </section>
  <!--================ Section Subjects Slider End ================-->

  <!--================ Section Online Lessons Start ================-->
  <section class="online-lessons-wrapper border-bottom">
    <div class="text-center">
      <h2 class="content__title circle-vector move-in-left">
        Online lessons. Real–world results.
      </h2>
      <div class="content__desc">
        <h3 class="move-in-left-slowly">
          Get real results without ever leaving the house.
        </h3>
      </div>
    </div>
    <div class="flex-container-center result-list-wrapper  flex-wrap-content">
      <div class="online-lesson-gif">
        <img src="assets/images/education-blue.gif"
             alt="lying-businessmen-concept"
             width="640"
             height="640"
        >
      </div>
      <ul class="result-list">
        <li class="result-list__item flex-container">
          <div class="result-list__item--image">
            <img src="assets/images/checkedList.png"
                 alt="Check result"
                 width="76"
                 height="76"
            >
          </div>
          <p class="result-list__item--text">
            Meet professional tutors from all over the world
          </p>
        </li>
        <li class="result-list__item flex-container">
          <div class="result-list__item--image">
            <img src="assets/images/checkedList.png"
                 alt="Check result"
                 width="76"
                 height="76"
            >
          </div>
          <p class="result-list__item--text">
            Save time and easily fit lessons into your schedule
          </p>
        </li>
        <li class="result-list__item flex-container">
          <div class="result-list__item--image">
            <img src="assets/images/checkedList.png"
                 alt="Check result"
                 width="76"
                 height="76"
            >
          </div>
          <p class="result-list__item--text">
            Facilitate your learning with our user friendly platform
          </p>
        </li>
        <li class="result-list__item flex-container">
          <div class="result-list__item--image">
            <img src="assets/images/checkedList.png"
                 alt="Check result"
                 width="76"
                 height="76"
            >
          </div>
          <p class="result-list__item--text">
            Create a customized learning environment just for you
          </p>
        </li>
      </ul>
    </div>
    <div class="circle-vector"></div>
  </section>
  <!--================ Section Online Lessons End ================-->

  <!--================ Section Testimonials Start ================-->
  <section class="testimonials border-bottom">
    <div class="quotes left-quotes">
      <img src="assets/images/quotes.png" alt="Quotes" width="145" height="127">
    </div>
    <ul class="testimonials-list">
      <carousel
        [dots]="true"
        [loop]="true"
        [cellsToShow]="1"
        [overflowCellsLimit]="1"
        class="carousel-html-content"
      >
        <li class="carousel-cell flex-container-center testimonials-list__item"
            *ngFor="let item of quotes$ | async; let i = index">
          <div class="testimonials-list__item--review">
            <p class="testimonials-list__item__desc">{{item.quoteText}}</p>
            <h3 class="testimonials-list__item__person">{{item.author}}</h3>
          </div>
        </li>
      </carousel>
    </ul>
    <div class="quotes right-quotes">
      <img src="assets/images/quotes.png" alt="Quotes" width="145" height="127">
    </div>
  </section>
  <!--================ Section Testimonials End ================-->

  <!--================ Section Help Start ================-->
  <section class="find-tutor flex-wrap-content flex-container border-bottom">
    <div class="find-tutor__info">
      <div class="find-tutor__text-wrapper">
        <h2 class="find-tutor__text">You’ve got this. </h2>
        <h2 class="find-tutor__text">
          Get expert help in any skill or subject.
        </h2>
      </div>
      <button class="btn find-tutor__btn flex-container-center" (click)="navigateToSearchTutor()">
        Find a tutor in any subject
        <img class="link-image" src="assets/images/liner.png"
             alt="Liner"
             width="142"
             height="140"
        >
      </button>
    </div>
    <div class="find-tutor__image">
      <img src="assets/images/lying-businessmen-concept.gif"
           alt="lying-businessmen-concept"
           width="640"
           height="640">
    </div>
  </section>
  <!--================ Section Help End ================-->

  <!--================ Section Our Tutors Start ================-->
  <section class="tutor" *ngIf="(tutors$ | async) as tutors">
    <ng-container *ngIf="tutors.length > 3">
      <h2 class="tutor__title">Our Tutors</h2>
      <ul class="tutor-cards-list">
        <li class="tutor-cards-list__item" *ngFor="let tutor of tutors">
          <figure>
            <div class="tutor-cards-list__item--image">
              <a [routerLink]="['../tutorView', tutor.userId]" class="search-cards-item-for-image">

                <img [src]="tutor.photo" *ngIf="tutor.photo"
                     alt="Tutor"
                     width="166"
                     height="167"
                >
                <img *ngIf="!tutor.photo" src="assets/images/profile1.jpg"
                     alt="Tutor"
                     width="166"
                     height="167"
                >
              </a>

            </div>
            <figcaption>
              <h2 class="tutor-cards-list__item--name">{{tutor.fullName}}</h2>
              <h3 class="tutor-cards-list__item--subject">{{tutor.subject}}</h3>
              <div class="tutor-cards-list__item--rate">
                <star-rating [value]="tutor.rate" [totalstars]="5" checkedcolor="#FFC107" uncheckedcolor="#c2c2c2"
                             size="35px" [readonly]="true"></star-rating>
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </ng-container>
  </section>
  <!--================ Section Our Tutors End ================-->
</main>

<!--<app-alert-box></app-alert-box>-->
<div class="login-modal-wrapper modal-wrapper">
  <app-modal-schem *ngIf="isOpenLogin" (close)="isOpenLogin = false" [title]="'Welcome to sophist'">
    <app-login (forgotPassword)="isOpenLogin = false; isOpenResetPassword = true"></app-login>
  </app-modal-schem>
</div>

<div class="modal--small-width modal-wrapper" *ngIf="isOpenRegistration">
  <app-modal-schem [title]="'Registration'" (close)="isOpenRegistration = false">
    <app-register></app-register>
  </app-modal-schem>
</div>

<div class="login-modal-wrapper modal-wrapper reset-password-modal">
  <app-modal-schem
    *ngIf="isOpenResetPassword"
    (close)="isOpenResetPassword = false"
    [isShowBack]="true"
    [title]="'Please enter the email address associated with your account, and we’ll send you a link to reset your password.'"
  >
    <app-reset-password
      (openSuccessModal)="isOpenResetPassword = false; isOpenMessageModal = true"></app-reset-password>
  </app-modal-schem>
</div>

<div class="login-modal-wrapper modal-wrapper">
  <app-modal-schem *ngIf="isOpenChangePassword" (close)="isOpenChangePassword = false">
    <app-change-password-modal [userId]="userIdFromUrl"
                               (close)="isOpenChangePassword = false"></app-change-password-modal>
  </app-modal-schem>
</div>

<div class="login-modal-wrapper modal-wrapper message-wrapper-modal">
  <app-modal-schem *ngIf="isOpenMessageModal" (close)="isOpenMessageModal = false">
    <app-message-modal></app-message-modal>
  </app-modal-schem>
</div>

<!--<div class="login-modal-wrapper modal-wrapper message-wrapper-modal">-->
<!--  <app-modal-schem (close)="isOpenMessageModal = false">-->
<!--    <app-not-found-modal></app-not-found-modal>-->
<!--  </app-modal-schem>-->
<!--</div>-->
