<div class="login-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="email" class="form-label mb-44">
      <input id="email"
             class="form-input"
             name="email"
             required
             autocomplete="email"
             type="email"
             placeholder="Email address*"
             formControlName="email">
      <span class="error-message" *ngIf="form.get('email')?.errors?.required && form.get('email')?.touched">This is a required field</span>
      <span class="error-message" *ngIf="mailError">{{mailError}}</span>
      <span class="error-message" *ngIf="form.get('email')?.errors?.pattern && form.get('email')?.touched">Please provide a valid email address</span>
    </label>
    <div class="flex-container-center">
      <button type="submit" class="login-btn flex-container-center" [disabled]="form.invalid">Send</button>
    </div>

    <div class="flex-container-justify-start register-btn-wrapper">
      <a [routerLink]="'tutor/signUp/step-one'" class="register-btn flex-container-center">Apply to become a tutor</a>
      <a [routerLink]="'student/signUp/step-one'" class="register-btn flex-container-center">Create a student
        account</a>
    </div>
  </form>
</div>
