<div class="login-wrapper">
  <form>
    <label for="email" class="form-label mb-44">
      <input id="email"
             class="form-input"
             name="email"
             required
             autocomplete="email"
             type="email"
             placeholder="Email address*"
             formControlName="email">
<!--      <span class="error-message">This is a required field</span>-->
      <span class="error-message">Please provide a valid email address</span>
    </label>
    <div class="flex-container-center">
      <button class="login-btn flex-container-center">Send</button>
    </div>

    <div class="flex-container-justify-start register-btn-wrapper">
      <a [routerLink]="'tutor/signUp/step-one'" class="register-btn flex-container-center">Apply to become a tutor</a>
      <a [routerLink]="'student/signUp/step-one'" class="register-btn flex-container-center">Create a student
        account</a>
    </div>
  </form>
</div>
