<div class="message_history_wrapper">
  <div class="flex-container">
    <div class="flex-item">
      <h3 class="message_history_title">Messages history</h3>
      <div class="search-box">
        <input type="text" placeholder="Search" class="search-chat-user-list">
        <span class="search-box-icon">
            <img src="assets/images/searchIcon.png" alt="Search Icon" width="26" height="24">
        </span>
      </div>
      <div class="message-users-list-wrapper">
        <app-message-users-list></app-message-users-list>
      </div>
    </div>
    <div class="flex-item chat">
      <div class="chat-header">
        <div class="flex-container-justify-start">
          <div class="writer-image">
            <img src="assets/images/messageUser.png" alt="Writer">
          </div>
          <h2 class="writer-name" (click)="joinRoom()">Ann Smith</h2>
        </div>
      </div>
      <div class="chat-history">
        <!--            <div class="without-messages">-->
        <!--              <h2>Your Messages</h2>-->
        <!--              <img src="assets/images/paper-plane.png" alt="Paper Plane" width="101" height="101">-->
        <!--            </div>-->
        <div class="online-chat-wrapper">
          <h4 class="chatting-time">16.03.2021</h4>
          <div class="chat-wrapper">
            <div class="message-content">
              {{messages | json}}
              <div class="received-message" [class.flex-container-justify-start]="userId.toString() != message.userId"
                   [class.flex-container-justify-end]="userId.toString() == message.userId"
                   *ngFor="let message of messages">
                <h2 class="received-message-text">
                  {{userId.toString()}}
                  {{ message.userId}}
                  {{message.message}}
                </h2>
                <span class="received-message-time">14:25</span>
              </div>
              <div class="sending-message flex-container-justify-end">
                <span class="received-message-time">14:25</span>
                <h2 class="received-message-text">Yes, of course dear.</h2>
              </div>
            </div>
            <form class="send-message-wrapper" [formGroup]="form">
              <input type="text" placeholder="write a message..." formControlName="message">
              <img src="assets/images/sendMessage.png" (click)="sendMessage()" alt="Send Message Icon" width="34"
                   height="35">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
