<div class="message_history_wrapper">
  <div class="flex-container">
    <div class="flex-item">
      <h3 class="message_history_title">Messages history</h3>
      <form class="search-box" [formGroup]="searchForm">
        <input type="text" placeholder="Search" class="search-chat-user-list" formControlName="search">
        <span class="search-box-icon">
            <img src="assets/images/searchIcon.png" alt="Search Icon" width="26" height="24">
        </span>
      </form>
      <div class="message-users-list-wrapper">
        <app-message-users-list (selectConversation)="selectConversation($event)" [conversations]="conversations"></app-message-users-list>
      </div>
    </div>
    <div class="flex-item chat">
      <div class="chat-header" *ngIf="selectedConversation">
        <div class="flex-container-justify-start">
          <div class="writer-image">
            <img [src]="selectedConversation.image" alt="Writer">
          </div>
          <h2 class="writer-name">{{selectedConversation.firstName}} {{selectedConversation.lastName}}</h2>
        </div>
      </div>
      <div class="chat-history">
        <div class="online-chat-wrapper">
          <div class="chat-wrapper" #messageBox>
            <div  class="message-content" *ngFor="let item of messages">
              <h4 class="chatting-time">{{item.date | date : 'shortDate'}}</h4>
              <div class="received-message" *ngFor="let message of item.messages" [ngClass]="userId != message.userId ? 'received-message flex-container-justify-start' : 'sending-message flex-container-justify-end'">
                <h2 class="received-message-text">
                  {{message.message}}
                </h2>
                <span class="received-message-time">
                   {{message.messageDate | date : 'h:mm'}}
                  </span>
              </div>
            </div>
            <form class="send-message-wrapper" [formGroup]="form">
              <input (keyup.enter)="sendMessage()" type="text" placeholder="Write a message..." formControlName="message">
              <img src="assets/images/sendMessage.png" (click)="sendMessage()"
                   alt="Send Message Icon"
                   width="34"
                   height="35"
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
