<ul class="message-users-list">
  <li class="message-users-list__item isActive" [class.isActive]="item?.chatId === selectedConversation?.chatId" *ngFor="let item of conversations" (click)="onSelectConversation(item)">
    <picture class="user-image-wrapper">
      <img [src]="item.image"
           alt="User Pic"
           width="80"
           height="80"
      >
    </picture>
    <div class="message-info-wrapper">
      <h3 class="user-name">{{item.firstName}} {{item.lastName}}</h3>
      <p class="user-message">{{item.lastMessage}}</p>
    </div>
    <div class="isNewMessage" *ngIf="item.unreadMessagesCount">
      <span class="message-count">{{item.unreadMessagesCount}}</span>
    </div>
  </li>
</ul>
