<!--================ Header Area Start =================-->
<app-header></app-header>
<!--================ Header Area End =================-->
<main class="user-profile-wrapper">
  <div class="profile-gradient"></div>
  <div class="profile-container">
    <section class="profile-main-info-wrapper mb-120">
      <div class="file-upload-wrapper upload-column">
        <div class="upload-image-box">
          <div class="image-upload-wrap">
            <div class="drag-text">
              <img *ngIf="!tutorInfo?.photo" src="assets/images/photo-camera%201.png" alt="Upload Photo"
                   width="33" height="33">
            </div>
            <img alt="Upload Photo" *ngIf="tutorInfo?.photo" [src]="tutorInfo?.photo">
          </div>
        </div>
        <button class="profile-buttons--item flex-container-center" (click)="openConversation()">
          <img src="assets/images/message.png" alt="Messages" width="51" height="50">
          Message
        </button>
      </div>
      <div class="profile-cards">
        <div class="d-flex">
          <h2 class="profile-cards__Info--title profile-cards__Info--title__without-uppercase"> {{tutorInfo?.fullName}} <span> ({{tutorInfo?.userName}})</span>
          </h2>
        </div>
        <div class="profile-cards__details--rating">
          <fieldset class="star-rates">
            <star-rating *ngIf="ratings?.average" [value]="ratings.average" [totalstars]="5" checkedcolor="#FFC107" uncheckedcolor="#c2c2c2"
                         size="35px" [readonly]="true"></star-rating>
          </fieldset>
          <!--          <span>1</span>-->
        </div>
        <h3 class="profile-cards__details--time flex-container-justify-start">
          <img src="assets/images/hours.svg" alt="Hours" width="24" height="24">
          42 hours tutored
        </h3>
        <h3 class="profile-cards__details--bold">Hourly rate: <span
          class="light-text">${{tutorInfo?.hourlyRate}}</span></h3>
        <h3 class="profile-cards__details--bold flex-container-justify-start">
          Lesson cancellation: <span class="light-text"> {{tutorInfo?.cancellation}}</span>
        </h3>
        <h1 class="profile-cards__Info--headline"> Profile Headline </h1>
        <p class="profile-cards__Info--description">{{tutorInfo?.headline}}</p>
      </div>
    </section>
    <section class="profile-section" *ngIf="bio">
      <h2 class="profile-section__title">
        Bio
        <hr/>
      </h2>
      <div class="nested-info">
        <p class="profile-section__description">{{bio}}</p>
        <button class="read-more" (click)="toggleContent('bio')"
                *ngIf="bio && bio.length > limit">{{isBioContentToggled ? 'read more' : 'read less'}}</button>
      </div>
    </section>
    <section class="profile-section" *ngIf="wrapUp">
      <h2 class="profile-section__title">
        Wrap up your profile
        <hr/>
      </h2>
      <div class="nested-info">
        <p class="profile-section__description">{{wrapUp}}</p>
        <button class="read-more" (click)="toggleContent('wrapUp')"
                *ngIf="wrapUp && wrapUp.length > limit">{{isWrapUpContentToggled ? 'read more' : 'read less'}}</button>
      </div>
    </section>
    <section class="profile-section" *ngIf="institutions?.length">
      <h2 class="profile-section__title">
        Education
        <hr/>
      </h2>
      <div class="nested-info without-side-padding">
        <div class="flex-container-justify-start grid-gap-54 grid-wrapper" *ngFor="let item of institutions">
          <div class="flex-item large-mr">
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Institution name</h2>
              <p class="profile-section--subDescription">
                {{item?.name}}
              </p>
            </div>
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Education level</h2>
              <p class="profile-section--subDescription">
                {{item?.level}}
              </p>
            </div>
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Major</h2>
              <p class="profile-section--subDescription">
                {{item?.major}}
              </p>
            </div>
          </div>
          <div class="flex-item">
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Country</h2>
              <p class="profile-section--subDescription">
                {{item?.country}}
              </p>
            </div>
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">City</h2>
              <p class="profile-section--subDescription">
                {{item?.city}}
              </p>
            </div>
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Date</h2>
              <p class="profile-section--subDescription">
                <span>{{item?.startDate | date : 'MM/dd/YYYY'}}</span> -
                <span>{{item?.graduationDate | date : 'MM/dd/YYYY'}}</span>
              </p>
            </div>
          </div>
          <div class="flex-item align-self-end">
            <div class="checkboxes-wrapper">
              <mat-checkbox [checked]="item.degreeInProgress">
                Degree in progress
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="profile-section" *ngIf="certificates?.length">
      <h2 class="profile-section__title">
        Certificates
        <hr/>
      </h2>
      <div class="nested-info without-side-padding">
        <div class="flex-container flex-container-justify-start grid-gap-152 grid-wrapper">
          <div class="flex-item" *ngFor="let item of certificates">
            <div class="profile-section-subItems" *ngIf="item?.institutionName">
              <h2 class="profile-section--subtitle">Institution name</h2>
              <p class="profile-section--subDescription">
                {{item?.institutionName}}
              </p>
            </div>
            <div class="profile-section-subItems" *ngIf="item?.qualification">
              <h2 class="profile-section--subtitle">Qualification</h2>
              <p class="profile-section--subDescription">
                {{item?.qualification}}
              </p>
            </div>
            <div class="profile-section-subItems" *ngIf="item?.date">
              <h2 class="profile-section--subtitle">Date</h2>
              <p class="profile-section--subDescription">
                {{item?.date | date : 'MM/dd/YYYY'}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="profile-section" *ngIf="availabilities?.availabilities?.length">
      <h2 class="profile-section__title">
        Availability
        <hr/>
      </h2>
      <div class="profile-tabs-wrapper">
        <table class="profile-tabs-table mb-45">
          <tbody>
          <tr class="profile-tabs-table--row" *ngFor="let item of availabilities?.availabilities">
            <td><p class="profile-tabs-table--row__description">{{item?.day}}</p></td>
            <td><p class="profile-tabs-table--row__description">{{item?.startHour}}</p></td>
            <td><p class="profile-tabs-table--row__description">{{item?.endHour}}</p></td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="profile-section" *ngIf="subjects?.length">
      <h2 class="profile-section__title">
        Subjects
        <hr/>
      </h2>
      <div class="profile-tabs-wrapper ">
        <table class="profile-tabs-table table-with-pt mb-45">
          <tbody>
          <tr class="profile-tabs-table--row" *ngFor="let item of subjects">
            <td *ngIf="item?.category">
              <h3 class="profile-tabs-table--row__title">Category</h3>
              <p class="profile-tabs-table--row__description">{{item.category}}</p>
            </td>
            <td *ngIf="item?.subject">
              <h3 class="profile-tabs-table--row__title">Subject</h3>
              <p class="profile-tabs-table--row__description">{{item.subject}}</p>
            </td>
            <td *ngIf="item?.level">
              <h3 class="profile-tabs-table--row__title">Level</h3>
              <p class="profile-tabs-table--row__description">{{item.level}}</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="profile-section">
      <h2 class="profile-section__title">
        Ratings
        <hr/>
      </h2>
      <app-ratings [showStars]="false" [ratings]="ratings"></app-ratings>
    </section>
    <section class="profile-section" *ngIf="reviews?.length">
      <h2 class="profile-section__title">
        Reviews
        <hr/>
      </h2>
      <section class="profile-tabs-wrapper">
        <div class="review-wrapper">
          <div class="review-item">
            <h3 class="profile-tabs-subtitle">
              Feedbacks
            </h3>
            <ng-container *ngFor="let item of reviews">
              <h4 class="review-item-name">{{item.authorName}}</h4>
              <p class="review-item-desc">{{item.review}}</p>
            </ng-container>
          </div>
        </div>
      </section>
    </section>
  </div>
</main>
