<div class="add-lesson-modal-wrapper">
  <div class="add-lesson-modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ul class="flex-item-for-info address-form">
        <li class="add-lesson-list--item add-lesson-list--item__fixed-width">
          <h3 class="form-item-label">Student’s username</h3>
          <label for="studentName" class="form-label">
            <input id="studentName"
                   class="form-input"
                   autocomplete="studentName"
                   type="text"
                   placeholder="type a student’s name*"
                   formControlName="userName"
            >
            <span class="error-message" *ngIf="form.get('userName')?.errors?.required && form.get('userName')?.touched">This is a required field</span>
          </label>
        </li>
        <li class="add-lesson-list--item date-wrapper">
          <h3 class="form-item-label label-with-minus-margin">Date</h3>
          <mat-form-field
            appearance="fill"
            class="date-range-wrapper
          custom-date-range-wrapper">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>
                <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <input matInput
                   [matDatepicker]="picker"
                   (click)="picker.open()"
                   placeholder="MM/dd/yyyy*"
                   formControlName="lessonStartDate"
                   [min]="minDate"
            >
          </mat-form-field>
          <span class="error-message"
                *ngIf="form.get('lessonStartDate')?.errors?.required && form.get('lessonStartDate')?.touched">This is a required field</span>
        </li>
        <li class="add-lesson-list--item">
          <h3 class="form-item-label">Lesson start time</h3>
          <div class="lesson-time-wrapper">
            <div class="d-flex position-relative selects-wrapper">
              <div class="modal-select-width position-relative">
                <app-select
                  [label]="'Time*'"
                  formControlName="hourId"
                  [list]="hoursOfDay$ | async"
                  [keyName]="'time'"
                ></app-select>
                <span class="error-message" *ngIf="form.get('hourId')?.errors?.required && form.get('hourId')?.touched">This is a required field</span>
              </div>
              <div class="modal-select-width position-relative">
                <app-select
                  [label]="'Minutes*'"
                  formControlName="minute"
                  [keyName]="'value'"
                  [list]="minutes$ | async"
                ></app-select>
                <span class="error-message" *ngIf="form.get('minute')?.errors?.required && form.get('minute')?.touched">This is a required field</span>
              </div>
              <div class="modal-select-width position-relative">
                <input type="number" class="form-input" min="0" placeholder="Duration*" formControlName="duration">
                <span class="error-message"
                      *ngIf="form.get('duration')?.errors?.required && form.get('duration')?.touched">This is a required field</span>
              </div>
            </div>
          </div>
        </li>
        <li class="user-sign-up-list__item">
          <h3 class="form-item-label">Please choose your subject</h3>
          <div class="d-flex flex-wrap flex-container-justify-start
            grid-gap-10 date-picker-container">
            <div>
              <div class="d-flex selectRow">
                <div class="selectWrapper">
                  <app-select
                    [label]="'Category*'"
                    [keyName]="'categoryName'"
                    formControlName="categoryId"
                    [list]="categories$ | async"
                  >
                  </app-select>
                  <span class="error-message"
                        *ngIf="form.get('categoryId')?.errors?.required && form.get('categoryId')?.touched">This is a required field</span>
                </div>
                <div class="selectWrapper position-relative">
                  <app-select
                    [label]="'Subject*'"
                    [keyName]="'subjectName'"
                    formControlName="subjectId"
                    [list]="subjects$ | async"
                  >
                  </app-select>
                  <span class="error-message"
                        *ngIf="form.get('subjectId')?.errors?.required && form.get('subjectId')?.touched">This is a required field</span>
                </div>
                <div class="selectWrapper position-relative">
                  <app-select
                    [label]="'Level*'"
                    [keyName]="'level'"
                    formControlName="levelId"
                    [list]="levels$ | async"
                    [disable]="!(levels$ | async)?.length"
                  >
                  </app-select>
                  <span class="error-message"
                        *ngIf="form.get('levelId')?.errors?.required && form.get('levelId')?.touched">This is a required field</span>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="add-lesson-list--item add-lesson-list--item__fixed-width">
          <h3 class="form-item-label">Hourly rate</h3>
          <label for="hourlyRate" class="form-label">
            <input id="hourlyRate"
                   class="form-input"
                   type="number"
                   min="0"
                   formControlName="hourlyRate"
                   placeholder="the minimum hourly rate is $20 *"
            >
            <!--            <span class="error-message">You cannot enter anything below $20</span>-->
          </label>
        </li>
        <li class="add-lesson-list--item add-lesson-list--item__fixed-width">
          <h3 class="form-item-label">Lesson plan</h3>
          <label for="lessonPlan" class="form-label">
            <input id="lessonPlan"
                   class="form-input"
                   autocomplete="lessonPlan"
                   type="text"
                   placeholder="write a lesson plan*"
                   formControlName="lessonPlan"
            >
            <span class="error-message"
                  *ngIf="form.get('lessonPlan')?.errors?.required && form.get('lessonPlan')?.touched">This is a required field</span>
          </label>
          <span class="form-item-notification">Your lesson plan must be between 15 and 100 characters.</span>
        </li>
      </ul>
      <div class="flex-container-center">
        <button class="settings-form-button__with-border button-border--green" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
