<section class="payment-details-wrapper">
  <h2 class="payment-details-wrapper__title">Payment details</h2>
  <table class="payment-details-wrapper-table">
    <tbody>
    <tr>
      <td>
        <h3>Payment ID</h3>
      </td>
      <td>
        <h3>{{paymentDetail?.paymentId}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Payment date</h3>
      </td>
      <td>
        <h3>{{paymentDetail?.paymentDate | date  : 'MM/dd/YYYY'}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Payment type</h3>
      </td>
      <td>
        <h3>{{paymentDetail?.type}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Lesson date</h3>
      </td>
      <td>
        <h3>{{paymentDetail?.lessonDate | date  : 'MM/dd/YYYY'}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Note</h3>
      </td>
      <td>
        <h3>{{paymentDetail?.note}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Hourly rate</h3>
      </td>
      <td>
        <h3>{{paymentDetail?.hourlyRate | currency}}</h3>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Total</h3>
      </td>
      <td>
        <h3>{{paymentDetail?.total | currency}}</h3>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="flex-container-justify-end payment-details-wrapper-btns" (click)="printPayment()">
    <img src="assets/images/printer.png" alt="Printer" width="35" height="35">
    <button class="settings-form-button print-btn">Print Selected</button>
  </div>
</section>
