<div class="credit-card-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
    <fieldset>
      <legend class="form-legend">Payment Information</legend>
      <div class="flex-container-start">
        <div class="flex-item-for-card">
          <h3 class="main-question mb-32">ADD credit card/debit card</h3>
          <label for="cardNumber" class="flex-column form-group">
            <span class="card-input-label"> Card Number*</span>
            <input type="number" id="cardNumber" class="card-field" placeholder="" maxlength="16" formControlName="cardNumber">
            <span class="error-message block" *ngIf="form.get('cardNumber')?.errors?.required && form.get('cardNumber')?.touched">This is a required field</span>
          </label>
          <label for="cardName" class="form-group form-label flex-column">
            <span class="card-input-label"> Insert your name as it appears on the card* </span>
            <input id="cardName" class="card-field" autocomplete="cardName" type="text" placeholder="Name on  card" formControlName="name">
            <span class="error-message" *ngIf="form.get('name')?.errors?.required && form.get('name')?.touched">This is a required field</span>
          </label>
          <span class="card-input-label">Card expiration date*</span>
          <div class="date-picker-wrapper">
            <div class="form-group select-with-border">
              <select formControlName="expMonth">
                <option [ngValue]="item.id" *ngFor="let item of months$ | async">{{item.numberInString + ' ' + item.name}}</option>
              </select>
              <span class="error-message" *ngIf="form.get('expMonth')?.errors?.required && form.get('expMonth')?.touched">This is a required field</span>
            </div>
            <div class="form-group select-year-wrapper select-with-border">
              <select formControlName="expYear">
                <option [ngValue]="item.id" *ngFor="let item of yearList">{{item.description}}</option>
              </select>
              <span class="error-message" *ngIf="form.get('expYear')?.errors?.required && form.get('expYear')?.touched">This is a required field</span>
            </div>
          </div>
          <label for="cvv" class="form-group form-label flex-column cvv-label">
            <span class="card-input-label"> CVC2/CVV2* </span>
            <input id="cvv" class="card-field cvv" autocomplete="cvv" type="number" placeholder="" maxlength="3" formControlName="cvc">
            <span class="error-message" *ngIf="form.get('cvc')?.errors?.required && form.get('cvc')?.touched">This is a required field</span>
          </label>
        </div>
        <div class="card__image">
          <img src="assets/images/card.png" alt="Card" width="693" height="420">
        </div>
      </div>
<!--      <div class="billing-address-container" *ngIf="isUserFromUS$ | async" formGroupName="billingAddress">-->
<!--        <h3 class="main-question">Billing Address</h3>-->
<!--        <label for="streetNumber" class="form-label">-->
<!--          <input id="streetNumber" class="form-input" autocomplete="streetNumber" type="text"-->
<!--                 placeholder="Street Number*" formControlName="streetNumber">-->
<!--          <span class="error-message block" *ngIf="billingAddress.get('streetNumber')?.errors?.required && billingAddress.get('streetNumber')?.touched">This is a required field</span>-->
<!--        </label>-->
<!--        <label for="city" class="form-label">-->
<!--          <input id="city" class="form-input" autocomplete="city" type="text"-->
<!--                 placeholder="City*" formControlName="city">-->
<!--          <span class="error-message block" *ngIf="billingAddress.get('city')?.errors?.required && billingAddress.get('city')?.touched">This is a required field</span>-->
<!--        </label>-->
<!--        <label for="apartmentOrSuite" class="form-label">-->
<!--          <input id="apartmentOrSuite" class="form-input" autocomplete="apartmentOrSuite" type="text"-->
<!--                 placeholder="apartment or suite*" formControlName="apartment">-->
<!--          <span class="error-message block" *ngIf="billingAddress.get('apartment')?.errors?.required && billingAddress.get('apartment')?.touched">This is a required field</span>-->
<!--        </label>-->
<!--        <label class="form-label">-->
<!--          <app-select [list]="states$ | async" [keyName]="'name'" [label]="'state*'" formControlName="stateId"></app-select>-->
<!--          <span class="error-message block" *ngIf="billingAddress.get('stateId')?.errors?.required && billingAddress.get('stateId')?.touched">This is a required field</span>-->
<!--        </label>-->
<!--        <label for="zipCode" class="form-label">-->
<!--          <input id="zipCode" class="form-input" autocomplete="zipCode"-->
<!--                 placeholder="Zip Code*" formControlName="zipCode">-->
<!--          <span class="error-message block" *ngIf="billingAddress.get('zipCode')?.errors?.required && billingAddress.get('zipCode')?.touched">This is a required field</span>-->
<!--        </label>-->
<!--      </div>-->
    </fieldset>
  </form>
  <div class="main-convenient">
    <h3 class="main-question">Convenient, cashless payments</h3>
    <ul class="main-convenient-list">
      <li class="main-convenient-list__item">
        <img src="assets/images/checked.png" alt="Checked" width="26" height="26">
        Pay only once your lesson’s complete.
      </li>
      <li class="main-convenient-list__item">
        <img src="assets/images/checked.png" alt="Checked" width="26" height="26">
        Lessons are charged by each tutor’s hourly rate.
      </li>
      <li class="main-convenient-list__item">
        <img src="assets/images/checked.png" alt="Checked" width="26" height="26">
        It is your responsibility to notify the tutor about the cancelation of the class. Please read the
        cancellation policy of your tutor prior to scheduling the class. The tutor may charge you for the late
        notice.
      </li>
    </ul>
    <div class="checkboxes-wrapper">
      <mat-checkbox #paymentPolicies>
        <p class="checkbox-text">I have read and agree to the <a href="">Payment Policies.*</a></p>
      </mat-checkbox>
    </div>
  </div>
  <div class="flex-container-center button-wrapper button-wrapper__mt">
    <button type="button" class="sophist-btn flex-container-center" (click)="previousStep()">PREVIOUS</button>
    <button type="submit" class="sophist-btn flex-container-center next-btn" (click)="onSubmit()" [disabled]="!paymentPolicies.checked">Sign</button>
  </div>
</div>
