<div class="flex-container">
  <div class="flex-item flex-item-step-min-length">
    <div class="margin-left-space">
      <form class="register-form">
        <fieldset>
          <legend class="form-legend">Payment Information</legend>
          <div class="flex-container">
            <div class="flex-item-for-card">

            </div>
            <div class="card__image">
              <img src="assets/images/card.png" alt="Card" width="693" height="420">
            </div>
          </div>
        </fieldset>
        <div class="flex-container-center button-wrapper">
          <button type="submit" class="sophist-btn flex-container-center next-btn">NEXT</button>
        </div>
      </form>
    </div>
  </div>
</div>
