<section class="profile-tabs-wrapper">
  <h3 class="profile-tabs-notification">
    Tell your students when you are available for lessons.
  </h3>
  <table class="profile-tabs-table">
    <tbody>
    <tr class="profile-tabs-table--row">
      <td><p class="profile-tabs-table--row__description">Sunday</p></td>
      <td><p class="profile-tabs-table--row__description">11:00 AM</p></td>
      <td><p class="profile-tabs-table--row__description">12:00 PM</p></td>
    </tr>
    <tr class="profile-tabs-table--row">
      <td><p class="profile-tabs-table--row__description">Monday</p></td>
      <td><p class="profile-tabs-table--row__description">11:00 AM</p></td>
      <td><p class="profile-tabs-table--row__description">12:00 PM</p></td>
    </tr>
    <tr class="profile-tabs-table--row">
      <td><p class="profile-tabs-table--row__description">Wednesday</p></td>
      <td><p class="profile-tabs-table--row__description">11:00 AM</p></td>
      <td><p class="profile-tabs-table--row__description">12:00 PM</p></td>
    </tr>
    </tbody>
  </table>
</section>
