<form>
  <div class="d-flex personal-info-wrapper">
    <div class="flex-item-for-info">
      <div>
        <h3 class="form-item-label">Primary email*</h3>
        <label for="email" class="form-label">
          <input id="email" class="form-input" autocomplete="username" type="email"
                 placeholder=""
                 formControlName="email">
          <span class="error-message">Please enter your email address</span>
        </label>
      </div>
      <div>
        <h3 class="form-item-label">Mobile phone*</h3>
        <div class="d-flex position-relative">
          <div class="form-label phone-number-label form-label--min-width w-25">
            <app-select [label]="'+374'" [keyName]="'phoneCode'" [optionName]="'iso3'"
                        formControlName="mobileCode"></app-select>
            <span class="error-message">This is a required field</span>
          </div>
          <label for="phone-number" class="form-label phone-number-label phone-number-label-input">
            <input id="phone-number" class="form-input" autocomplete="phone-number" type="tel"
                   placeholder="*Phone number"
                   formControlName="mobile">
          </label>
        </div>
      </div>
    </div>
    <div class="flex-item-for-info">
      <ul>
        <li>
          <h3 class="form-item-label">Country*</h3>
          <label for="country" class="form-label">
            <app-select
              [label]="'*country'"
              id="country"
              [keyName]="'nameLowerCase'"
              formControlName="countryId">
            </app-select>
            <span class="error-message block">This is a required field </span>
          </label>
        </li>
        <li>
          <h3 class="form-item-label">City*</h3>
          <label for="city" class="form-label">
            <input id="city" class="form-input" type="text" placeholder="*city"
                   formControlName="city">
            <span class="error-message">This is a required field</span>
          </label>
        </li>
        <li>
          <h3 class="form-item-label">Street Number*</h3>
          <label for="streetNumber" class="form-label">
            <input id="streetNumber" class="form-input" autocomplete="streetNumber" type="text"
                   placeholder="*Street Number" formControlName="streetNumber">
            <span class="error-message block"> This Field is requires</span>
          </label>
        </li>
        <li>
          <h3 class="form-item-label">Street Name*</h3>
          <label for="streetName" class="form-label">
            <input id="streetName" class="form-input" autocomplete="streetName" type="text"
                   placeholder="*Street Name" formControlName="streetName">
            <span class="error-message block">This Field is requires</span>
          </label>
        </li>
        <li>
          <h3 class="form-item-label">Zip Code*</h3>
          <label for="zipCode" class="form-label">
            <input id="zipCode" class="form-input" autocomplete="zipCode"
                   placeholder="*Zip Code" formControlName="zipCode">
            <span class="error-message block">This Field is requires</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</form>
<div class="flex-container-center grid-gap-for-buttons">
  <button class="settings-form-button settings-form-button__with-border button-border--blue">Edit</button>
  <button class="settings-form-button">Update Information</button>
</div>
