<app-header></app-header>
<div class="settings-wrapper">
  <h2 class="settings-wrapper-title flex-container-justify-start">
    Profile settings
    <img src="./assets/images/settings.svg" alt="settings" width="23"
         height="23">
  </h2>
  <div class="flex-container-start full-height-container">
    <ul class="user-setting-list">
      <li class="user-setting-list__item flex-container-justify-start" [routerLink]="['./']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Profile information
      </li>
      <li class="user-setting-list__item flex-container-justify-start" [routerLink]="['rates']" routerLinkActive="active"> Rates and policies</li>
      <li class="user-setting-list__item flex-container-justify-start" [routerLink]="['availability']" routerLinkActive="active">Availability</li>
      <li class="user-setting-list__item flex-container-justify-start" [routerLink]="['subjects']" routerLinkActive="active">Subjects</li>
      <li class="user-setting-list__item flex-container-justify-start" [routerLink]="['institutions']" routerLinkActive="active">Institutions</li>
      <li class="user-setting-list__item flex-container-justify-start" [routerLink]="['certificates']" routerLinkActive="active">Certificates</li>
      <li class="user-setting-list__item flex-container-justify-start" [routerLink]="['personal-information']" routerLinkActive="active">Personal
        information
      </li>
      <li class="user-setting-list__item flex-container-justify-start" [routerLink]="['payment-method']" routerLinkActive="active">Payment method
      </li>
      <li class="user-setting-list__item flex-container-justify-start" [routerLink]="['change-password']" routerLinkActive="active">Change
        password
      </li>
    </ul>
    <section class="user-setting-main-info">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>
