@import "src/assets/css/variables";

.min-width-select {
  flex: 1;
}

.tutor-settings-page-notification {
  max-width: 61%;
  margin-bottom: 30px;
}

.card-number-wrapper {
  font-size: 20px;
}

.card-number {
  color: $main-brand-color;
}

.billing-address-container {
  margin-top: 139px;

  .form-label {
    margin-bottom: 20px;
  }

  .size-mid {
    font-size: 20px;
  }
}
