.group-title {
  margin-bottom: 16px;
}

.form-item-notification {
  margin-bottom: 4px;
}

.form-label--flex-container {
  margin-bottom: 25px;
}

.upload-photo-title {
  margin-bottom: 15px;
}
.image-uploaded {
  border-radius: 50%;
  display: block;
  overflow: hidden;
}
