<figure class="search-cards-item">
  <div class="search-cards-item-for-image">
    <img [src]="tutor.photo" alt="Tutor Image" width="166" height="167">
  </div>
  <figcaption class="profile-cards__Info">
    <h2 class="profile-cards__Info--title">{{tutor.fullName}}</h2>
    <p class="profile-cards__Info--description">
      {{tutor.profileHeadline}}
      <button class="read-more d-block" (click)="toggleContent()" *ngIf="tutor.profileHeadline.length > limit">{{isContentToggled ? 'read more' : 'read less'}}</button>
    </p>
  </figcaption>
  <div class="profile-cards__details">
    <h3 class="profile-cards__details--price">${{tutor.hourlyRate}}/hour</h3>
    <div class="profile-cards__details--rating">
      <fieldset class="star-rates">
        <div>
          <input id="rate2-star-0.5" class="star-input" type="radio" value="0.5" name="rate2">
          <label class="half" class="star-label" for="rate2-star-0.5" title="0.5"></label>
        </div>
        <div>
          <input id="rate2-star-1" class="star-input" type="radio" value="1" name="rate2">
          <label class="full" class="star-label" for="rate2-star-1" title="1"></label>
        </div>
        <div>
          <input id="rate2-star-1.5" class="star-input" type="radio" value="1.5" name="rate2">
          <label class="half" class="star-label" for="rate2-star-1.5" title="1.5"></label>
        </div>
        <div>
          <input id="rate2-star-2" class="star-input" type="radio" value="2" name="rate2">
          <label class="full" class="star-label" for="rate2-star-2" title="2"></label>
        </div>
        <div>
          <input id="rate2-star-2.5" class="star-input" type="radio" value="2.5" name="rate2">
          <label class="half" class="star-label" for="rate2-star-2.5" title="2.5"></label>
        </div>
      </fieldset>
      <span>{{tutor.rating}}({{tutor.usersRated}})</span>
    </div>
    <h4 class="profile-cards__details--time flex-container-justify-start">
      <img src="assets/images/hours.svg" alt="Hours" width="24" height="24">
      {{tutor.tutoredHours}} hours tutoring
    </h4>
    <h5 class="profile-cards__details--cancellation flex-container-justify-start">
      <img src="assets/images/cancellation.svg" alt="Cancellation" width="22" height="29">
      Cancellation: {{tutor.cancelation}}
    </h5>
  </div>
</figure>
