<app-header *ngIf="!isOnStudentPage"></app-header>
<app-filter [showFilterTitle]="!isOnStudentPage"></app-filter>
<ng-container *ngIf="(tutorList$ | async) as tutorList">
  <div *ngFor="let tutor of tutorList">
    <app-tutor-card [tutor]='tutor' [isStudentPage]="isOnStudentPage"></app-tutor-card>
  </div>

  <div *ngIf="!tutorList.length">
    <p class="text-center text-danger">Sorry, there are no tutor matching the search criteria</p>
  </div>
</ng-container>
<app-pagination [currentPage]="currentPage$ | async" [pageCount]="pagesCount"
                (onChangePage)="changePage($event)"></app-pagination>
