<div class="flex-item flex-item-step-min-length">
  <div class="margin-left-space">
    <form [formGroup]="form">
      <div formArrayName="formArray" *ngFor="let item of formArray.controls; let i = index">
        <fieldset  [formGroupName]="i" class="register-form">
          <legend class="form-legend">Certificates/Qualification</legend>
          <div class="register-step-form">
            <label for="institution-name" class="form-label">
              <input id="institution-name" class="form-input" type="text"
                     placeholder="institution name" formControlName="institutionName">
            </label>
            <label for="qualification" class="form-label">
              <input id="qualification" class="form-input" type="text"
                     placeholder="qualification"
                     formControlName="qualification">
            </label>
            <div class="flex-container-start double-calendar form-label">
              <div class="fixed-width">
                <h2 class="date-picker-label">Date </h2>
                <mat-form-field appearance="fill">
                  <input matInput [matDatepicker]="picker1" (click)="picker1.open()" formControlName="date"
                         [readonly]="true">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-label>*mm/dd/yyyy</mat-label>
                </mat-form-field>
              </div>
            </div>
            <div *ngIf="i > 0">
              <button type="button" id="remove" class="remove-icon-wrapper" (click)="removeForm(item)">
                <img src="assets/images/recycleBin.png" alt="Remove Row">
              </button>
            </div>
          </div>
        </fieldset>

      </div>

    </form>
    <button type="button" class="add" id="add" (click)="addNewForm()"> + Add</button>
    <div class="flex-container-center button-wrapper">
      <a type="submit" class="sophist-btn flex-container-center previous-btn" (click)="back.emit()">PREVIOUS</a>
      <a type="submit" class="sophist-btn flex-container-center next-btn" (click)="onSubmit()">NEXT</a>
    </div>
  </div>
</div>
