@import "src/assets/css/variables";

.user-profile-wrapper {
  //background: linear-gradient(180deg, #E2ECFF 0%, rgba(255, 255, 255, 0) 100%);
  padding: 17px;
}

.profile-container {
  width: 70%;
  margin: 0 auto;
}

.profile-main-info-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 114px;
}

.profile-cards {
  display: grid;
  row-gap: 15px;

  &__Info--title {
    margin-bottom: 0;
    font-weight: $type-bold;
  }

  &__Info--description {
    font: $type-regular normal $type-medium-size $Segoe-UI-sans;
    line-height: 23px;
    color: $clr-ntrl-max;
  }
}

.start-lesson-wrapper {
  margin: 18px 0 160px 140px;

  .lessons-table-title {
    margin-bottom: 30px;
    font: $type-regular normal $type-base $Roboto-sans;
    color: #26BC00;
  }

  .date-picker-label {
    margin-bottom: 0;
  }

  .calendar-datepicker-wrappers {
    margin-bottom: 28px;
  }

  .calendar-content {
    th {
      background-color: #F6F9FF;
      height: 73px;

      &:first-child {
        width: 150px;
      }

      &:last-child {
        background-color: unset;
        border: 0;
      }

      .calendar-table-thead {
        white-space: pre-wrap;
      }
    }

    td {
      height: 71px;

      &:first-child {
        width: 150px;
        background-color: unset;
      }

      &:last-child {
        justify-content: flex-start;
        padding: 0 8px;
        border: 1px solid $clr-ntrl-min;
        background-color: #F6F9FF;
      }

      .tbody-text {
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: pre-wrap;
        margin: 0;

        img {
          width: 26px;
          height: 26px;
          margin-right: 16px;
        }
      }
    }

    .lessons-table-btn-wrapper {
      display: flex;
      grid-gap: 18px;
    }

    .lesson-status-btn {
      width: 70px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      border: 0;
      font: $type-light normal $type-small $Roboto-sans;

      &.lesson-status-btn__start {
        background-color: #7CED80;
        color: $clr-ntrl-max;
      }

      &.lesson-status-btn__end {
        background-color: #FF2929;
        color: $clr-ntrl-min;
      }

      &.lesson-status-btn__cancel {
        background-color: #A8A8A8;
        color: $clr-ntrl-min;
      }
    }
  }
}
