<app-login-header></app-login-header>
<main class="user-profile-wrapper">
  <div class="profile-container">
    <section class="profile-main-info-wrapper">
      <div class="file-upload-wrapper">
        <div class="upload-image-box">
          <div class="image-upload-wrap">
            <div class="drag-text">
              <img *ngIf="!tutorBaseInfo?.photo" src="assets/images/photo-camera%201.png" alt="Upload Photo"
                   width="33" height="33">
            </div>
            <img [src]="tutorBaseInfo?.photo" *ngIf="tutorBaseInfo?.photo" alt="Upload Photo">
          </div>
        </div>
      </div>
      <div class="profile-cards">
        <div class="d-flex">
          <h2 class="profile-cards__Info--title">{{tutorBaseInfo?.fullName }} </h2>
          <span> ({{tutorBaseInfo?.userName}})</span>
        </div>
        <div class="profile-cards__details--rating" *ngIf="(ratings$ | async) as ratings">
          <fieldset class="star-rates">
            <star-rating [value]="ratings.average" [totalstars]="5" checkedcolor="#FFC107" uncheckedcolor="#c2c2c2"
                         size="35px" [readonly]="true"></star-rating>
          </fieldset>
          <span>{{ratings.average.toFixed(1)}}({{ratings.overallCount}})</span>
        </div>
        <h3 class="profile-cards__details--time flex-container-justify-start">
          <img src="assets/images/hours.svg" alt="Hours" width="24" height="24">
          42 hours tutoring
        </h3>
        <h3 class="profile-cards__details--bold">Hourly rate: <span
          class="light-text">${{tutorBaseInfo?.hourlyRate}}</span></h3>
        <h3 class="profile-cards__details--bold flex-container-justify-start">
          Lesson cancellation: <span class="light-text"> {{tutorBaseInfo?.cancellation}} </span>
        </h3>
        <h1 class="profile-cards__Info--headline"> Profile Headline </h1>
        <p class="profile-cards__Info--description">{{tutorBaseInfo?.headline}}</p>
      </div>
    </section>
    <section class="profile-buttons">
      <button class="profile-buttons--item">
        <img src="assets/images/online-learning.png"
             alt="Start Lesson"
             width="55"
             height="55">
        Start Lesson
      </button>
      <button class="profile-buttons--item">
        <img src="assets/images/message.png" alt="Messages" width="51" height="50">
        Messages
      </button>
      <button class="profile-buttons--item">
        <img src="assets/images/analyst.png" alt="Jobs Board" width="52" height="52">
        Jobs board
      </button>
      <button class="profile-buttons--item">
        <img src="assets/images/cashless-payment.png" alt="payments" width="48" height="48">
        Payments
      </button>
      <button class="profile-buttons--item">
        <img src="assets/images/lessonHistory.png" alt="Messages" width="51" height="51">
        Lesson history
      </button>
    </section>
    <section class="profile-section">
      <h2 class="profile-section__title">
        Bio
        <hr/>
      </h2>
      <div class="nested-info">
        <p class="profile-section__description">
          {{bio}}
        </p>
        <button class="read-more" (click)="toggleContent('bio')"
                *ngIf="bio && bio.length > limit">{{isBioContentToggled ? 'read more' : 'read less'}}</button>
      </div>
    </section>
    <section class="profile-section">
      <h2 class="profile-section__title">
        Wrap up your profile
        <hr/>
      </h2>
      <div class="nested-info">
        <p class="profile-section__description">
          {{wrapUp}}
        </p>
        <button class="read-more" (click)="toggleContent('wrapUp')"
                *ngIf="wrapUp && wrapUp.length > limit">{{isWrapUpContentToggled ? 'read more' : 'read less'}}</button>
      </div>
    </section>
    <section class="profile-section" *ngIf="tutorInstitutions?.length">
      <h2 class="profile-section__title">
        Education
        <hr/>
      </h2>
      <div class="nested-info without-side-padding" *ngFor="let item of tutorInstitutions">
        <div class="flex-container-justify-start grid-gap-54 grid-wrapper">
          <div class="flex-item large-mr">
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Institution name</h2>
              <p class="profile-section--subDescription">
                {{item.name}}
              </p>
            </div>
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Education level</h2>
              <p class="profile-section--subDescription">
                {{item.level}}
              </p>
            </div>
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Major</h2>
              <p class="profile-section--subDescription">
                {{item.major}}
              </p>
            </div>
          </div>
          <div class="flex-item">
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Country</h2>
              <p class="profile-section--subDescription">
                {{item.country}}
              </p>
            </div>
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">City</h2>
              <p class="profile-section--subDescription">
                {{item.city}}
              </p>
            </div>
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Date</h2>
              <p class="profile-section--subDescription">
                <span>{{item.startDate | date : 'shortDate'}} </span>
                <span *ngIf="item.graduationDate">- {{item.graduationDate | date: 'shortDate'}} </span>
              </p>
            </div>
          </div>
          <div class="flex-item align-self-end" *ngIf="item.degreeInProgress">
            <div class="checkboxes-wrapper">
              <mat-checkbox formControlName="degreeInProgress" [checked]="item.degreeInProgress">
                Degree in progress
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="profile-section" *ngIf="tutorCertificates?.length">
      <h2 class="profile-section__title">
        Certificates
        <hr/>
      </h2>
      <div class="nested-info without-side-padding">
        <div class="flex-container flex-container-justify-start grid-gap-152 grid-wrapper">
          <div class="flex-item" *ngFor="let item of tutorCertificates">
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Institution name</h2>
              <p class="profile-section--subDescription">
                {{item?.institutionName}}
              </p>
            </div>
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Qualification</h2>
              <p class="profile-section--subDescription">
                {{item?.qualification}}
              </p>
            </div>
            <div class="profile-section-subItems">
              <h2 class="profile-section--subtitle">Date</h2>
              <p class="profile-section--subDescription">
                {{item?.date | date: 'shortDate'}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="profile-tab-buttons">
      <button (click)="activeTab = 'availability'" class="profile-tab-buttons--item flex-container-center">
        Availability
      </button>
      <button (click)="activeTab = 'subjects'" class="profile-tab-buttons--item flex-container-center">SUBJECTS</button>
      <button (click)="activeTab = 'calendar'" class="profile-tab-buttons--item flex-container-center">Calendar</button>
      <button (click)="activeTab = 'ratings'" class="profile-tab-buttons--item flex-container-center">Ratings</button>
      <button (click)="activeTab = 'reviews'" class="profile-tab-buttons--item flex-container-center">Reviews</button>
      <hr/>
    </div>
    <div [ngSwitch]="activeTab">
      <app-availability *ngSwitchCase="'availability'" [userId]="userId"></app-availability>
      <app-subjects *ngSwitchCase="'subjects'" [userId]="userId"></app-subjects>
      <app-calendar *ngSwitchCase="'calendar'" (onAddLesson)="isOpenAddLesson = true"></app-calendar>
      <app-ratings *ngSwitchCase="'ratings'" [ratings]="ratings$ | async"></app-ratings>
      <app-reviews *ngSwitchCase="'reviews'" [userId]="userId"></app-reviews>
    </div>
  </div>


  <section class="calendar-wrapper start-lesson-wrapper">
    <h3 class="lessons-table-title">Entered lesson</h3>
    <div class="flex-container">
      <form class="flex-container-justify-start calendar-datepicker-wrappers">
        <div class="date-picker-wrapper-for-calendar">
          <h2 class="date-picker-label">From </h2>
          <mat-form-field appearance="fill"
                          class="date-range-wrapper
                  custom-date-range-wrapper">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>
                <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <input matInput
                   [matDatepicker]="picker" formControlName="date"
                   (click)="picker.open()"
                   placeholder="*dd/mm/yyyy"
            >
          </mat-form-field>
        </div>
        <div class="date-picker-wrapper-for-calendar">
          <h2 class="date-picker-label">To </h2>
          <mat-form-field appearance="fill" class="date-range-wrapper
                  custom-date-range-wrapper">
            <mat-datepicker-toggle matSuffix [for]="picker1">
              <mat-icon matDatepickerToggleIcon>
                <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <input matInput [matDatepicker]="picker1" formControlName="endDate"
                   (click)="picker1.open()"
                   placeholder="*dd/mm/yyyy"
            >
          </mat-form-field>
        </div>
        <button class="button-for-show" type="submit">Show</button>
      </form>
      <button class="btn-add-less flex-container-center">Add Lesson</button>
    </div>

    <div class="calendar-content">
      <div class="tWrap">
        <div class="tWrap__head">
          <table>
            <thead>
            <tr>
              <th>
                <h3 class="calendar-table-thead">
                  Student
                </h3>
              </th>
              <th>
                <h3 class="calendar-table-thead">
                  Hourly rate
                </h3>
              </th>
              <th>
                <h3 class="calendar-table-thead">
                  Date
                </h3>
              </th>
              <th>
                <h3 class="calendar-table-thead">
                  Lesson
                  start time
                </h3>
              </th>
              <th>
                <h3 class="calendar-table-thead">
                  Projected
                  lesson duration
                </h3>
              </th>
              <th>
                <h3 class="calendar-table-thead">
                  Subject
                </h3>
              </th>
              <th>
                <h3 class="calendar-table-thead">
                  Lesson plan
                </h3>
              </th>
              <th>
                <h3 class="calendar-table-thead">
                  Status
                </h3>
              </th>
              <th>
                <h3 class="calendar-table-thead">
                  Actual
                  lesson duration
                </h3>
              </th>
              <th>
              </th>
            </tr>
            </thead>
          </table>
        </div>
        <div class="tWrap__body">
          <table>
            <tbody>
            <tr>
              <td>
                <p class="tbody-text">
                  Ann Smith
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  $25
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  <img
                    src="assets/images/calendar.png"
                    alt="Calendar"
                    width="26"
                    height="28"
                  >
                  01.01.2020
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11:00 - 12:00 AM
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11 min
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Math
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  California
                  Baptist University

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Planned

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  60 min
                </p>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="tbody-text">
                  Ann Smith
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  $25
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  <img
                    src="assets/images/calendar.png"
                    alt="Calendar"
                    width="26"
                    height="28"
                  >
                  01.01.2020
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11:00 - 12:00 AM
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11 min
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Math
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  California
                  Baptist University

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Planned

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  60 min
                </p>
              </td>
              <td>
                <button class="lesson-status-btn lesson-status-btn__end">
                  End
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p class="tbody-text">
                  Ann Smith
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  $25
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  <img
                    src="assets/images/calendar.png"
                    alt="Calendar"
                    width="26"
                    height="28"
                  >
                  01.01.2020
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11:00 - 12:00 AM
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11 min
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Math
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  California
                  Baptist University

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Planned

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  60 min
                </p>
              </td>
              <td>
                <div class="lessons-table-btn-wrapper">
                  <button class="lesson-status-btn lesson-status-btn__start">
                    Start
                  </button>
                  <button class="lesson-status-btn lesson-status-btn__cancel">
                    Cancel
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <p class="tbody-text">
                  Ann Smith
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  $25
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  <img
                    src="assets/images/calendar.png"
                    alt="Calendar"
                    width="26"
                    height="28"
                  >
                  01.01.2020
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11:00 - 12:00 AM
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11 min
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Math
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  California
                  Baptist University

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Planned

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  60 min
                </p>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="tbody-text">
                  Ann Smith
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  $25
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  <img
                    src="assets/images/calendar.png"
                    alt="Calendar"
                    width="26"
                    height="28"
                  >
                  01.01.2020
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11:00 - 12:00 AM
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11 min
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Math
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  California
                  Baptist University

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Planned

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  60 min
                </p>
              </td>
              <td>
                <button class="lesson-status-btn lesson-status-btn__end">
                  End
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <p class="tbody-text">
                  Ann Smith
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  $25
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  <img
                    src="assets/images/calendar.png"
                    alt="Calendar"
                    width="26"
                    height="28"
                  >
                  01.01.2020
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11:00 - 12:00 AM
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  11 min
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Math
                </p>
              </td>
              <td>
                <p class="tbody-text">
                  California
                  Baptist University

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  Planned

                </p>
              </td>
              <td>
                <p class="tbody-text">
                  60 min
                </p>
              </td>
              <td>
                <div class="lessons-table-btn-wrapper">
                  <button class="lesson-status-btn lesson-status-btn__start">
                    Start
                  </button>
                  <button class="lesson-status-btn lesson-status-btn__cancel">
                    Cancel
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>

<div class="add-lesson-wrapper modal-wrapper">
  <app-modal-schem *ngIf="isOpenAddLesson" (close)="isOpenAddLesson = false" [title]="'Add Lesson'">
    <app-add-lesson (onClose)="isOpenAddLesson = false"></app-add-lesson>
  </app-modal-schem>
</div>


