<div class="grid-container">
  <app-register-header></app-register-header>
  <main class="content-wrapper">
    <!--================ Section Register Form Area Start ================-->
    <section class="register-form-wrapper">
      <!--================ Section Tutor Register Form Step Area Start ================-->
      <section class="tutor-step-wrapper">
        <div>
          <h2 class="register-form-wrapper__title">
            Tutor sign up steps
          </h2>
          <app-steps [stepNumber]="(stepNumber$ | async) || 1" [stepCount]="3"></app-steps>
        </div>
      </section>
      <!--================ Section Tutor Register Form Step Area End ================-->

      <div class="flex-container-center">
        <div class="flex-item ">
          <router-outlet></router-outlet>
        </div>
      </div>
    </section>
    <!--================ Section Register Form Area End ================-->
  </main>

</div>
