<section class="calendar-wrapper start-lesson-wrapper">
  <h3 class="section-subtitle">{{title}}</h3>
  <div class="flex-container">
    <form class="flex-container-justify-start calendar-datepicker-wrappers" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="date-picker-wrapper-for-calendar">
        <h2 class="date-picker-label">From</h2>
        <mat-form-field appearance="fill"
                        class="date-range-wrapper
                  custom-date-range-wrapper">
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>
              <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <input matInput
                 [matDatepicker]="picker" formControlName="from"
                 (click)="picker.open()"
                 placeholder="MM/dd/yyyy*"
          >
        </mat-form-field>
      </div>
      <div class="date-picker-wrapper-for-calendar">
        <h2 class="date-picker-label">To </h2>
        <mat-form-field appearance="fill" class="date-range-wrapper
                  custom-date-range-wrapper">
          <mat-datepicker-toggle matSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon>
              <img src="assets/images/calendar.svg" alt="Calendar" width="26" height="28">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
          <input matInput [matDatepicker]="picker1" formControlName="to"
                 (click)="picker1.open()"
                 placeholder="MM/dd/yyyy*"
          >
        </mat-form-field>
      </div>
      <div class="p-relative">
        <app-select [label]="'status*'" formControlName="statusId" [list]="lessonStatuses$ | async"></app-select>
      </div>
      <button class="
      settings-form-button__with-border
      button-border--green
      flex-container-center" type="submit">
        Show
      </button>
    </form>
    <button class="btn-add-less flex-container-center" (click)="isOpenAddLesson = true" *ngIf="userType === 'tutor'">Add Lesson</button>
  </div>
  <div class="calendar-content">
    <div class="tWrap">
      <div class="tWrap__head">
        <table>
          <thead>
          <tr>
            <th>
              <h3 class="calendar-table-thead">
                {{userType === 'tutor' ? 'Student' : 'Tutor' }}
              </h3>
            </th>
            <th>
              <h3 class="calendar-table-thead">
                Hourly rate
              </h3>
            </th>
            <th>
              <h3 class="calendar-table-thead">
                Date
              </h3>
            </th>
            <th>
              <h3 class="calendar-table-thead">
                Lesson
                start time
              </h3>
            </th>
            <th>
              <h3 class="calendar-table-thead">
                Projected
                lesson duration
              </h3>
            </th>
            <th>
              <h3 class="calendar-table-thead">
                Subject
              </h3>
            </th>
            <th>
              <h3 class="calendar-table-thead">
                Lesson plan
              </h3>
            </th>
            <th>
              <h3 class="calendar-table-thead">
                Status
              </h3>
            </th>
            <th>
              <h3 class="calendar-table-thead">
                Actual
                lesson duration
              </h3>
            </th>
            <th>
            </th>
          </tr>
          </thead>
        </table>
      </div>
      <div class="tWrap__body">
        <table>
          <tbody>
          <tr *ngFor="let lesson of (lessonSchedule$ | async)">
            <td>
              <p class="tbody-text" data-toggle="tooltip" data-placement="top" title="${{lesson.student}}">
                {{userType === 'tutor' ? lesson.student : lesson.tutor }}
              </p>
            </td>
            <td>
              <p class="tbody-text">
                ${{lesson.hourlyRate}}
              </p>
            </td>
            <td>
              <p class="tbody-text">
                <img
                  src="assets/images/calendar.png"
                  alt="Calendar"
                  width="26"
                  height="28"
                >
                {{lesson.lessonDate | date : 'shortDate'}}
              </p>
            </td>
            <td>
              <p class="tbody-text">
                {{lesson.lessonInterval}}
              </p>
            </td>
            <td>
              <p class="tbody-text">
                {{lesson.duration}}
              </p>
            </td>
            <td>
              <p class="tbody-text" data-toggle="tooltip" data-placement="top" title="${{lesson.subject}}">
                {{lesson.subject}}
              </p>
            </td>
            <td>
              <p class="tbody-text" data-toggle="tooltip" data-placement="top" title="${{lesson.lessonPlan}}">
                {{lesson.lessonPlan}}
              </p>
            </td>
            <td>
              <p class="tbody-text" data-placement="top" title="${{lesson.status}}">
                {{lesson.status}}
              </p>
            </td>
            <td>
              <p class="tbody-text">
                {{lesson.actualDuration}}
              </p>
            </td>
            <td>
              <div class="lessons-table-btn-wrapper">
                <button class="lesson-status-btn  lesson-status-btn__start flex-container-center"
                        *ngIf="lesson.start">
                  {{userType === 'tutor' ? 'Start' : 'Join' }}
                </button>
                <button class="lesson-status-btn lesson-status-btn__end flex-container-center"
                        (click)="isOpenEndLesson = true" *ngIf="lesson.end">
                  End
                </button>
                <button class="lesson-status-btn lesson-status-btn__cancel flex-container-center"
                        (click)="openCancelLessonModal(lesson.id)"
                        *ngIf="lesson.cancel">
                  Cancel
                </button>
              </div>
            </td>
          </tr>
          <!-- In case the data is missing-->
          <tr class="without-data" *ngIf="!(lessonSchedule$ | async)?.length && formSubmitted">
            <td>
              <h3 class="no-data-message">
                Sorry, there are no lessons matching the search criteria
              </h3>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Start Lessons Wrapper -->
<div class="lessons-modal-container modal--large-width modal-wrapper">
  <app-modal-schem *ngIf="isOpenEndLesson" (close)="isOpenEndLesson = false" [title]="'End Lesson'">
    <app-end-lesson-modal (onCloe)="isOpenEndLesson = false"></app-end-lesson-modal>
  </app-modal-schem>
</div>
<div class="lessons-modal-container modal--middle-width modal-wrapper ">
  <app-modal-schem *ngIf="isOpenCancelLesson" (close)="isOpenCancelLesson = false">
    <app-cancel-lesson-modal (onCloe)="isOpenCancelLesson = false"
                             [lessonId]="selectedLessonId"></app-cancel-lesson-modal>
  </app-modal-schem>
</div>
<div class="lessons-modal-container modal-wrapper">
  <app-modal-schem *ngIf="isOpenAddLesson" (close)="isOpenAddLesson = false" [title]="'Add Lesson'">
    <app-add-lesson (onClose)="isOpenAddLesson = false"></app-add-lesson>
  </app-modal-schem>
</div>
