@import "src/assets/css/variables";

.start-lesson-wrapper {
  margin: 18px 0 160px 0;

  .date-picker-label {
    margin-bottom: 0;
  }

  .calendar-datepicker-wrappers {
    margin-bottom: 28px;
  }

  .calendar-content {
    th {
      background-color: #F6F9FF;
      height: 73px;

      &:first-child {
        width: 150px;
      }

      &:last-child {
        background-color: unset;
        border: 0;
      }

      .calendar-table-thead {
        white-space: pre-wrap;
      }
    }

    td {
      height: 71px;

      &:first-child {
        width: 150px;
        background-color: unset;
      }

      &:last-child {
        justify-content: flex-start;
        padding: 0 8px;
        border: 1px solid $clr-ntrl-min;
        background-color: #F6F9FF;
      }

      .tbody-text {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 10px;

        img {
          width: 26px;
          height: 26px;
          margin-right: 16px;
        }
      }
    }

    .lessons-table-btn-wrapper {
      display: flex;
      grid-gap: 18px;
    }

    .lesson-status-btn {
      width: 70px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      border: 0;
      font: $type-light normal $type-small $Roboto-sans;

      &.lesson-status-btn__start {
        background-color: #7CED80;
        color: $clr-ntrl-max;
      }

      &.lesson-status-btn__end {
        background-color: #FF2929;
        color: $clr-ntrl-min;
      }

      &.lesson-status-btn__cancel {
        background-color: #A8A8A8;
        color: $clr-ntrl-min;
      }
    }
  }
}
