@import "src/assets/css/variables";

.start-lesson-wrapper {
  margin: 18px 0 160px 0;

  .date-picker-label {
    margin-bottom: 0;
  }

  .calendar-datepicker-wrappers {
    margin-bottom: 28px;
  }

  .calendar-content {
    th {
      background-color: #F6F9FF;
      height: 73px;

      &:first-child {
        width: 150px;
      }

      &:last-child {
        background-color: unset;
        border: 0;
      }

      .calendar-table-thead {
        white-space: pre-wrap;
      }
    }

    td {
      height: 71px;

      &:first-child {
        width: 150px;
        background-color: unset;
      }

      &:last-child {
        justify-content: flex-start;
        padding: 0 8px;
        border: 1px solid $clr-ntrl-min;
        background-color: #F6F9FF;
      }

      .tbody-text {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 10px;

        img {
          width: 26px;
          height: 26px;
          margin-right: 16px;
        }
      }
    }

    .lessons-table-btn-wrapper {
      display: flex;
      grid-gap: 18px;
    }
  }
}
