<!--================ Header Area Start =================-->
<app-header></app-header>
<!--================ Header Area End =================-->

<main class="user-profile-wrapper">
  <div class="profile-gradient"></div>
  <div class="profile-container">
    <section class="profile-main-info-wrapper">
      <div class="file-upload-wrapper">
        <div class="upload-image-box">
          <div class="image-upload-wrap">
            <div></div>
              <div class="drag-text" *ngIf="!studentInfo?.photo">
                <img src="assets/images/photo-camera%201.png" alt="Upload Photo"
                     width="33" height="33">
              </div>
              <img  *ngIf="studentInfo?.photo" [src]="studentInfo?.photo" alt="student photo">
          </div>
        </div>
      </div>
      <div class="profile-cards">
        <h2 class="profile-cards__Info--title">
          {{studentInfo?.fullName}} <span> ({{studentInfo?.userName}})</span>
        </h2>
      </div>
    </section>
    <section class="profile-buttons justify-content-start">
      <button class="profile-buttons--item flex-container-center" (click)="openConversation()">
        <img src="assets/images/message.png" alt="Messages" width="51" height="50">
        Message
      </button>
    </section>

    <section class="profile-section" *ngIf="wrapUp">
      <h2 class="profile-section__title">
        Wrap up your profile
        <hr/>
      </h2>
      <div class="nested-info">
        <p class="profile-section__description">{{wrapUp}}</p>
        <button class="read-more" (click)="toggleContent()"
                *ngIf="wrapUp && wrapUp.length > limit">{{isWrapUpContentToggled ? 'read more' : 'read less'}}</button>
      </div>
    </section>
    <section class="profile-section" *ngIf="subjects?.length">
      <h2 class="profile-section__title">
        Subjects
        <hr/>
      </h2>
      <div class="nested-info without-side-padding">
        <div class="flex-container-justify-start grid-gap-54 grid-wrapper">
          <table class="profile-tabs-table">
            <tbody>
            <tr class="profile-tabs-table--row" *ngFor="let item of subjects">
              <td *ngIf="item?.category">
                <h2 class="profile-section--subtitle">Category</h2>
                <p class="profile-section--subDescription">
                  {{item.category}}
                </p>
              </td>
              <td *ngIf="item?.subject">
                <h2 class="profile-section--subtitle">Subject</h2>
                <p class="profile-section--subDescription">
                  {{item.subject}}
                </p>
              </td>
              <td *ngIf="item?.level">
                <h2 class="profile-section--subtitle">Level</h2>
                <p class="profile-section--subDescription">
                  {{item.level}}
                </p>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</main>






