@import "src/assets/css/variables";

.footer {
  min-height: 392px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  background-color: $main-brand-color;
  color: $clr-ntrl-min;

  &-part {
    padding: 0 4vw;

    &__title {
      margin-bottom: 18px;
      font-size: $type-base;
      line-height: 30px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }

  &-list__item {
    font: $type-light normal 15px/30px $Roboto-sans;
    font-size: $type-small;
    letter-spacing: 0.03em;
    text-transform: capitalize;

    a {
      color: $clr-ntrl-min;
    }
  }

  .footer-items-wrapper {
    flex-wrap: wrap;
    align-items: baseline;
    flex: 1;
    height: 100%;
    padding-top: 50px;
  }

  .copy-right {
    padding: 10px 0 4px;
    border-top: 1px solid;
    background: #4e699c;
    text-align: center;

    p {
      margin: 0;
    }
  }
}
