<footer class="footer">
  <div class="container flex-container-center">
    <div class="footer-item">
      <h5 class="footer-item__title">GET TO KNOW US</h5>
      <ul>
        <li class="footer-list__item">
          <a href="#">About us</a>
        </li>
        <li class="footer-list__item">
          <a href="#">Contact us</a>
        </li>
        <li class="footer-list__item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="footer-item">
      <h5 class="footer-item__title">lEARN WITH US</h5>
      <ul class="footer-list">
        <li class="footer-list__item">
          <a href="#">find u Tutor</a>
        </li>
        <li class="footer-list__item">
          <a href="#">Online Tutoring</a>
        </li>
        <li class="footer-list__item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
