<!--================ Footer Area Start =================-->
<footer class="footer">
  <div class="flex-container-center flex-wrap
  footer-items-wrapper
   justify-content-sm-start
   justify-content-lg-center justify-content-ld-start">
    <div class="footer-part">
      <h5 class="footer-part__title">GET TO KNOW US</h5>
      <ul class="footer-list">
        <li class="footer-list__item">
          <a [routerLink]="'aboutUs'">About us</a>
        </li>
        <li class="footer-list__item">
          <a [routerLink]="'contactUs'">Contact us</a>
        </li>
        <!--      <li class="footer-list__item">-->
        <!--        <a href="#">FAQ</a>-->
        <!--      </li>-->
      </ul>
    </div>
    <div class="footer-part">
      <h5 class="footer-part__title">Links</h5>
      <ul class="social-links">
        <li class="social-links__item">
          <a href="https://www.facebook.com/profile.php?id=100073284573796">
            <img
              src="assets/images/facebook.svg"
              alt="Facebook"
              width="22"
              height="41"
            >
          </a>
        </li>
        <li class="social-links__item">
          <a
            href="https://l.facebook.com/l.php?u=https%3A%2F%2Ftwitter.com%2FEduSophist%3Ffbclid%3DIwAR2QeH__hT_v8kiNMMsfKPGiRbW8_OhfroUeVOHernYU2V9fWzqkU8dqYKI&h=AT1l_XLsuN5P_NpkG2GmE1z4P-JrOGBOZruHq4XJXFlFaiS1gjo2GJQEBwnHufSsIg4tVkVyROsbNqPFdCYJRurGMG8JyNcybOm1wbrPhhwrvQOAdJDoVJ4nJZj6cULGgKYR0w">
            <img
              src="assets/images/twitter.svg"
              alt="Twitter"
              width="42"
              height="39"
            >
          </a>
        </li>
        <li class="social-links__item">
          <a
            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fsophisteducation%2F%3Fhl%3Den%26fbclid%3DIwAR3qdzr09j7RSPtyE7Zvqw3AsZKjP39NClZPWSBkOpsXiQdOOKzN0T76ZPM&h=AT1l_XLsuN5P_NpkG2GmE1z4P-JrOGBOZruHq4XJXFlFaiS1gjo2GJQEBwnHufSsIg4tVkVyROsbNqPFdCYJRurGMG8JyNcybOm1wbrPhhwrvQOAdJDoVJ4nJZj6cULGgKYR0w">
            <img
              src="assets/images/instagram.svg"
              alt="Instagram"
              width="41"
              height="41"
            >
          </a>
        </li>
        <li class="social-links__item">
          <a
            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.tiktok.com%2F%40sophistedu%3Flang%3Den%26fbclid%3DIwAR1Z2XIaa1HILvjJE7s0IjqvWgo9MrxW8L54Or9h6zx3GWcMVcIfoWwuEkA&h=AT1l_XLsuN5P_NpkG2GmE1z4P-JrOGBOZruHq4XJXFlFaiS1gjo2GJQEBwnHufSsIg4tVkVyROsbNqPFdCYJRurGMG8JyNcybOm1wbrPhhwrvQOAdJDoVJ4nJZj6cULGgKYR0w">
            <img
              src="assets/images/tiktok.svg"
              alt="TIK TOK"
              width="348"
              height="347"
            >
          </a>
        </li>
        <li class="social-links__item">
          <a
            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fsophist-education%2F%3Ffbclid%3DIwAR1OHoX-FzAI0KtP4BVbHg-q9KK-8odZTxy76eixxj5dSfNGgFAT4dgrhtk&h=AT1l_XLsuN5P_NpkG2GmE1z4P-JrOGBOZruHq4XJXFlFaiS1gjo2GJQEBwnHufSsIg4tVkVyROsbNqPFdCYJRurGMG8JyNcybOm1wbrPhhwrvQOAdJDoVJ4nJZj6cULGgKYR0w">
            <img
              src="assets/images/linkedin.svg"
              alt="LinkedIn"
              width="840"
              height="880"
            >
          </a>
        </li>
        <li class="social-links__item">
          <a
            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fyoutube.com%2Fchannel%2FUCyjz53-zoIApZ2yyrkN97sw%3Ffbclid%3DIwAR1rbosR1WuvR0rEYV576BuPXIQsBp289criyWiTEMWS3ffgFPz-8VcKH9s&h=AT2FDYyCP-rU23V2OFIWiSOICDBqWsA1a54HI9qtTMOUyIo_VUgw4a0Z39Gb66bVmNCKctxqZ70CFSEWDKIfUUBaYktGHUJQ8-snk9UY45NEL87SkhQPUW_Qi9-jCd5ATVQ2TA">
            <img
              src="../../../assets/images/youtube.svg"
              alt="LinkedIn"
              width="600"
              height="600"
            >
          </a>
        </li>
      </ul>
      <!--    <h5 class="footer-part__title">lEARN WITH US</h5>-->
      <!--    <ul class="footer-list">-->
      <!--      <li class="footer-list__item">-->
      <!--        <a [routerLink]="'searchTutor'">find u Tutor</a>-->
      <!--      </li>-->
      <!--      <li class="footer-list__item">-->
      <!--        <a href="#">Online Tutoring</a>-->
      <!--      </li>-->
      <!--      <li class="footer-list__item">-->
      <!--        <a href="#">FAQ</a>-->
      <!--      </li>-->
      <!--    </ul>-->
    </div>
  </div>

  <div class="copy-right">
    <p>2022 @Sophist All rights reserved Privacy Policy Disclaimer</p>
  </div>
</footer>
<!--================ Footer Area End =================-->
