<div class="flex-container">
  <div class="flex-item flex-item-step-min-length">
    <div class="margin-left-space">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
        <fieldset>
          <legend class="form-legend">Enter your information</legend>
          <label for="first-name" class="form-label">
            <input id="first-name" class="form-input" type="text" placeholder="*first name" formControlName="firstName">
            <span class="error-message" *ngIf="form.get('firstName')?.errors && form.get('firstName')?.touched">Please fill in your first name</span>
          </label>
          <label for="last-name" class="form-label">
            <input id="last-name" class="form-input" type="text" placeholder="*last name" formControlName="lastName">
            <span class="error-message" *ngIf="form.get('lastName')?.errors && form.get('lastName')?.touched">Please fill in your last name</span>
          </label>
          <label for="user-name" class="form-label">
            <input id="user-name" class="form-input" type="text" placeholder="*user name"
                   formControlName="userName">
            <span class="error-message" *ngIf="form.get('userName')?.errors && form.get('userName')?.touched">Please fill in your username</span>
            <span class="error-message" *ngIf="usernameIsExist$ | async">This username is already registered on Sophist</span>
          </label>
          <div class="gender fixed-width form-label">
            <app-select [label]="'*gender'" [list]="genderList$ | async" formControlName="gender"></app-select>
            <span class="error-message" *ngIf="form.get('gender')?.errors && form.get('gender')?.touched">Please specify your gender</span>
          </div>
          <div class="p-relative form-label">
            <app-select [label]="'*time zone'" formControlName="preferredTimeZone" [list]="timeZones$ | async" [keyName]="'displayName'"></app-select>
            <span class="error-message" *ngIf="form.get('preferredTimeZone')?.errors && form.get('preferredTimeZone')?.touched">This field is required</span>
          </div>
          <label for="email" class="form-label">
            <input id="email" class="form-input" autocomplete="username" type="email"
                   placeholder="*email address" formControlName="email">
            <span class="error-message" *ngIf="form.get('email')?.errors?.required && form.get('email')?.touched">Please enter your email address</span>
            <span class="error-message" *ngIf="form.get('email')?.errors?.pattern && form.get('email')?.touched">Please provide a valid email address</span>
            <span class="error-message" *ngIf="emailIsExist$ | async">This email is already registered on Sophist</span>
          </label>
          <label for="password" class="form-label">
            <input id="password" class="form-input" autocomplete="new-password" type="password"
                   placeholder="*password" formControlName="password">
            <span class="error-message" *ngIf="form.get('password')?.errors && form.get('password')?.touched">Please create your password</span>
          </label>
          <label for="re-enter-password" class="form-label">
            <input id="re-enter-password" class="form-input" autocomplete="new-password"
                   type="password"
                   placeholder="*re-enter password" formControlName="rePassword">
            <span class="error-message"  *ngIf="form.get('rePassword')?.errors?.required && form.get('rePassword')?.touched">Please create your password</span>
            <span class="error-message" *ngIf="form?.errors?.notSame  && form.get('rePassword')?.touched && !form.get('rePassword')?.errors?.required">Passwords are not the same</span>
          </label>
          <span class="student-form-warning">Be informed that only your initials will be visible to tutors</span>
        </fieldset>
        <div class="flex-container-center button-wrapper">
          <button type="submit" class="sophist-btn flex-container-center next-btn">NEXT</button>
        </div>
      </form>
    </div>
  </div>
  <div class="flex-item">
    <img src="assets/images/studentRegister.png"
         alt="Register illustration"
         width="100"
         height="100">
  </div>
</div>
