@import "src/assets/css/variables";

.register-form {
  width: 418px;
}

.student-form-warning {
  display: inline-block;
  margin-top: 20px;
  font: $type-light normal $type-small $Segoe-UI-sans;
  line-height: 21px;
  color: #ffc107;
}

.button-wrapper {
  margin-top: 30px;
}
