// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$school-primary: mat.define-palette(mat.$indigo-palette);
$school-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$school-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$school-theme: mat.define-light-theme((
  color: (
    primary: $school-primary,
    accent: $school-accent,
    warn: $school-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($school-theme);

@import "assets/css/variables";
@import "assets/css/normalize";
@import "assets/css/reset";
@import "assets/css/animation";
@import "assets/css/layouts/header";
@import "assets/css/general";
@import "assets/css/components/button";
@import "assets/css/components/input";
@import "assets/css/components/step";
@import "assets/css/components/date-picker";
@import "assets/css/components/dropdown";
@import "assets/css/components/modal";
@import "assets/css/components/upload-file";
@import "assets/css/tutor-sign-up";
@import "assets/css/tutorSettingPages/tutorSettingPages";
@import "assets/css/register";


@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url(./assets/fonts/SegoeUI.ttf) format("truetype");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-select {
  width: 100%;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.btn-blue {
  background: #1E81CE;
  border-radius: 15px;
  font-family: Segoe UI;
  font-style: normal;
  width: auto;
  padding: 13px 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF !important;
  white-space: nowrap;
}
