<div class="tutor-settings-nested-page">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="tutor-settings-nested-page__form tutor-settings-nested-page__form--fixed--width">
    <div class="setting-form-input-wrapper">
      <label for="current-password" class="form-label">
        <input id="current-password"
               class="form-input"
               name="current-password"
               required
               autocomplete="current-password"
               type="password"
               placeholder="Current Password*"
               formControlName="currentPassword">
        <span class="error-message" *ngIf="form.get('currentPassword')?.errors?.required && form.get('currentPassword')?.touched">The Current Password field is required.</span>
        <span class="error-message" *ngIf="wrongPassword">Password is incorrect</span>
      </label>
      <label for="new-password" class="form-label">
        <input id="new-password"
               class="form-input"
               name="new-password"
               required
               autocomplete="current-password"
               type="password"
               placeholder="New Password*"
               formControlName="password">
        <span class="error-message" *ngIf="form.get('password')?.errors?.required && form.get('password')?.touched">The New Password field is required.</span>
        <span class="error-message" *ngIf="form.get('password')?.errors?.minlength && !form.get('password')?.errors?.cannotContainSpace && form.get('password')?.touched">Password should be at least 8 characters</span>
        <span class="error-message" *ngIf="form.get('password')?.errors?.cannotContainSpace && form.get('password')?.touched">Password can not contain space</span>
        <span class="error-message" *ngIf="form.get('password')?.errors?.pattern && !form.get('password')?.errors?.cannotContainSpace && form.get('password')?.touched && !form.get('password')?.errors?.minlength">Password should contain at least 1 digit and 1 symbol</span>
      </label>
      <label for="confirm-new-password" class="form-label">
        <input id="confirm-new-password"
               class="form-input"
               name="confirm-new-password"
               required
               autocomplete="current-password"
               type="password"
               placeholder="Confirm New Password*"
               formControlName="rePassword">
        <span class="error-message" *ngIf="form?.errors?.notSame && form.get('rePassword')?.touched && !form.get('rePassword')?.errors?.required">Passwords are not the same</span>
        <span class="error-message" *ngIf="form.get('rePassword')?.errors?.required && form.get('rePassword')?.touched">The Confirm New Password field is required.</span>
      </label>
    </div>
    <button class="settings-form-button">Change password</button>
  </form>
</div>
