<!--================ Section Tutor Sign Up Second Step Area Start ================-->
<legend class="form-legend student-form-title">Create Your Profile</legend>
<section class="tutor-sign-up-wrapper">
  <div class="tutor-sign-up-form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset>
        <ul class="user-sign-up-list">
          <li class="user-sign-up-list__item">
            <h3 class="main-question upload-photo-title mb-15">Profile photo</h3>
            <div class="file-upload-wrapper">
              <div class="upload-image-box">
                <div class="image-upload-wrap" [class.image-uploaded]="userImage">
                  <input class="file-upload-input" type='file'
                         accept="image/*" (change)="selectFile($event)"/>
                  <div class="drag-text">
                    <img src="assets/images/photo-camera%201.png" alt="Upload Photo" *ngIf="!userImage"
                         width="33" height="33">
                  </div>
                  <img [src]="userImage" alt="Upload Photo" *ngIf="userImage">
                </div>
                <div class="file-upload-content">
                  <img class="file-upload-image" src="#" alt="your image"/>
                  <div class="image-title-wrap">
                    <button type="button" onclick="removeUpload()" class="remove-image">
                      Remove
                      <span class="image-title">Uploaded Image</span></button>
                  </div>
                </div>
              </div>
              <div class="upload-image-requirement">
                <p class="form-item-notification" [class.text-danger]="isSmallSizeForImage">Minimum size 200 x 200 pixels. </p>
                <p class="form-item-notification">
                  You can upload a photo later or change your photo at any time.</p>
              </div>
            </div>
          </li>
          <li class="user-sign-up-list__item">
            <h3 class="main-question">Wrap up your profile*</h3>
            <label for="bio" class="form-label form-label--textarea">
                <textarea id="bio" class="form-textarea" type="text" rows="5" cols="3"
                          placeholder="a paragraph or more about yourself*" formControlName="wrapUp">
                </textarea>
              <span class="error-message" *ngIf="form.get('wrapUp')?.errors?.required && form.get('wrapUp')?.touched">This is a required field</span>
            </label>
            <p class="form-item-notification">Briefly describe what you need help with.</p>
            <p class="form-item-notification" [class.text-danger]="(form.get('wrapUp')?.errors?.minlength || form.get('wrapUp')?.errors?.maxlength) && form.get('wrapUp')?.touched">Your free response must be between 50 and 2000 characters. </p>
          </li>
        </ul>
        <div class="flex-container-center button-wrapper button-wrapper__mt">
          <button type="button" class="sophist-btn flex-container-center" (click)="previousStep()">PREVIOUS</button>
          <button type="submit" class="sophist-btn flex-container-center next-btn">NEXT</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
<!--================ Section Tutor Sign Up Second Step Area End ================-->
