<section class="profile-tabs-wrapper">
  <h3 class="profile-tabs-notification">
    Please choose your subject
  </h3>
  <table class="profile-tabs-table table-with-pt">
    <tbody>
    <tr class="profile-tabs-table--row">
      <td>
        <h3 class="profile-tabs-table--row__title">Category</h3>
        <p class="profile-tabs-table--row__description">Languages</p>
      </td>
      <td>
        <h3 class="profile-tabs-table--row__title">Subject</h3>
        <p class="profile-tabs-table--row__description">Polish</p>
      </td>
      <td>
        <h3 class="profile-tabs-table--row__title">Level</h3>
        <p class="profile-tabs-table--row__description">Intermediate</p>
      </td>
    </tr>
    <tr class="profile-tabs-table--row">
      <td>
        <h3 class="profile-tabs-table--row__title">Category</h3>
        <p class="profile-tabs-table--row__description">Natural Sciences</p>
      </td>
      <td>
        <h3 class="profile-tabs-table--row__title">Subject</h3>
        <p class="profile-tabs-table--row__description">Biology</p>
      </td>
    </tr>
    </tbody>
  </table>
</section>
