<section class="profile-tabs-wrapper">
  <table class="profile-tabs-table table-with-pt">
    <tbody>
    <tr class="profile-tabs-table--row" *ngFor="let item of subjects$ | async">
      <td *ngIf="item.category">
        <h3 class="profile-tabs-table--row__title">Category</h3>
        <p class="profile-tabs-table--row__description">{{item.category}}</p>
      </td>
      <td *ngIf="item.subject">
        <h3 class="profile-tabs-table--row__title">Subject</h3>
        <p class="profile-tabs-table--row__description">{{item.subject}}</p>
      </td>
      <td *ngIf="item.level">
        <h3 class="profile-tabs-table--row__title">Level</h3>
        <p class="profile-tabs-table--row__description">{{item.level}}</p>
      </td>
    </tr>
    </tbody>
  </table>
</section>
