<div class="tutor-settings-nested-page">
  <form action="" class="tutor-settings-nested-page__form tutor-settings-nested-page__form--fixed--width">
    <div class="setting-form-input-wrapper">
      <label for="current-password" class="form-label">
        <input id="current-password"
               class="form-input"
               name="current-password"
               required
               autocomplete="current-password"
               type="password"
               placeholder="*Current Password"
               formControlName="currentPassword">
        <span class="error-message">The Current Password field is required.</span>
      </label>
      <label for="new-password" class="form-label">
        <input id="new-password"
               class="form-input"
               name="new-password"
               required
               autocomplete="current-password"
               type="password"
               placeholder="*New Password"
               formControlName="newPassword">
        <span class="error-message">The New Password field is required.</span>
      </label>
      <label for="confirm-new-password" class="form-label">
        <input id="confirm-new-password"
               class="form-input"
               name="confirm-new-password"
               required
               autocomplete="current-password"
               type="password"
               placeholder="*Confirm New Password"
               formControlName="confirmNewPassword">
        <span class="error-message">The Confirm New Password field is required.</span>
      </label>
    </div>
    <button class="settings-form-button">Change password</button>
  </form>
</div>
